//
// Base styles

$alert-padding-v: 12px;
$alert-padding-h: 18px;

.c-alert {
  padding: $alert-padding-v $alert-padding-h;
  margin-bottom: 1em;
  border: 1px solid transparent;
  position: relative;

  @include style-variant($base-alert-color-text, $base-alert-color-bg, $base-alert-color-border);

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Headings for larger alerts
.c-alert-heading {
  margin-top: 0;

  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.c-alert-link {
  font-weight: 400;
}

// Dismissible alerts
// Expand the right padding and account for the close button's positioning.
.c-alert-dismissible {
  padding-right: 2.5em;
}

// Adjust close link position
.close {
  cursor: pointer;
  position: absolute;
  padding: $alert-padding-v;
  right: 0;
  top: 0;

  &:hover,
  &:focus {
    opacity: black;
  }
}

.c-alert-global {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;

  &.active {
    display: inline;
  }

  &.fixed {
    position: fixed;
  }
}