// breadcrumbs
//
.c-breadcrumb-bar {
  padding: 0.5em 0;

  @extend %o-list-inline;

  .link {
    color: $primary-color;

    @extend %u-font-no-underline;
  }
}

.c-breadcrumb-bar__item + .c-breadcrumb-bar__item {
  &::before {
    @extend %list-inline__delimited--content;
  }
}

.c-breadcrumb-bar__item.no-link {
  &::before {
    color: $cool-grey;
  }
}

.c-breadcrumb-bar__item + .c-breadcrumb-bar__item.has-link {
  &::before {
    color: $primary-color;
  }
}