.c-frame-wrapper {
    width: 250px;
    height: 100px;
    font-size:11px;
    position: relative;
    @include clearfix();
    @include mq($until: md) {
      @include center(x);
    }
    color: $dark-grey-lighten-70;
    margin: 20px 0;
}

.c-frame-tl {
    top: 0;
    left: 0;
    position: absolute;
    width:10px;
    height:10px;
    border-width: 3px;
    border-style: solid none none solid;
    border-color: $primary-color;
}

.c-frame-tr {
    top: 0;
    right: 0;
    position: absolute;
    width:10px;
    height:10px;
    border-width: 3px;
    border-style: solid solid none none;
    border-color: $primary-color;
}

.c-frame-br {
    bottom: 0;
    right: 0;
    position: absolute;
    width:10px;
    height:10px;
    border-width: 3px;
    border-style: none solid solid none;
    border-color: $primary-color;
}

.c-frame-bl {
    bottom: 0;
    left: 0;
    position: absolute;
    width:10px;
    height:10px;
    border-width: 3px;
    border-style: none none solid solid;
    border-color: $primary-color;
}

.c-frame-content {
    width:100%;
    @include center(xy, abs);
    text-align: center;
}
