$dropdown-line-height: 1.7;
$dropdown-pad-x: $default-pad-x;
$dropdown-pad-y: $default-pad-y;

// Dropdown menus
// --------------------------------------------------
.c-btn-split-dropdown .c-dropdown {
  display: inline-block;
}

// The dropdown wrapper (div)
.c-dropup,
.c-dropdown {
  position: relative;
  display: inline-block;
}

.o-btn-group-vertical .c-dropup,
.o-btn-group-vertical .c-dropdown {
  display: block;
}

.c-dropdown-menu {
  // Prevent the focus on the dropdown toggle when closing dropdowns
  outline: 0;
}

// The dropdown menu (ul)
.c-dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 100%;

  // display none by default, but block on "open" of the menu
  display: none;
  min-width: 160px;
  padding: $dropdown-pad-y 0;
  margin: 2px 0 0;
  background-color: $white;
  border: 1px solid $cool-grey;

  // Ensures proper alignment if parent has it changed (e.g., modal footer)
  text-align: left;
  box-shadow: 0px 3px 0px -1px rgba($black, 0.1);

  // Links within the dropdown menu
  > li > a {
    clear: both;
    display: block;
    padding: $dropdown-pad-y $dropdown-pad-x;
    font-weight: normal;
    line-height: $dropdown-line-height;
    white-space: nowrap;

    // prevent links from randomly breaking onto new lines
    text-decoration: none;
  }

  .separator + .dropdown-header {
    margin-top: 0.5em;
    background-color: #eee;
  }

  // Dividers (basically an hr) within the dropdown
  // .divider {
  //   height: 1px;
  //   margin: 9px 0;
  //   overflow: hidden;
  //   background-color: #e5e5e5;
  // }
}

// Hover/Focus state
.c-dropdown-menu > li > a {
  &:hover,
  &:focus {
    background-color: $light-grey-hover;
  }
}

// Active state
.c-dropdown-menu > .active > a {
  color: $primary-color;
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.c-dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: $cool-grey;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .c-dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Dropdown o-section headers
.dropdown-header {
  display: block;
  padding: $dropdown-pad-y $dropdown-pad-x;
  font-size: 90%;
  font-weight: bold;
  white-space: nowrap;
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

// Menu positioning
//
// Add this class to `.c-dropdown-menu` to flip the alignment of the dropdown

.c-btn-split-dropdown {
  // split button is left aligned
  .c-dropdown-menu {
    right: auto;
    left: 0;
  }
}

.c-dropdown-menu {
  // default - right by default
  left: auto;
  right: 0;
}

.c-dropdown-menu.c-dropdown-menu-block {
  left: 0;
  right: 0;
}

.c-dropdown-menu.c-dropdown-menu-left {
  left: 0;
  right: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?

.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    content: "";
  }

  // Different positioning for bottom up menu
  .c-dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}

// Caret placement
//

.c-btn-dropdown {
  position: relative;
}

// target the non split version of the dropdown
:not(.c-btn-split-dropdown) > .c-dropdown {
  .c-btn-dropdown {
    padding-right: 3em;
  }

  .caret {
    margin-left: 1em;
    right: 1em;

    @include center(y, abs);
  }
}


// target the split version of the dropdown
.c-btn-split-dropdown {
  .c-dropdown {
    margin-left: -0.1em;
  }
  .c-btn-dropdown {
    .caret {
      margin-left: 0px;
      position: initial;
    }
  }
}

// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

// @media (min-width: @grid-float-breakpoint) {
//   .navbar-right {
//     .c-dropdown-menu {
//       .c-dropdown-menu-right();
//     }
//     // Necessary for overrides of the default right aligned menu.
//     // Will remove come v4 in all likelihood.
//     .c-dropdown-menu-left {
//       .c-dropdown-menu-left();
//     }
//   }
// }