// @todo - either make this reusable, or duplicate it...
@mixin black-link {
  color: $base-text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $primary-color-hover;
  }
}

.c-navbar {

  @include border-tb-default(2px);
  .navbar--top-item {
    text-transform: uppercase;
    > a {
      display: inline-block;
      line-height: 4em;
      // padding: 0 1em;
      color: $base-text-color;
      text-decoration: none;
      &.active,
      &:hover {
        // border-bottom: 2px solid $primary-color;
      }
    }
  }
  @extend .justify-parent;
  .navbar--top-item {
    @extend .justified-child;
    font-size: rem-calc(12);
  }
}

// todo - sort these for oocs, vars, naming etc
.sub-nav {
  // padding: 15px; // disabled while syling off canvas
  text-transform: initial;
  .sub-nav-title {
    @extend .u-font-sec;
    @extend .h4;
    @include mq($from: lg) {
      // todo - revisit
      color: $primary-color;
      margin: 1em 0 0.75em;
      border-bottom: 1px solid $cool-grey;
    }
  }
  .sub-nav-header {
    @extend .u-font-sec;
    color: $primary-color;
  }
}

.sub-nav-group {
  outline: 1px solid red;
  width: auto;
  .sub-nav-item a {
    @include black-link;
    @include font-size(14px, 1.8);
  }
}


.c-navbar {
  @include mq($from: lg) {
    padding: 0 2rem;
  }
}

