/* Rudimentary mega menu CSS for demonstration */


/* should be extended for dropdowns, selects etc */

// styles for off canvas version - < 1024px
@include mq($until: lg) {
  .c-navbar-container {
    @include fixed(top 0 bottom 0 left -85%);
    width: 85%;
    z-index: 5;
    border-right: 1px solid #aaa;
    &.active {
      left: 0;
    }
  }
  &.active .navbar--top-item {
    display: block;
    a {
      display: block;
    }
  }
  .sub-nav {
    display: block;
  }
  .sub-nav-header {
    display: none;
  }
  .sub-nav-item {
    display: none;
    &.open {
      display: block;
    }
  }
  .sub-nav-item--list {
    display: none;
  }
  .sub-nav-group {
    display: block;
  }
  .sub-nav-title .open {
    + .sub-nav-item--list {
      display: block;
    }
  }
}
/* mega menu list */

.c-navbar {
  position: relative;
  // z-index: 15;
}

/* sub-navigation panel */

.sub-nav {
  @include mq($from: lg) {
    position: absolute;
  }
  display: none;
  left: 0;
  right: 0;
  // megamenu open nav border offset
  top: calc(100% + 1px);
}

.sub-nav-group {
  vertical-align: top;
}


/* sub-navigation panel open state */

.sub-nav.open {
  display: block;
  z-index: 5;
}


/* list of items within sub-navigation panel */


// typography for the mega menu and off canvas menu
.navbar--header span,
.navbar--top-item > .link,
.sub-nav-title > .link {
  text-transform: uppercase;
}

.navbar--header span,
.navbar--top-item > .link,
.sub-nav-item > .link {
  text-decoration: none;
  color: $dark-grey;
}
.sub-nav-title .link {
  text-decoration: none;
  @include mq($from: lg) {
    color: $primary-color;
    font-weight: bold;
  }
}
.sub-nav-item > .link {
  &:hover {
    text-decoration: underline;
  }
}

@include mq($until: lg) {
  .navbar--top-item > .link,
  .sub-nav-title > .link,
  .sub-nav-item > .link {
    padding: 1.25em 1em;
  }

  // off canvas icon management
  .link {
    position: relative;
  }

  // default icon rules & display
  .nav-menu-icons {
    margin-right: 0.4em;
    .icon:before {
      font-size: 1.5em;
      line-height: 0;
      color: $dark-grey-lighten-60;
      vertical-align: middle;
    }
    .icon-minus {
      display: none;
    }
    .icon-arr-forward {
      display: none;
    }
  }

  // always show bottom level gt symbol
  .sub-nav-item .icon-arr-forward {
    display: initial;
  }

  // left inset icons display rules
  .navbar--top-item, .sub-nav-title{
    > .link.open {
      .icon-plus {
        display: none;
      }
      .icon-minus {
        display: initial;
      }
      .icon-arr-forward {
        display: initial;
      }
    }
  }

  .c-navbar-container  .icon-minus {
    margin-right: 2em;
    &:after {
      content: '';
      @include absolute(top 0 bottom 0);
      width: 1px;
      background-color: $dark-grey-lighten-20;
      right: 46px;
    }
  }

}

@include mq($until: lg) {
  .c-navbar-container {
    background: $white;
  }
  .sub-nav {
    background: $dark-grey-lighten-10;
  }
  .sub-nav-item {
    background: $dark-grey-lighten-20;
  }

  .navbar--top-item {
    border-top: 1px solid $dark-grey-lighten-20;
  }
  .sub-nav-title, .sub-nav-item  {
    border-top: 1px solid $dark-grey-lighten-30;
  }
  .navbar--footer {
    border-top: 1px solid $dark-grey-lighten-20;
  }
}


// element bleed mixin - @todo - investigate why this breaks when moved to mixin file
@mixin bleed($bleedVal: 50vw) {
  margin-left: -$bleedVal;
  margin-right: -$bleedVal;
  padding-left: $bleedVal;
  padding-right: $bleedVal;
}

@include mq($from: lg) {
  .c-navbar {
    @include bleed(50vw);
    @include justify-parent;
  }
  .navbar--top-item {
    @include justified-child;
  }
  .sub-nav.open {
    @include bleed(50vw);
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
    max-width: 100%;
    border-bottom: 1px solid $secondary-color;
    // reset justify above
    text-align: left;
  }
}

// header flex rules
.sub-nav--group--container {
  @include mq($from: lg) {
    position: relative;
    // @TODO - this little ruleset will be used again...
    column-count: 5;
    column-gap: 1em;
    .sub-nav-group {
       // background: #f4f4f4; // todo - get rid
       display: inline-block;
       margin-bottom: 1em;
       width: 100%;
       -webkit-column-break-inside: avoid;
    }
    // end this little ruleset
  }
  @include mq($from: xl) {
    max-width: 1250px;
  }
  @include mq($from: lg, $until: xl) {
    max-width: 100vw;
  }
  margin: 0 auto;
}


@include mq($until: lg) {
  .sub-nav-group__image {
    display: none;
  }
}
@include mq($from: lg) {
  // rules for displaying the image within the menu
  // TODO - check final dimensions for image, using min height px values for abs image
  .sub-nav-group__image {
    width: 170px;
    @include absolute(top 0 right 0);
  }
  .sub-nav--group--container {
    padding-right: 185px;
    min-height: 500px;
  }
}

// temp

// html.body--modal-open {
  .js-clickcatcher {
    display: block;
    @include position(fixed, top 0 right 0 bottom 0 left 0);
    will-change: transform;
    background-color: rgba($black, 0.5);
    z-index: 3;
    &.js-clickcatcher-white {
    background-color: rgba($white, 0.5);
  }
  }


// }
.body--modal-open__nav {
  .accessible-navmenu.c-navbar {
    z-index: 10;
  }
}

@include mq($from: lg) {
  .nav-menu-icons {
    display: none;
  }
  .sub-nav {
    background-color: $white;
  }
}

@include mq($until: lg) {
  .c-navbar-container {
    overflow-y: auto;
  }
}
