// move this mixin to style-chunks
@mixin black-link {
  color: $base-text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $primary-color-hover;
  }
}
// end move this mixin to style-chunks



// off canvas display, padding rules
@include mq($until: lg) {
  .c-navbar {
    .navbar__header {
      overflow: hidden;
      padding: .5em .75rem;
      .icon {
        @include font-size(16px);
        color: $dark-grey;
      }
      > .link {
        display: inline-block;
      }

    }

    .navbar__footer {
      padding: .5rem .75rem;

      > .link {
        display: block;
        text-align: left;
        padding: .75em 0;
      }
    }
  }
}
// end off canvas display, padding rules



// meganav display, padding, text rules
@include mq($from: lg) {
  .navbar__header,
  .navbar__footer {
    display: none;
  }

  .c-navbar__container {
    @include border-tb-default(1px);
  }

  .navbar__top-item {
    display: inline-block;
    color: $base-text-color;
    text-decoration: none;

    > .link {
      display: inline-block;
      padding: 1.25em .5em;
      border-bottom: 2px solid transparent;

      &.open,
      &:hover {
        border-bottom: 2px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  .sub-nav-title {
    color: $primary-color;
    margin: .75em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid $cool-grey;
  }

  .sub-nav-header {
    @extend %u-font-sec;
    color: $primary-color;
  }
}
// end meganav display, padding, text rules



.nav-mobile-button {
  @extend %u-cf;

  @include mq($from: lg) {
    display: none;
  }
}



// indentation of menu items
@include mq($until: lg) {
  .sub-nav-group {
    width: auto;

    .sub-nav-title > .link {
      padding-left: 1.5em;
    }

    .sub-nav-item > .link {
      padding-left: 2.5em;
    }
  }
}
// end indentation of menu items