// @todo - either make this reusable, or duplicate it...
@mixin black-link {
  color: $base-text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $primary-color-hover;
  }
}

.c-navbar {
  .navbar--top-item {
    font-size: rem-calc(12);
  }
  .navbar--top-item .link {
    // display: inline-block;
    // color: $base-text-color;
    // text-decoration: none;
  }
}

@include mq($until: lg) {
  .c-navbar {
    @extend .justify-parent;
    .navbar--top-item {
      @extend .justified-child;
    }
    .navbar--header, .navbar--footer {
      overflow: hidden;
      padding: 0.5rem 0.75rem;
      > .link {
        display: inline-block;
        width: 33%;
        // outline: 1px solid red;
      }
    }
  }
}

@include mq($from: lg) {
  .c-navbar {
    @include border-tb-default(2px);
  }
  .navbar--header,
  .navbar--footer {
    display: none;
  }
  .navbar--top-item {
    > .link {
      display: inline-block;
      padding: 1.25em 0.5em;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $primary-color;
      }
    }
    // display: inline-block;
    // color: $base-text-color;
    // text-decoration: none;
  }
}




.nav-mobile-button {
  @extend .u-cf;
  @include mq($from: lg) {
    display: none;
  }
}

// todo - sort these for oocs, vars, naming etc
.sub-nav {
  // padding: 15px; // disabled while syling off canvas
  text-transform: initial;
  .sub-nav-title {
    @include mq($from: lg) {
      // todo - revisit
      color: $primary-color;
      margin: 0.75em 0;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $cool-grey;
    }
  }
  .sub-nav-header {
    @extend .u-font-sec;
    color: $primary-color;
  }
}

.sub-nav-group {
  width: auto;
  .sub-nav-item a {
    @include black-link;
    // @include font-size(14px, 1.8);
  }
}

.c-navbar {
  @include mq($from: lg) {
    // padding: 0 2rem;
  }
}
