/* Rudimentary mega menu CSS for demonstration */

/* should be extended for dropdowns, selects etc */

// styles for off canvas version - < 1024px
@include mq($until: lg) {
  .c-navbar__container {
    @include fixed(top 0 bottom 0 left -85%);

    width: 85%;
    z-index: 1050;

    &.active {
      left: 0;
    }
  }

  &.active .navbar__top-item {
    display: block;

    .link {
      display: block;
    }
  }

  .sub-nav {
    display: block;
  }

  .sub-nav-header {
    display: none;
  }

  .sub-nav-item {
    display: none;

    &.open {
      display: block;
    }
  }

  .sub-nav-item--list {
    display: none;
  }

  .sub-nav-group {
    display: block;
  }

  .sub-nav-title .open {
    + .sub-nav-item--list {
      display: block;
    }
  }
}


/* mega menu list */

.c-navbar {
  position: relative;
}

/* sub-navigation panel */

.sub-nav {
  display: none;

  @include mq($from: lg) {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 1px);

    // nav top border offset
  }


  &.open {
    display: block;
    z-index: 5;
  }
}

.sub-nav-group {
  vertical-align: top;
}

/* sub-navigation panel open state */

/* list of items within sub-navigation panel */

// typography for the mega menu and off canvas menu
.navbar__header span {
  @include font-size(10px);
}
.navbar__header span,
.navbar__top-item > .link,
.sub-nav-title > .link {
  text-transform: uppercase;
}

.navbar__header span,
.navbar__top-item > .link,
.sub-nav-item > .link {
  text-decoration: none;
  color: $dark-grey;
}

.sub-nav-title .link {
  text-decoration: none;

  @include mq($from: lg) {
    color: $primary-color;
    font-weight: bold;
  }
}

.sub-nav-item {
  @include mq($from: lg) {
    padding: 0.15em 0;

    > .link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include mq($until: lg) {
  .navbar__top-item,
  .sub-nav-title,
  .sub-nav-item {
    > .link {
      // pos:rel for positioning of icons
      position: relative;
      padding: 1.25em 1em;
      text-transform: uppercase;
    }
  }

  // default icon rules & display
  .navbar__nav-menu-icons {
    @include absolute(right 2em top 0 bottom 0);

    .icon:before {
      @include center(y, abs);

      font-size: 1.5em;
      line-height: 0;
      color: $dark-grey-lighten-60;
      vertical-align: middle;
    }

    // @todo - elements are mucky
    > span {
      width: 1.5em;
    }
  }

  // left inset icons display rules
  .navbar__top-item,
  .sub-nav-title {
    .icon-minus {
      display: none;
    }

    .icon-ui-forward {
      display: none;
    }

    .icon-plus {
      margin-right: .75em;
    }

    > .link.open {
      .icon-plus {
        display: none;
      }

      .icon-minus {
        display: initial;
        margin-right: 4em;
      }

      .icon-ui-forward {
        display: initial;
        margin-right: .75em;
      }
    }
  }

  .c-navbar .navbar__top-item {
    .icon {
      margin-right: .75em;
    }
  }

  .navbar__top-item {
    .link.open {
      padding-right: 7.5em;
    }
  }

  .sub-nav-title {
    .link {
      padding-right: 3.5em;

      &.open {
        padding-right: 7.5em;
      }
    }
  }

  .sub-nav-item.open {
    .link {
      padding-right: 2.5em;
    }
  }

  // always show bottom level gt symbol
  .sub-nav-item .icon-ui-forward {
    display: initial;
  }

  .c-navbar__container .icon-minus {
    &::after {
      @include absolute(top 0 bottom 0 right 2em);

      content: '';
      width: 1px;
      background-color: $dark-grey-lighten-20;
    }
  }
}


@include mq($until: lg) {
  .c-navbar__container {
    background: $white;
  }

  .sub-nav {
    background: $dark-grey-lighten-10;
  }

  .sub-nav-item {
    background: $dark-grey-lighten-20;
  }

  .navbar__top-item {
    border-top: 1px solid $dark-grey-lighten-20;
  }

  .sub-nav-title,
  .sub-nav-item {
    border-top: 1px solid $dark-grey-lighten-30;
  }

  .navbar__footer {
    border-top: 1px solid $dark-grey-lighten-20;
  }
}


// element bleed mixin - @todo - investigate why this breaks when moved to mixin file
@mixin bleed($bleedval: 50vw) {
  // width: 100vw;
  margin-left: -$bleedval;
  margin-right: -$bleedval;
  padding-left: $bleedval;
  padding-right: $bleedval;
}

@include mq($from: lg) {
  .c-navbar {
    // @include bleed(30vw);

    @include justify-parent;
  }

  .navbar__top-item {
    @include justified-child;
  }

  .sub-nav.open {
    @include bleed(30vw);

    padding-top: 1em;
    padding-bottom: 1em;

    // margin: 0 auto;
    // max-width: 100%;
    border-bottom: 1px solid $secondary-color;

    // reset justify above
    text-align: left;
  }
}


// reset justify font-sizing above
.navbar__top-item,
.navbar__footer {
  font-size: 11px;
  color: $dark-grey;
}

// header flex rules
.sub-nav__group-container {
  margin: 0 auto;

  @include mq($from: lg) {
    position: relative;

    // @TODO - this little ruleset will be used again...
    column-count: 5;
    column-gap: 1em;

    .sub-nav-group {
      // background: #f4f4f4; // todo - get rid
      display: inline-block;
      margin-bottom: 1em;
      width: 100%;
      -webkit-column-break-inside: avoid;
    }

    // end this little ruleset
  }


  @include mq($from: xl) {
    max-width: 1250px;
  }


  @include mq($from: lg, $until: xl) {
    max-width: 99vw;
  }
}

@include mq($until: lg) {
  .sub-nav-group__image {
    display: none;
  }
}


@include mq($from: lg) {
  // rules for displaying the image within the menu
  // TODO - check final dimensions for image, using min height px values for abs image
  .sub-nav-group__image {
    @include absolute(top 0 right 0);

    width: 170px;
  }

  .sub-nav__group-container {
    padding-right: 185px;
  }

  // _:-webkit-full-screen:not(:root:root), .sub-nav__group-container {
  //   min-height: 500px;
  // }
}


.js-clickcatcher {
  @include position(fixed, top 0 right 0 bottom 0 left 0);

  display: block;
  will-change: transform;
  background-color: rgba($black, .2);
  z-index: 3;

  &.js-clickcatcher-white {
    background-color: rgba($black, .2);
    margin-top: 143px;
  }
}

@include mq($from: lg) {
  .o-nav__container {
    background: #fff;
  }

  .body--modal-open__nav {
    overflow-x: hidden;

    .c-navbar__container {
      z-index: 10;
      background: $white;
    }

    .accessible-navmenu.c-navbar {}
  }

  .navbar__nav-menu-icons {
    display: none;
  }

  .sub-nav {
    background-color: $white;
  }

  .c-navbar__container {
    position: relative;
  }
}


@include mq($until: lg) {
  .c-navbar__container {
    overflow-y: auto;
  }

  .c-navbar__container.container {
    padding: 0;
  }
}
