.c-btn-paginate, .c-btn-paginate__alt  {
  text-decoration: none;
  background-color: $white;
  border-color: $secondary-color;
  &:hover {
    background-color: #f0f0f0;
    border-color: $secondary-color;
  }
}

.c-btn-paginate {
  color: $base-text-color;
}
.c-btn-paginate__alt  {
  color: $primary-color;
}

// basic version
.c-pagination-bar__wide {
  position: relative;
  padding: 0.75em 0;
  @include border-tb-default;
  @include clearfix;
  .c-pagination-bar__list {
    text-align: center;
    @include center(x, abs);
  }
  .c-pagination-bar__prev {
    float: left;
  }
  .c-pagination-bar__next {
    float: right;
  }
}


