.c-roundel {
  @extend %u-round;

  position: relative;
  width: 30%;

  // @TODO - magic number - size
  /*   padding-top: 30%; // @TODO - magic number - size */
  font-size: 80%;
  text-align: center;
  line-height: 1.2;

  &::after {
    @include center(xy, abs);
  }
}

.c-roundel__sec {
  background-color: $white;
  color: $mid-grey;

  // @todo - check this colour for a var
  border: 1px dashed;
  font-weight: 600;
}

.roundel-pos-tl {
  @include absolute(top 0.5em left 0.5em);
}

.roundel-pos-tr {
  @include absolute(top 0.5em right 0.5em);
}

.roundel-pos-br {
  @include absolute(bottom 1em right 0.75em);
}

.c-roundel--custom:after {
  content: attr(data-content);
}

.c-roundel--easy-iron:after {
  content: 'Easy Iron';
}

.c-roundel--non-iron:after {
  content: 'Non Iron';
}

.c-roundel--cabin-case:after {
  content: 'Cabin Case';
}

.c-roundel--100-cotton:after {
  content: '100% Cotton';
}

.c-roundel--more-prints:after {
  content: 'More Prints';
}

.c-roundel--real-leather:after {
  content: 'Real Leather';
}

.c-roundel--coming-soon:after {
  content: 'Coming Soon';
}

.c-roundel--adjustable-waist:after {
  content: 'Adjustable Waist';
}

.c-roundel--coated-leather:after {
  content: 'Coated Leather';
}

.c-roundel--permanent-pleats:after {
  content: 'Permanent Pleats';
}

.c-roundel--scuff-resistant:after {
  content: 'Scuff Resistant';
}

.c-roundel--shower-proof:after {
  content: 'Shower Proof';
}

.c-roundel--stain-resistant:after {
  content: 'Stain Resistant';
}

.c-roundel--with-stretch:after {
  content: 'With Stretch';
}

.c-roundel--lights-up:after {
  content: 'Lights Up';
}

.c-roundel--plays-music:after {
  content: 'Plays Music';
}

.c-roundel--teflon-coated:after {
  content: 'Teflon Coated';
}

.c-roundel--smart-crease:after {
  content: 'Smart Crease';
}

.c-roundel--free-accessory:after {
  content: 'Free Accessory';
}