.c-search-form .input-group--addon {
  text-transform: uppercase;
}

.c-search-form {
  .c-search__button {
    color: $white;
    background: $cool-grey-hover;
    @extend .u-font-no-underline;
    button {
      text-transform: uppercase;
    }
  }
  &.has-focus {
    .c-search__button {
      background: $primary-color;
    }
    .icon-search:before {
      color: $cool-grey-hover;
    }
  }
}

.input-group--addon i:before {
  font-size: 1.5em;
}


// handling to hide placeholder and icon on focus
.c-search-form {
  .input-group--addon {
    z-index: 0;
  }
  .input-group--addon__inset-left {
    &:focus {
      padding-left: 1em !important;
      background: #fff;
      &::placeholder {
        color: transparent;
      }
    }
  }
}
