.rating {
  span {
    display: inline-block;
  }
  .icon-star-fill {
    margin-bottom: 0;
    &.active {
      &:before {
        color: $supp-gold;
      }
      &:hover {
        &:before {
          color: $supp-gold;
        }
      }
    }
    &:hover {
      &:before {
        color: $cool-grey;
      }
    }
    &:before {
      font-size: inherit;
      color: $cool-grey;
    }
  }
}


.rating__small {
  font-size: 85%;
}


.rating__inline {
  display: inline-block;
}