$dark-th-bg: $dark-grey;
$default-th-color: $primary-color;
$default-th-bg: $light-grey;
$inverse-table-color: $dark-grey;
$inverse-table-bg: $light-grey;
$inverse-table-border: $cool-grey;
$dark-th-color: $dark-grey;
$table-border-width: 1px;
$table-border-color: $keyline-color;

// ===========================
// Table Base
// ===========================
.c-table {
  width: 100%;

  th,
  .th {
    font-weight: bold;
    text-transform: uppercase;
  }

  td,
  .td,
  th,
  .th {
    vertical-align: top;
    text-align: center;

    &:first-of-type:not(:last-of-type) {
      text-align: left;
    }

    &:last-of-type:not(:first-of-type) {
      text-align: right;
    }
  }

  // tbody th {
  //   text-align: left;
  // }
}

ul.c-table .th,
ul.c-table .td {
  li {
    list-style-type: none;
  }
}

// ===========================
// Table Base End
// ===========================
// ===========================
// Table Default
// ===========================
.c-table--default {
  font-size: rem-calc(14);

  td,
  .td,
  th,
  .th {
    padding: 0.65em;
  }
}

// ===========================
// Table Default End
// ===========================
// ===========================
// Table Stripes
// ===========================
.c-table--striped {
  tbody tr:nth-of-type(odd),
  .tr:nth-of-type(odd) {
    @extend .u-bgcolor-lgrey-hover;
  }
}

.c-table--scored {
  th,
  .th {
    border-width: $table-border-width * 2;
    border-style: none none solid none;
    border-color: $table-border-color;
  }

  tr,
  .tr {
    border-width: $table-border-width;
    border-style: none none solid none;
    border-color: $table-border-color;
  }
}

// ===========================
// Table Stripes End
// ===========================
// ===========================
// Table Spacing
// ===========================
.c-table--spaced {
  th,
  .th {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  td,
  .td {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.c-table--spaced--large {
  th,
  .th {
    padding: 2em;
  }

  td,
  .td {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

// ===========================
// Table Spacing End
// ===========================
// ===========================
// Color & Display Rules
// ===========================
.c-table {
  th,
  .th {
    // color: $default-th-color;

  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.
.c-table--bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2 * $table-border-width;
    }
  }
}

.c-table__thead--inverted {
  th {
    color: $dark-th-color;
    background-color: $dark-th-bg;
  }
}

.c-table--inverted {
  color: $inverse-table-color;
  background-color: $inverse-table-bg;

  @include mq($until: lg) {
    padding-bottom: 1em;
  }


  thead th {
    color: $dark-th-color;
  }

  th, td, .th, .td {
    &:first-of-type {
      padding-left: 1em;
    }

    &:last-of-type {
      padding-right: 1em;
    }
  }

  &.c-table--bordered {
    border: 0;
  }

  th,
  td {
    border-style: none none solid;
    border-width: 1px;
  }


  th {
    border-color: $dark-grey-lighten-30;
  }

  td {
    border-color: $dark-grey-lighten-20;
  }
}

// Responsive tables
//
// Wrap your tables in `.c-table--responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.
// @include mq($until: lg) {
  .c-table--responsive {
    width: 100%;
    min-height: .01%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: block;
    overflow-y: hidden;
    // // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
    overflow-x: auto;

    // border-bottom: 1px solid $cool-grey;

    > table {
      margin-bottom: 0;
      border: 1px solid $cool-grey;
      th,
      td {
        // white-space: nowrap;
      }

      tr:last-of-type {
        td, th {
          border-style: none;
        }
      }

    }
  }
// }


// ===========================
// Table Collapsible
// ===========================
// testing this inside text pages (cookies, faq etc)
.c-table--collapses {
  @include mq($until: md) {
    text-align: center;
  }


  td, th {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.separator--table td {
  background-color: $white;
  max-height: 1em;
  padding: 0.25em;
}

.c-table--collapses {
  .th {
    font-weight: bold;
  }

  @include mq($until: md) {
    .td {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }

    .collapse--inline {
      > .td {
        display: inline-block;

        &:last-of-type {
          outline: 3px solid red;

          &::before {
            content: ' - ';
          }
        }
      }
    }
  }


  @include mq($from: md) {
    display: table;

    .tr {
      display: table-row;
      width: 100%;
    }

    .th, .td {
      display: table-cell;
    }

    .td {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }


  .th--inline {
    font-weight: bold;

    &::after {
      content: ': ';
    }
  }
}

// ===========================
// Table Collapsible End
// ===========================