$pill-spacing: rem-calc(4);
$tab-spacing: rem-calc(8);
$tab-border-width: rem-calc(1);
$tab-background-colour: $cool-grey;
$tab-background-colour-hover: $cool-grey-hover;
$tab-border-color: #ddd;

// ========================
// Tab Rules
// ========================
.c-tabs__content__pane {
  display: none;
}

.c-tabs__content__pane.active {
  display: block;
}

// Tab Default (horizontal)
.c-tabs--tab--horizontal {
  .c-tabs__header {
    border-bottom: 1px solid $tab-border-color;
  }

  .c-tabs__header__item {
    margin-bottom: -$tab-border-width;
    float: left;
    margin-right: $tab-spacing;
    border-width: $tab-border-width;
    border-style: solid solid none;
    border-color: transparent;
    background-color: $tab-background-colour;

    &:not(.active) a:hover {
      margin-bottom: $pill-spacing;
      padding-bottom: 6px;
    }

    &.active {
      border-color: $tab-border-color;
    }
  }

  .c-tabs__content {
    border-width: $tab-border-width;
    border-style: none solid solid solid;
    border-color: $tab-border-color;
  }
}

// Tab Stacked (vertical)
.c-tabs--tab--vertical {
  display: flex;

  .c-tabs__header {
    .c-tabs__header__item {
      border-width: $tab-border-width;
      border-color: $keyline-color;
      border-style: solid none none solid;

      &:last-child {
        border-bottom-style: solid;
      }
    }
  }

  .c-tabs__content {
    flex-grow: 1;
    border-width: $tab-border-width;
    border-style: solid;
    border-color: $tab-border-color;
  }
}

// ========================
// Pills Rules
// ========================
// pills global
.c-tabs--pills {
  .c-tabs__header {
    text-transform: uppercase;

    a {
      color: $dark-grey;
    }

    .active a {
      color: $white;
    }
  }

  .c-tabs__header__item {
    background-color: $light-grey;

    &:hover {
      background-color: $tab-background-colour-hover;
    }

    &.active {
      background-color: $tab-background-colour;
      color: $white;
    }
  }
}

// pills horizontal
.c-tabs--pills--horizontal {
  .c-tabs__header {
    @extend %u-cf;
  }

  .c-tabs__header__item {
    margin-right: $pill-spacing;
    float: left;
  }
}

// pills vertical
.c-tabs--pills--vertical {
  display: flex;

  .c-tabs__content {
    flex-grow: 1;
  }

  .c-tabs__header__item {
    margin-bottom: $pill-spacing;
  }
}

// ================================================== //
// Jusitifed tabs / pills
html.no-flexbox {
  .c-tabs--justified {
    .c-tabs__header {
      width: 100%;
    }

    .c-tabs__header__item {
      display: table-cell;
      width: 1%;
      float: none;
      text-align: center;
    }
  }
}

html.flexbox {
  .c-tabs--justified {
    .c-tabs__header {
      display: flex;
    }

    .c-tabs__header__item {
      flex: 1 0;
      text-align: center;

      &:not(:last-child) {
        margin-right: 1em;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// ================================================== //

// misc rules - to be sorted
// ========================

.c-tabs--tab--horizontal {
  .c-tabs__content {
    padding: 10px 15px;
    background-color: $white;
  }
}

.c-tabs--pills--horizontal {
  .c-tabs__content {
    padding: 10px 0;
    background-color: $white;
  }
}

.c-tabs--pills--vertical, .c-tabs--tab--vertical {
  .c-tabs__content {
    padding: 0 15px;
    background-color: $white;
  }
}

.c-tabs__header__item > a {
  line-height: 1.42857143;
  position: relative;
  display: block;
  padding: 10px 15px;
  @include mq($until: md) {
    @include font-size(11px);
  }
}

.c-tabs--tab--horizontal .c-tabs__header__item.active {
  background-color: $white;
}

.c-tabs--tab--horizontal .c-tabs__header {
  @extend %u-cf;
}

.c-tabs__header__item > a {
  text-decoration: none;
}

// vertical tab colours
.c-tabs--tab--vertical .c-tabs__header__item {
  &.active a {
    background-color: $tab-background-colour;
  }
}

// ===============================

// global tab colours
.c-tabs__header {
  a {
    color: $white;
  }

  .active a {
    color: $base-text-color;
  }

  .c-tabs__header__item:not(.active):hover {
    background-color: $cool-grey-hover;

    a {
      color: $white;
    }
  }
}

// ================================================== //

// TODO - quick temp rules for pdp accordion - more love needed here

.c-tabs--responsive {
  @include mq($until: lg) {
    .c-tabs__content {
      padding: 0;
      border-style: none;
    }

    .c-tabs__header__item--accord {
      font-weight: bold;
      position: relative;
      padding: 0.5em 0;
      margin-bottom: 5px;

      a {
        display: block;
      }
    }
  }
}

.c-tabs--responsive {
  @include mq($until: lg) {
    .c-tabs__header {
      display: none;
    }

    .c-tabs__header__item--accord {
      @extend %u-border2-t;
    }

    .c-tabs__content.c-tabs__content {
      border-bottom: 1px solid $cool-grey;
    }

    .c-tabs__content__pane {
      padding: 1em 0;
    }
  }
}

@include mq($from: lg) {
  .c-tabs--responsive {
    .c-tabs__header {}

    .c-tabs__header__item--accord {
      display: none;
    }
  }
}