$pill-spacing: rem-calc(4);
$tab-spacing: rem-calc(8);
$tab-border-width: rem-calc(1);
$tab-background-colour: $dark-grey-lighten-40;
$tab-border-color: #ddd;

// ========================
// Tab Rules
// ========================
.c-tabs__content > .c-tabs__content__pane {
  display: none;
}

.c-tabs__content > .c-tabs__content__pane.active {
  display: block;
}

// Tab Default (horizontal)
.c-tabs--tab--horizontal {
  .c-tabs__header {
    border-bottom: 1px solid $tab-border-color;
  }

  .c-tabs__header__item {
    margin-bottom: -$tab-border-width;
    float: left;
    margin-right: $tab-spacing;
    border-width: $tab-border-width;
    border-style: solid solid none;
    border-color: transparent;
    background-color: $tab-background-colour;

    &:not(.active) a:hover {
      margin-bottom: $pill-spacing;
      padding-bottom: 6px;
    }

    &.active {
      border-color: $tab-border-color;
    }
  }

  .c-tabs__content {
    border-width: $tab-border-width;
    border-style: none solid solid solid;
    border-color: $tab-border-color;
  }
}

// Tab Stacked (vertical)
.c-tabs--tab--vertical {
  display: flex;

  .c-tabs__header {
    .c-tabs__header__item {
      border-width: $tab-border-width;
      border-color: $keyline-color;
      border-style: solid none none solid;

      &:last-child {
        border-bottom-style: solid;
      }
    }
  }

  .c-tabs__content {
    flex-grow: 1;
    border-width: $tab-border-width;
    border-style: solid;
    border-color: $tab-border-color;
  }
}

// ========================
// Pills Rules
// ========================
// pills global
.c-tabs--pills {
  .c-tabs__header__item {
    > a:hover {
      background-color: $tab-background-colour;
      color: $white;
    }

    &.active a {
      background-color: $primary-color;
      color: $white;

      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }
}

// pills horizontal
.c-tabs--pills--horizontal {
  .c-tabs__header {
    @extend .u-cf;
  }

  .c-tabs__header__item {
    margin-right: $pill-spacing;
    float: left;
  }
}

// pills vertical
.c-tabs--pills--vertical {
  display: flex;

  .c-tabs__content {
    flex-grow: 1;
  }

  .c-tabs__header__item {
    margin-bottom: $pill-spacing;
  }
}




// misc rules - to be sorted
// ========================
.c-tabs__header__item > a {
  line-height: 1.42857143;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.c-tabs--tab--horizontal .c-tabs__header__item.active {
  background-color: $white;
}

.c-tabs__content {
  padding: 10px 15px;
  background-color: $white;
}

.c-tabs--tab--horizontal .c-tabs__header {
  @extend .u-cf;
}

.c-tabs__header__item > a {
  text-decoration: none;
}

// vertical tab colours
.c-tabs--tab--vertical .c-tabs__header__item {
  &.active a {
    background-color: $tab-background-colour;
  }
}

// vertical tab colours inverted
// .c-tabs__header__inverted .c-tabs__header__item {
//   a {
//     background-color: $tab-background-colour;
//   }

//   &.active {
//     // margin-right: -$tab-border-width;
//     border-right-color: red;

//     a {
//       background-color: $white;
//     }
//   }
// }
// ===============================

// global tab colours
.c-tabs__header {
  a {
    color: $white;
  }

  .active a {
    color: $base-text-color;
  }

  .c-tabs__header__item:not(.active):hover {
    background-color: $cool-grey-hover;
    a {
      color: $white;
    }
  }
}

.c-tabs--tab--vertical,
.c-tabs--pills {
  .c-tabs__header {
    a {
      color: $dark-grey;
    }

    .active a {
      color: $white;
    }
  }
}