$pill-spacing: rem-calc(4);
$tab-border-width: rem-calc(1);
$tab-background-colour: $light-grey;

$tab-border-color: #ddd;

// ========================
// Tab Rules
// ========================
// Tab Default (horizontal)
.c-section__tab__horizontal {
  .c-section--header {
    border-bottom: 1px solid $tab-border-color;
  }
  .c-section--header--item {
    margin-bottom: -($tab-border-width);
    float: left;
    margin-right: $pill-spacing;
    border-width: $tab-border-width;
    border-style: solid solid none;
    border-color: transparent;
    &:not(.active) a:hover {
      background: $light-grey;
      margin-bottom: $pill-spacing;
      padding-bottom: 6px;
    }
    &.active {
      border-color: $tab-border-color;
    }
  }
  .c-section--content {
    border-width: $tab-border-width;
    border-style: none solid solid solid;
    border-color: $tab-border-color;
  }
}

// Tab Stacked (vertical)
.c-section__tab__vertical {
  display: flex;
  .c-section--header {
    .c-section--header--item {
      border-width: $tab-border-width;
      border-color: $keyline-color;
      border-style: solid none none solid;
      &:last-child {
        border-bottom-style: solid
      }
    }
  }
  .c-section--content {
    flex-grow: 1;
    border-width: $tab-border-width;
    border-style: solid;
    border-color: $tab-border-color;
  }
}

// ========================
// Pills Rules
// ========================
// pills global
.c-section__pills {
  .c-section--header--item {
    > a:hover {
        background-color: $tab-background-colour;
    }
    &.active a {
      background-color: $primary-color;
      color: $white;
      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }
}
// pills horizontal
.c-section__pills__horizontal {
  .c-section--header {
    @extend .u-cf;
  }
  .c-section--header--item {
    margin-right: $pill-spacing;
    float: left;
  }
}
// pills vertical
.c-section__pills__vertical {
  display: flex;
  .c-section--content {
    flex-grow: 1;
  }
  .c-section--header--item {
    margin-bottom: $pill-spacing;
  }
}

// misc rules - to be sorted
// ========================
.c-section--header--item > a {
  line-height: 1.42857143;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.c-section__tab__horizontal .c-section--header--item.active {
  background-color: $white;
}

.c-section--content {
  padding: 10px 15px;
  background-color: $white;
}

.c-section__tab__horizontal .c-section--header {
  @extend .u-cf;
}

.c-section--header--item > a {
  text-decoration: none;
}


// global tab colours
.c-section--header {
  a {
    color: $primary-color;
  }
  .active a {
    color: $base-text-color;
  }
}

// vertical tab colours
.c-section__tab__vertical .c-section--header--item {
  &.active a {
    background-color: $tab-background-colour;
  }
}
// vertical tab colours inverted
.c-section--header__inverted .c-section--header--item {
  a {
    background-color: $tab-background-colour;
  }
  &.active {
    margin-right: -($tab-border-width);
    a {
      background-color: $white;
    }
  }
}
