/**
 *  Various developer rules for testing and such
 */

body {
  background-size: #e0e0e0
}

h2 {
  font-size: 1.5em;
  padding: 10px 10px 10px 0;
  font-weight: 600;
  margin-top: 2em;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 20px 0 10px 0;
  margin-top: 2em;
}

p {
  font-weight: 300;
}



// fake grid for ui kit

.container {
  max-width:1024px;
  margin: 0 auto;
  display: block;
}

.row {
  width: 100%;
  min-height: 15em;
  overflow: hidden;
  border-bottom: 1px solid #aaa;
  padding-bottom: 2em;
}

.grid-20 {
  width: 20%;
  float: left;
  padding: 10px 10px 10px 0;
  p {
    font-size: 80%;
  }
}

.grid-80 {
  width: 80%;
  float:left;
  padding: 10px;
}


.grid-50 {
  width: 50%;
  float:left;
  padding: 10px;
}

