/**
 *  Various developer rules for testing and such
 */

body {
  background: #fcfcfc;
  color: #333;
}

h2 {
  font-size: 1.5em;
  padding: 10px 10px 10px 0;
  font-weight: 600;
  margin-top: 2em;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 20px 0 10px 0;
  margin-top: 2em;
}

p {
  font-weight: 300;
}

// highlighters
ul,
ol {
  // outline: 1px dotted red;
  // outline-offset: 3px;
}


[class^="icon-"],
[class*=" icon-"] {
  display: block;
  margin-bottom: 1em;
  &:before {
    font-size: 32px;
    padding-right: 0.5em;
    display: inline-block;
  }
  &:hover:before {
  }
}

// visualisation helper for grid
[class^="col-"],
[class*=" col-"] {
  border: 1px solid $coolgrey;
  margin-bottom: 1em;
}

.island {
  background: rgba($coolgrey, 0.5);
  margin: rem-calc(15) 0;
  min-height: 10em;
  color: #fff;
  display: block;
  border-radius: 5px;
}


// @include mq-show-breakpoints($mq-breakpoints);