.u-pad-0 {
  padding: 0 !important;
}

.u-fr {
  float: right;
}

.u-fl {
  float: left;
}

// for light gray text (80% opacity)
.u-fade-el {
  opacity: 0.6;
}

// for bold text (600 weight)
.u-fwb {
  font-weight: 600;
}

// for light text (300 weight)
.u-fwl {
  font-weight: 300;
}

// for italics text
.u-fsi {
  font-style: italic;
}
