.o-accord__container {
  // hide / display classes
  .collapse {
    display: none;
  }

  .collapse.in {
    display: block;
  }

  .icon-plus {
    display: none;
  }
  .icon-minus {
    display: inline;
  }

  .collapsed {
    .icon-minus {
      display: none;
    }

    .icon-plus {
      display: inline;
    }
  }

}


.c-tabs--responsive {
  .accord--active {
    .icon-plus {
      display: none;
    }

    .icon-minus {
      display: inline;
    }
  }
}

.panel {
  @extend %u-border2-t;
}

.o-accord__title {
  a {
    display: block;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 1.5em 0;
    // outline: 1px solid red;
  }
}

.o-accord__content {
    // outline: 1px solid green;

}
