// low spec version - investigate if this is needed
.collapse {
  display: none;
  &.in {
    display: block;
    // padding-bottom: 1.5em;
  }
}

// end low spec version
.o-accord__container {
  > .panel > .collapse {
    display: none;
    &.in {
      display: block;
      padding-bottom: 1.5em;
    }
  }

  .icon-plus {
    display: none;
  }
  .icon-minus {
    display: inline;
  }

  .collapsed {
    .icon-minus {
      display: none;
    }
    .icon-plus {
      display: inline;
    }
  }
}

.c-tabs--responsive {
  .accord--active {
    .icon-plus {
      display: none;
    }
    .icon-minus {
      display: inline;
    }
  }
}

.panel {
  @extend %u-border2-t;
}

.o-accord__title {
  a {
    display: block;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 1.5em 0;
    .panel.disabled & {
      color: $cool-grey;
      cursor: default;
    }
  }
}

