$button-padding-x: $default-pad-x;
$button-padding-y: $default-pad-y;

//=============================
//  Button Base Styles
//=============================
.c-btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;

  &:active,
  &.active,
  &:focus,
  &.focus {
    @include tab-focus;
  }

  // scss-lint:disable QualifyingElement
  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    opacity: .65;
    pointer-events: none;
  }

  // scss-lint:enable QualifyingElement
}

// Block button
.c-btn--block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons ?

  + .c-btn--block {
    margin-top: 5px;
  }
}

//=============================
//  Button Base Styles End
//=============================

//=============================
//  Button Icons
//=============================

.c-btn--icon.c-btn--icon {
  position: relative;
  padding-left: 3.85em;
  padding-right: 3.85em;

  > .icon {
    @include absolute(left 0 top 0 bottom 0);

    background-color: rgba($black, 0.1);
    width: 2.85em;

    &::before {
      @include center(xy, abs);

      vertical-align: middle;
    }
  }
}

//=============================
//  Button Icons End
//=============================