//=============================
//  Button Display Styles
//=============================
$button-line-height: $base-line-height;
.c-btn {
    @include button-size($button-padding-y, $button-padding-x, 1em, $button-line-height);
    &.c-btn--huge {
        @include button-size($button-padding-y * 1.5, $button-padding-x * 1.5, 1.125em, $button-line-height);
        @include mq($from: lg) {
            @include button-size($button-padding-y * 3.5, $button-padding-x * 3.5, 3.125em, $button-line-height);
        }
    }
    &.c-btn--large {
        @include button-size($button-padding-y * 1.5, $button-padding-x * 1.5, 1.125em, $button-line-height);
    }
    &.c-btn--small {
        @include button-size(halve($button-padding-y), halve($button-padding-x), .825em, $button-line-height);
    }
    &.c-btn--tiny {
        @include button-size(quarter($button-padding-y), quarter($button-padding-x), .7em, $button-line-height);
    }
    &.c-btn--primary {
        @include style-variant($color: $dark-grey, $background: $secondary-color, $border: $secondary-color);
        &.hover,
        &:hover,
        &:focus {
            @include style-variant($color: $dark-grey-hover, $background: $white, $border: $secondary-color);
            text-decoration: underline;
        }
    }
    &.c-btn--primary--alt {
        @include style-variant($color: $dark-grey, $background: $light-grey-hover, $border: $secondary-color);
        &.hover,
        &:hover,
        &:focus {
            @include style-variant($color: $primary-color, $background: $light-grey, $border: $secondary-color);
            text-decoration: underline;
        }
    }
    &.c-btn--secondary {
        @include style-variant($color: $white, $background: $primary-color, $border: $primary-color);
        text-transform: uppercase;
        &.hover,
        &:hover,
        &:focus {
            @include style-variant($color: $white, $background: $primary-color-hover, $border: $primary-color-hover);
            text-decoration: underline;
        }
    }
    &.c-btn--secondary--alt {
        @include style-variant($color: $white, $background: $primary-color, $border: $primary-color);
        &.hover,
        &:hover,
        &:focus {
            @include style-variant($color: $primary-color, $background: $white, $border: $primary-color);
            text-decoration: underline;
        }
    }
    &.c-btn--tertiary {
        @include style-variant($color: $white, $background: $dark-grey, $border: $dark-grey);
        &.hover,
        &:hover,
        &:focus {
            @include style-variant($color: $white, $background: $dark-grey-hover, $border: $dark-grey-hover);
            text-decoration: underline;
        }
    }
    &.c-btn--tertiary--alt {
        @include style-variant($color: $dark-grey, $background: $white, $border: $cool-grey);
        &.hover,
        &:hover,
        &:focus {
            @include style-variant($color: $dark-grey-hover, $background: $white, $border: $cool-grey-hover);
            text-decoration: underline;
        }
    }
    //think of a better name
    &.c-btn--custom {
        @include style-variant($color: $white, $background: transparent, $border: $white);
        text-transform: uppercase;
    }

    &.c-btn--custom--alt {
        @include style-variant($color: $dark-grey, $background: transparent, $border: $dark-grey);
        text-transform: uppercase;
    }
}

//=============================
//  Button Display Styles End
//=============================
