// .input-group--addon__inset now deprecated, see single line form bars on http://localhost:3000/#forms
.input-group--addon__inset {
  outline: 1px dotted red;
}

.o-form--input-pack {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;

  > * {
    display: table-cell !important;
  }

  .input-group__btn {
    width: 1%;
  }

  .input-group--addon {
    width: 1%;
    text-align: center;

    // z-index keeps the addon icon visible on input focus
    z-index: 2;
    padding: 0 em-calc(10px);

    &:not(.unstyled) {
      background: $primary-color;
      color: $white;
    }
  }

  .input-addon--expand {
    width: 100%;
  }
}

.input-group--addon__inset {
  @include center($xy: y, $pos: abs);
}

.input-group--addon__inset-left {
  // offset input left padding to accommodate icon
  padding-left: 2.75em !important;
}

.o-form--input-pack--styled {
  .input-group__btn {
    > .c-btn,
    .c-btn-dropdown {
      background: $cool-grey-hover;
      border-color: $cool-grey-hover;

      &:hover {
        background: $cool-grey;
      }
    }
  }

  .o-input--textual:focus + .input-group__btn {
    > .c-btn,
    .c-btn-dropdown {
      background: $dark-grey;
      border-color: $dark-grey;

      &:hover {
        background: $dark-grey-hover;
      }
    }
  }
}

//=============================
//  Form Icons
//=============================
.o-form__input--icon {
  position: relative;

  .o-input--textual {
    padding-left: 2.85em;

    &:focus {
      padding-left: 1em;

      &::placeholder {
        color: transparent;
      }
    }

    &:hover + .icon {
      color: $dark-grey;
    }
  }

  > .icon {
    @include absolute(left 0 top 0 bottom 0);

    width: 2.85em;
    color: $cool-grey;

    &::before {
      @include font-size(21px, none);

      @include center(xy, abs);

      vertical-align: middle;
    }
  }
}

//=============================
//  Form Icons End
//=============================