$input-color: #666;
$form-row-padding-y: 1em;
$form-row-padding-x: 0;
$line-height: $base-line-height;
$input-padding-x: $default-pad-x;
$input-padding-y: $default-pad-y;

// default form item sizer, covers labels, text inputs, buttons etc
// todo -
// add some size handling
// move this to mixn level
@mixin form-item-size($padding-y: $input-padding-y, $padding-x: $input-padding-x, $font-size: 1em, $line-height: $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

.o-form {
  position: relative;
}

.o-form__row {
  @include clearfix;
  padding-top: $form-row-padding-y;
  padding-bottom: $form-row-padding-y;
  line-height: $line-height;
  color: $input-color;
  position: relative;
}

// inline form rules
.o-form--inline {
  .o-form__row {
    width: auto;
  }

  .o-form__label-contain,
  .o-form__input-contain:not(.o-form--input-pack) {
    display: inline-block;
  }

  .o-option--inline,
  .o-option--block {
    padding: .5em 0;
  }

  .o-form__label-contain {
    padding: .5em 0;
  }
}

// inline form rules end

// default and wide form rules
.o-form--default,
.o-form--wide {
  .o-form__row {
    display: block;
    width: 100%;
  }
}

// default and wide form rules end

// form wide rules
.o-form--wide {
  .o-form__label-contain {
    @include span(4);

    padding: .5em;
    text-align: right;
  }

  .o-form__input-contain {
    @include span(8 no-gutter);

    text-align: left;
  }

  .o-option--inline,
  .o-option--block {
    padding: .5em 0;
  }
}

// form wide rules end

// vertical form label bottom margin
.o-form--default .o-form__row .o-form__label-contain {
  margin-bottom: rem-calc(7);
}

// labels above field
.o-form--default {
  .o-form__label-contain {
    padding-top: .25em;
    padding-bottom: .25em;
  }
}

// labels left of field
.o-form--wide,
.o-form--inline {
  .o-option--inline,
  .o-option--block {
    border: 1px solid transparent;
    padding: .5em 0;
  }

  .o-form__label-contain {
    // keep first line of text inline with input for wide form
    border: 1px solid transparent;
    padding: .5em;
  }
}

// end labels

// custom border rules for inputs with addons
// hides the left / right borders around prepended / appended input fields
// @todo - find a cleaner way to approach this with minimal extra markup
// input with leading addon
.input-group--addon:not(.unstyled) + .input-addon--expand:not(.input-group--addon__inset-left) {
  border-left-style: none;
}

// input with trailing addon
.input-addon--expand:nth-child(1):nth-last-child(n+1) {
  border-right-style: none;
}

// input with both trailing & leading addon
.input-addon--expand:nth-child(2):nth-last-child(n+2):not(.input-group--addon__inset-left):not(.input-group--addon__inset-right) {
  border-right-style: none;
  border-left-style: none;
}

.sign-up-group {
  @include clearfix;
}

// TODO this to be moved
.sign-up--button {
  @include form-item-size;

  height: 100%;
  border: 1px solid $cool-grey;
  text-transform: uppercase;
  box-sizing: border-box;
}

// TODO - this to be moved / modularised
// handles display of card selection on checkout
.o-form-input--card-select {
  [type=radio] + span {
    margin: 0;
  }
}

.input-group__btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;

  > * {
    font-size: 1rem;
  }

  .c-btn {
    width: 100%;
  }
}