@mixin fullscreen-container-rules {
  @include center(xy, abs);

  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.95);

  @include mq($until: md) {
    padding: 1em;
  }


  @include mq($from: md) {
    padding: 2em;
  }
}

.o-fullscreen-container__wrapper {
  height: 100%;
}

.o-fullscreen-container {
  position: relative;
  height: calc(100vh - 59px);

  // magic - header-height
  display: block;

  @include mq($until: lg) {
    height: calc(100vh - 59px);

    // magic - header-height
  }


  @include mq($from: lg) {
    height: calc(100vh - 110px);

    // magic - header-height
  }


  &.summer-hero {
    background: url("../img-assets/summer-hero.png") no-repeat left top;
    background-size: cover;
    background-position: center bottom;
  }

  &.general-hero {
    background: url("../img-assets/healthy-lifestyle.jpg") no-repeat left center;
    background-size: cover;
  }

  &.store-hero {
    background: url("../img-assets/matalan-store.jpg") no-repeat left center;
    background-size: cover;
  }
}

.o-fullscreen-container__box {
  @include fullscreen-container-rules;

  min-width: 300px;

  @include mq($from: xs, $until: md) {
    min-width: 300px;
    width: 80vw;
  }


  @include mq($from: md) {
    width: 550px;
  }
}

.o-fullscreen-container__box--large {
  @include fullscreen-container-rules;

  @include mq($from: xs, $until: md) {
    width: 90vw;
  }


  @include mq($from: md, $until: lg) {
    width: 600px;
  }


  @include mq($from: lg) {
    width: 900px;
  }
}

.o-fullscreen-container__header {
  margin-bottom: 1em;
  color: $primary-color;
  text-align: center;
}

.o-fullscreen-container__body {
  margin: 1em 0;
  color: $mid-grey;
  text-align: center;

  @extend %h4;
}

.o-hero-bg {
  position: relative;
  height: 640px;
  min-height: 640px;
  background-size: cover;

  @include mq($until: lg) {
    display: none;
  }


  @include mq($from: lg) {
    background-size: cover;

    &.o-hero-bg--faq {
      background: url("../img-assets/matalan-store.jpg") no-repeat center 70%;
    }

    &.o-hero-bg--sizeguide {
      background: url("../img-assets/matalan-store.jpg") no-repeat center 70%;
    }
  }
}

.o-hero-bg__content {
  @include mq($from: lg) {
    margin-top: -540px;
  }
}