.o-input--textual,
optgroup,
select,
textarea {
  @include form-item-size;
  -webkit-appearance: none;
  border-radius: 0;
  border-width: rem-calc(1);
  border-style: solid;
  border-color: $cool-grey;
}


.o-input--textual,
textarea {
  width: 100%;
}


.o-form__input-contain {
  .o-input--textual,
  textarea {
    color: $base-text-color;
  }

  optgroup,
  select,
  textarea {
    display: block;
    width: 100%;
  }

  .o-input--textual:focus {
    + a,
    + div {
      background: $dark-grey;
    }
  }

  &.o-option--inline,
  &.o-option--block {
    @include clearfix;
  }
}


// modified rules currently only used for minibag quantities
.o-form__input-contain--quantity {
  .o-input {
    max-width: 50px; // magic
  }
}


// spacing between inline options and their labels
.o-form__label-option [type="radio"],
.o-form__label-option [type="checkbox"] {
  margin-right: .5em;
}


// main label styling
.o-form__label-primary {
  display: block;
  font-weight: bold;
}


// sub / option label styling
.o-form__label-option {
  // display: inline;
  font-size: 90%;

  [type="checkbox"],
  [type="radio"] {
    display: none;
  }
}


// making inline labels
.o-option--inline > .o-form__label-option {
  float: left;

  + .o-form__label-option {
    margin-left: 1em;
  }
}


// spacing between multiple inline option labels
.o-option--block > .o-form__label-option {
  display: block;
  margin-bottom: rem-calc(4);
  cursor: pointer;
}


// custom radio and checkbox styling here
[type="checkbox"] + span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: text-bottom;
  background: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20x%3D%270px%27%20y%3D%270px%27%20viewBox%3D%270%200%2014.9%2014.8%27%20xml%3Aspace%3D%27preserve%27%20enable-background%3D%27new%200%200%2014.9%2014.8%27%3E%0A%20%20%3Crect%20style%3D%27fill%3A%20none%3B%20stroke%3A%20%23E0E0E2%3B%20stroke-miterlimit%3A%2010%3B%27%20x%3D%27.5%27%20y%3D%272.3%27%20width%3D%2712%27%20height%3D%2712%27%20%2F%3E%0A%3C%2Fsvg%3E%0A) left top no-repeat;
  cursor: pointer;
}


[type="checkbox"]:checked + span {
  background: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20x%3D%270px%27%20y%3D%270px%27%20viewBox%3D%270%200%2014.9%2014.8%27%20xml%3Aspace%3D%27preserve%27%20enable-background%3D%27new%200%200%2014.9%2014.8%27%3E%0A%20%20%3Crect%20style%3D%27fill%3A%20none%3B%20stroke%3A%20%23E0E0E2%3B%20stroke-miterlimit%3A%2010%3B%27%20x%3D%27.5%27%20y%3D%272.3%27%20width%3D%2712%27%20height%3D%2712%27%20%2F%3E%0A%20%20%3Cpolygon%20style%3D%27fill%3A%20%23EB0000%3B%27%20points%3D%276.9%209%203.9%206%202.9%208%206.9%2012%2014.9%201%2012.9%200%27%2F%3E%0A%3C%2Fsvg%3E%0A) left top no-repeat;
}


[type="radio"] + span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: text-bottom;
  background: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20x%3D%270%27%20y%3D%270%27%20width%3D%2719%27%20height%3D%2719%27%20viewBox%3D%270%200%2014.9%2014.8%27%20xml%3Aspace%3D%27preserve%27%3E%3Ccircle%20style%3D%27fill%3Anone%3Bstroke%3A%23E0E0E2%3Bstroke-miterlimit%3A10%27%20class%3D%27st1%27%20cx%3D%276.5%27%20cy%3D%278.3%27%20r%3D%276%27%2F%3E%3C%2Fsvg%3E) left top no-repeat;
  cursor: pointer;
}


[type="radio"]:checked + span {
  background: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20x%3D%270%27%20y%3D%270%27%20width%3D%2719%27%20height%3D%2719%27%20viewBox%3D%270%200%2014.9%2014.8%27%20xml%3Aspace%3D%27preserve%27%3E%3Ccircle%20style%3D%27fill%3A%23DE1F26%27%20class%3D%27st0%27%20cx%3D%276.5%27%20cy%3D%278.4%27%20r%3D%273.1%27%2F%3E%3Ccircle%20style%3D%27fill%3Anone%3Bstroke%3A%23E0E0E2%3Bstroke-miterlimit%3A10%27%20class%3D%27st1%27%20cx%3D%276.5%27%20cy%3D%278.3%27%20r%3D%276%27%2F%3E%3C%2Fsvg%3E) left top no-repeat;
}