.o-fullscreen-container {
    position: relative;
    height: calc(100% - 59px);
    display: block;
    @include mq($until: lg) {
        height: calc(100% - 59px);
    }
    @include mq($from: lg) {
        height: calc(100% - 110px);
    }
    &.winter-hero {
        @include mq($from: md) {
            background: url('../img-assets/winter-hero.jpg') no-repeat top center;
            background-size: cover;
        }
    }
    &.spring-hero {
        @include mq($from: md) {
            background: url('../img-assets/spring-hero.jpg') no-repeat center bottom;
            background-size: cover;
        }
    }
    &.summer-hero {
        @include mq($from: md) {
            background: url('../img-assets/summer-hero.jpg') no-repeat left top;
            background-size: cover;
        }
    }
    &.autumn-hero {
        background: url('../img-assets/autumn-hero.jpg') no-repeat right center;
        background-size: cover;
    }
    &.general-hero {
        height: auto;
        background: url('../img-assets/healthy-lifestyle.jpg') no-repeat left center;
        background-size: cover;
    }
    &.store-hero {
        background: url('../img/matalan-store.jpg') no-repeat left center;
        background-size: cover;
    }
    &.faq__hero {
        background: url('../img-assets/matalan-store.jpg') no-repeat left center;
        background-size: cover;
    }
    .row {
        height: 100%;
    }
    .o-fullscreen-container__wrapper {
        height: 100%;
    }
    .o-fullscreen-container__box {
        @include center(x);
        padding: 20px;
        margin: 20px 0;
        @include mq($from: md) {
            top: 20%;
        }
        background-color: rgba(255,
        255,
        255,
        0.9);
        ;
    }
    .o-fullscreen-container__box-large {
        @include center(x);
        padding: 20px;
        top: 5%;
        background-color: rgba(255, 255, 255, 0.9);
        ;
        margin: 20px 0;
    }
}
