.form-validate__warning {
  color: $warning-color;

  .o-input {
    border-color: $warning-color;
  }
}


.form-validate__error {
  color: $error-color;

  .o-input {
    border-color: $error-color;
  }
}


.form-validate__info {
  color: $info-color;

  .o-input {
    border-color: $info-color;
  }
}


.form-validate__success {
  color: $success-color;

  .o-input {
    border-color: $success-color;
  }
}



