.form-validate__warning {
  color: $warning-color;

  .o-input {
    border-color: $warning-color;
  }
}

.form-validate__error {
  color: $primary-color;

  .o-input {
    border-color: $primary-color;
  }
}

.form-validate__info {
  color: $info-color;

  .o-input {
    border-color: $info-color;
  }
}

.form-validate__success {
  color: $success-color;

  .o-input {
    border-color: $success-color;
  }
}