.icon:before {
  font-size: 2em;
  display: inline-block;
}

.icon--vertical-right:before {
  @include center(y, abs);

  right: 0;
}

.icon--vertical:before {
  vertical-align: middle;
}

.icon--vertical-middle:before {
  @include center(y, abs);

  vertical-align: middle;
  line-height: 0;
}

.icon--block {
  &::before {
    vertical-align: middle;
    width: 1.75em;
  }
}

