$list-padding: $default-pad-y $default-pad-x;
$list-ui-active-bg: $secondary-color;
$list-ui-active-border: $primary-color;
$list-border: $cool-grey;

@mixin not-list-heading {
  &:not(.o-list-heading):hover,
  &:not(.o-list-heading).active {
    @content;
  }
}

.o-list-text {
  line-height: $base-line-height;
  padding-left: 1.5em;
  list-style: square;

  > li {
    margin-bottom: rem-calc(6);
  }
}

%o-list-inline,
.o-list-inline {
  > li {
    display: inline-block;
  }
}

.o-list-inline-full {
  display: table;
  width: 100%;

  > li {
    display: table-cell;
    text-align: center;
    width: auto;
  }
}

%list-inline__delimited--content {
  content: '>';
  display: inline-block;
  width: rem-calc(15);
  margin-left: rem-calc(5);
}

.o-list-inline__delimited > li + li {
  &::before {
    @extend %list-inline__delimited;

    color: $cool-grey;
  }
}

.o-list-block {
  > .o-list__item {
    position: relative;
    display: block;
    padding: $default-pad-y 0;
  }
}

.o-list-ui {
  > .o-list__item {
    display: block;
    padding: $list-padding;

    @include not-list-heading {
      color: $primary-color;
      background-color: $list-ui-active-bg;
    }
  }

  .o-list--bordered {
    > .o-list__item {
      border: 1px solid $cool-grey;
      margin-top: rem-calc(-1);

      @include not-list-heading {
        position: relative;
        z-index: 2;

        // Place active items above their siblings for proper border styling
        border-color: $list-ui-active-border;
      }
    }
  }
}

.o-list--bordered {
  > .o-list__item {
    margin-top: rem-calc(-1);
    border: rem-calc(1) solid $list-border;
    padding: $list-padding;
  }
}

.o-list--vertical-sep {
  > .o-list__item:not(:last-child) {
    border-bottom: rem-calc(1) solid $list-border;
  }
}

// temp styles below, to be continued
.o-list-heading {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.o-list__item {
  position: relative;

  .list-addon__right {
    @include center(y, abs);

    right: 1em;
  }
}

.o-deflist-plain {
  dt {
    font-weight: bold;
  }
}

.o-deflist-styled {
  dt {
    font-size: rem-calc(16px);
    line-height: 1.2;
  }

  dd {
    margin: 0 0 10px;
    font-size: rem-calc(14px);
    line-height: 1.4;
    color: $mid-grey;
  }
}

.o-deflist-left {
  dt {
    float: left;
    clear: left;
    width: 120px;

    &::after {
      content: ':';
    }
  }

  dd {
    margin: 0 0 0 130px;
    padding: 0 0 0.5em;
  }
}

// def list 2 column fixed
.o-deflist-right {
  dt {
    float: left;
    clear: left;
    width: 50%;

    &::after {
      content: ':';
    }
  }

  dd {
    text-align: right;
    margin-left: 50%;
    padding: 0 0 0.25em 0.5em;
  }
}

// ================================

.list__text {
  list-style-type: disc;
  margin-left: 1.5em;
}

.list-space__tiny {
  .list__item {
    @extend %u-mar-v-tiny;
  }
}

.list-space__small {
  .list__item {
    @extend %u-mar-v-small;
  }
}

.list-space__medium {
  .list__item {
    @extend %u-mar-v-medium;
  }
}

.list-space__large {
  .list__item {
    @extend %u-mar-v-large;
  }
}

.list-space__huge {
  .list__item {
    @extend %u-mar-v-huge;
  }
}

.o-list__tick {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-family: flex-icons;

  li {
    position: relative;
    padding-left: 25px;
  }

  li:before {
    content: $icon-large-tick;
    position: absolute;
    left: 0;
    color: $primary-color;
  }

  li.success:before {
    color: #6fc458;
  }

  li.error:before {
    content: $icon-menu-close;
    position: absolute;
  }
}

.o-list__validation {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-family: flex-icons;

  li {
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    padding-left: 25px;
    color: $cool-grey;
  }

  li:before {
    content: $icon-large-tick;
    position: absolute;
    left: 4px;
    color: $cool-grey;
  }

  li.success {
    color: #6fc458;

    &:before {
      font-weight: bold;
      content: $icon-large-tick;
      position: absolute;
      left: 4px;
      color: #6fc458;
    }
  }

  li.error {
    color: $primary-color;

    &:before {
      content: $icon-large-tick;
      position: absolute;
      left: 4px;
      color: $primary-color;
    }
  }
}