$promo-padding-x: $default-pad-x;
$promo-padding-y: $default-pad-y;
//=============================
//  promo Base Styles
//=============================
.c-promo {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  &.c-promo--link {
    cursor: pointer;
    &:active,
    &.active,
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }
  // scss-lint:disable QualifyingElement
  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    opacity: .65;
    pointer-events: none;
  }
  // scss-lint:enable QualifyingElement
}

// Block promo
.c-promo--block {
  display: block;
  width: 100%;
  // Vertically space out multiple block promos ?
  + .c-promo--block {
    margin-top: 5px;
  }
}

//=============================
//  promo Base Styles End
//=============================
//=============================
//  promo Icons
//=============================
.c-promo--icon.c-promo--icon {
  position: relative;
  padding-left: 3.85em;
  > .icon {
    @include absolute(left 0 top 0 bottom 0);
    background-color: rgba($black, .1);
    width: 2.85em;
    &::before {
      @include center(xy, abs);
      vertical-align: middle;
    }
  }
}

//=============================
//  promo Icons End
//=============================
