  .map-wrapper {
      position: relative;
      display: block;
      height: 600px;
      padding-right: 25%;
      margin-right: -25%;
  }

  .locations {
    height: 600px;
    overflow-x: hidden;
  }

  .map {
      position: absolute;
      top: 0;
      bottom: 0;
      left:0;
      right:0;
      width: 100%;
  }

  .listings {

      p {
        @include font-size(11px);
      }
  }

  .listings .item {
      display: block;
      border-bottom: 1px solid #eee;
      text-decoration: none;
  }

  .listings .item:last-child {
      border-bottom: none;
  }

  .listings .item .title {
      display: block;
      color: $primary-color;
      font-weight: 700;
  }

  .listings .item .title small {
      font-weight: 400;
  }

  .listings .item.active .title,
  .listings .item .title:hover {
      color: $primary-color-hover;
  }

  .listings .item.active {
      background-color: #f8f8f8;
  }

  /* Marker tweaks */

  .leaflet-popup-close-button {
      display: none;
  }

  .leaflet-popup-content {
      padding: 0 !important;
      width: 200px;
  }

  .leaflet-popup-content-wrapper {
      padding: 0 !important;
  }


  .leaflet-popup-content div{
      padding: 5px;
  }

  .leaflet-popup-content h3 {
      background: $primary-color;
      color: #fff;
      margin: 0;
      display: block;
      padding: 10px;
      border-radius: 3px 3px 0 0;
      font-weight: 700;
      margin-top: -15px;
  }

  .leaflet-container .leaflet-marker-icon {
      cursor: pointer;
  }

