.page--text__header-wrapper {
  background-color: $primary-color;
  color: $white;
  min-height: 210px;
  position: relative;

  .page--text__header {
    @include center(y, abs);
  }

  @include mq($from: md) {
    min-height: 240px;
  }

  @include mq($from: lg) {
    min-height: 295px;
  }
}

.page--text {
  @include mq($until: md) {
    h1 {
      @include font-size(30px);
    }

    h3 {
      @include font-size(22px);
    }
  }


  @include mq($from: md) {
    h1 {
      @include font-size(42px);
    }

    h3 {
      @include font-size(24px);
    }
  }


  @include mq($from: lg) {
    h1 {
      @include font-size(48px);
    }

    h3 {
      @include font-size(28px);
    }
  }


  .page--text__content {
    // @include font-size(12px);

    margin-top: 3em;
    margin-bottom: 6em;

    > .row {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    img {
      margin-top: rem-calc(42);
    }

    h3 {
      + p, + ol, + ul, + dl {
        margin-top: 1.5em;
      }
    }

    p, ol, ul, dl, table {
      + h3 {
        margin-top: 1.5em;
      }
    }

    p, .island {
      + p, + ul, + ol, + dl, + table {
        margin-top: 1.5em;
      }
    }

    li + li,
    dd + dt {
      margin-top: 0.75em;
    }

    ol, ul, dl {
      margin-bottom: 1.5em;
    }

    p, li, span {
      @include font-size(16px, 1.6);
    }

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style: none;

      li:not(.o-list__item) {
        @include mq($until: lg) {
          margin-left: 1em;
        }


        &::before {
          content: "•";
          position: absolute;
          left: 16px;

          @include mq($from: lg) {
            left: -5px;
          }
        }
      }
    }

    ol > li {
      @include mq($until: lg) {
        margin-left: 2em;
      }
    }

    dl {
      @include font-size(16px, 1.3);

      dd, dt {
        margin-bottom: 0.3em;
      }

      dd {}

      dt {
        font-weight: bold;
      }
    }

    h2 {
      @extend .u-font-sec;

      color: $primary-color;
      font-weight: 200;
    }
  }
}



.page--text--custom {
  .page--text--custom--wrapper {
    background-color: $white;
    position: relative;


  }

  .panel.panel--subpanel {
    border-style: none;

    p {
      margin: 0 2em 2em;
    }
  }

  .o-accord-container {
    .o-accord__title {}
  }

  .o-accord__title {}
}

.header-wrapper--faq {}