/**
 * Matalan Buttons
 */

$brand-primary-color: #DF1F26;
$brand-secondary-color: #f5f5f5; // light grey
// Default button colors
$primary-button-background-color: #DF1F26; // $brand-primary-color;
$primary-button-border-color: #DF1F26; // $brand-primary-color;
$primary-button-text-color: #ffffff; // $white;
$secondary-button-background-color: #f5f5f5; // $brand-secondary-color;
$secondary-button-border-color: #f5f5f5; // $brand-secondary-color;
$secondary-button-text-color: #DF1F26; // $brand-primary-color;
// Default button hover colors
$primary-button-background-hover-color: #ffffff; // $white;
$primary-button-border-hover-color: #DF1F26; // $brand-primary-color;
$primary-button-text-hover-color: #DF1F26; // $brand-primary-color;
$secondary-button-background-hover-color: #ffffff; // $white;
$secondary-button-border-hover-color: #E0E0E2; // $keyline-color;
$secondary-button-text-hover-color: #DF1F26; // $brand-primary-color;

$dropdown-btn-arrow-color: #fff;
$dropdown-btn-arrow-color-alt: #fff;
// We use these to set the size of the pip in dropdown buttons
$button-arrow: rem-calc(9) !default;
// We use these to style medium dropdown buttons
$dropdown-btn-padding: $button-arrow * 6 + rem-calc(3);
$dropdown-btn-arrow-size: $button-arrow - rem-calc(3);
$dropdown-btn-arrow-opposite: $button-arrow * 2.5;
$dropdown-btn-arrow-top: (-$button-arrow / 2) + rem-calc(2);

// We use these to control different shared styles for Split Buttons
$split-button-function-factor: 10%;
$split-button-pip-color: #fff;
$split-button-pip-color-alt: #fff;
$split-button-active-bg-tint: rgba(0,0,0,0.1);
$split-button-span-border-color: rgba(255,255,255,0.5);

// We use these to control medium split buttons
$split-button-padding: $button-arrow * 9;
$split-button-span-width: $button-arrow * 5.5;
$split-button-pip-size: $button-arrow - rem-calc(3);
$split-button-pip-top: $button-arrow * 1.5;
$split-button-pip-default-float: rem-calc(-6);

@mixin c-btn-style($bg, $text, $border) {
    background-color: $bg;
    border: 1px solid $border;
    color: $text;
}
// button styles
.c-btn {
    // default button styles
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: bottom;
    padding: 12px 24px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
    cursor: pointer;
    // primary button styles
    &.c-btn-primary {
        @include c-btn-style($primary-button-background-color, $primary-button-text-color, $primary-button-border-color);
        &:hover,
        &:focus {
            @include c-btn-style($primary-button-background-hover-color, $primary-button-text-hover-color, $primary-button-border-hover-color);
        }
        // primary dropdown settings
        &.c-btn-dropdown,
        &.c-btn-split {
          // color of the dropdown arrow
          &::after {
            border-color: $primary-button-text-color transparent transparent transparent;
          }
          // reset hover state back to none for background, text and border
          &:hover {
            @include c-btn-style($primary-button-background-color, $primary-button-text-color, $primary-button-border-color);
          }

          span {
            &:after {
              border-color: $primary-button-text-color transparent transparent transparent;
            }
          }
        }
    }
    // secondary button styles
    &.c-btn-secondary {
        @include c-btn-style($secondary-button-background-color, $secondary-button-text-color, $secondary-button-border-color);
        &:hover,
        &:focus {
            @include c-btn-style($secondary-button-background-hover-color, $secondary-button-text-hover-color, $secondary-button-border-hover-color);
        }
        &.c-btn-dropdown,
        &.c-btn-split {
          // color of the dropdown arrow
          &::after {
            border-color: $secondary-button-text-hover-color transparent transparent transparent;
          }
          // reset hover state back to none for background, text and border
          &:hover {
            @include c-btn-style($secondary-button-background-color, $secondary-button-text-hover-color, $secondary-button-border-color);
          }

          span {
            &:after {
              border-color: $secondary-button-text-color transparent transparent transparent;
            }
          }
        }
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    // dropdown button default styles
    &.c-btn-dropdown {
      position: relative;
      padding-#{$opposite-direction}: $dropdown-btn-padding;
      // This creates the base styles for the arrow
      &::after {
          border-color: $dropdown-btn-arrow-color transparent transparent transparent;
          border-style: solid;
          content: "";
          display: block;
          height: 0;
          position: absolute;
          top: 50%;
          width: 0;
          border-width: $dropdown-btn-arrow-size;
          #{$opposite-direction}: $dropdown-btn-arrow-opposite;
          margin-top: $dropdown-btn-arrow-top;
      }
    }

    &.c-btn-split {
      position: relative;
      padding-#{$opposite-direction}: $split-button-padding;
      // Styling for the split arrow clickable area
      span {
        width: $split-button-span-width;
        display: block;
        height: 100%;
        position: absolute;
        #{$opposite-direction}: 0;
        top: 0;
        border-#{$default-float}: solid 1px;

        // Building the triangle pip indicator
        &:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          display: block;
          border-style: inset;
          top: 50%;
          #{$default-float}: 50%;
          border-top-style: solid;
          border-width: $split-button-pip-size;
          margin-#{$default-float}: $split-button-pip-default-float;
          top: 48%;
          border-#{$default-float}-color: rgba(255,255,255,0.5);
        }

        &:active { background-color: $split-button-active-bg-tint; }
      }
    }
}