//
// Base styles
$btn-font-weight: 500;
$border-width: 1px;
$primary-button-background-color: red;
$primary-button-text-color: green;
$primary-button-border-color: $primary-button-text-color;
$primary-button-background-hover-color: #ddd;
$primary-button-text-hover-color: #ddd;
$primary-button-border-hover-color: #ddd;

@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

.c-btn.c-btn-primary {
  @include button-variant($primary-color, $secondary-color, $secondary-color);
  &.hover,
  &:hover,
  &:focus {
    text-decoration: underline;
    @include button-variant($primary-color, white, $secondary-color);
  }
}
.c-btn.c-btn-secondary {
  @include button-variant(white, $primary-color, $primary-color);
  &.hover,
  &:hover,
  &:focus {
    text-decoration: underline;
    @include button-variant($primary-color, white, $primary-color);
  }
}

.c-btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $border-width solid transparent;
  @include button-size(12px, 24px, 1em, 1.1);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    opacity: .65;
  }

}

// Future-proof disabling of clicks on `<a>` elements
.c-btn.disaabled,
fieldset[disabled] .c-btn {
  pointer-events: none;
}

//
// Alternate buttons
//
.c-btn-primary {
  // @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.c-btn-secondary {
  // @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

// Remove all backgrounds
.c-btn-primary-outline {
  // @include button-outline-variant($btn-primary-bg);
}

.c-btn-secondary-outline {
  // @include button-outline-variant($btn-secondary-border);
}

//
// Link buttons
//
// Make a button look and behave like a link
//
// Button Sizes
//
.c-btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  // @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}

.c-btn-sm {
  // line-height: ensure proper height of button next to small input
  // @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}

//
// Block button
//
.c-btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.c-btn-block + .c-btn-block {
  margin-top: 5px;
}

// Specificity overrides
// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
//   &.c-btn-block {
//     width: 100%;
//   }
// }

/* ============================================================== */
