.c-navbar {
  padding: 0 2rem;
  @include border-tb-default(2px);
  .navbar--top-item {
    text-transform: uppercase;
    > a {
      display: inline-block;
      line-height: 4em;
      padding: 0 1em;
      color: $base-text-color;
      text-decoration: none;
      &.active,
      &:hover {
        border-bottom: 2px solid $primary-color;
      }
    }
  }
  @extend .justify-parent;
  .navbar--top-item {
    @extend .justified-child;
  }
}

// todo - sort these for oocs, vars, naming etc
.sub-nav {
  padding: 15px;
  text-transform: initial;
  .sub-nav-title {
    @extend .u-font-sec;
    @extend .h4;
    margin: 1em 0;
  }
  .sub-nav-header {
    @extend .u-font-sec;
  }
}

.sub-nav-group {
  min-width: 190px; // @todo - magic
  .sub-nav-item {}
}
