.c-search-form .input-group--addon {
  text-transform: uppercase;
}

.c-search-form {
  .c-search__button {
    color: $white;
    background: $cool-grey-hover;
  }
  .icon-search:before {
    color: $keyline-color;
  }
  &.has-focus {
    .icon-search:before {
      color: $cool-grey-hover;
    }
    .c-search__button {
      background: $primary-color;
    }
  }
}

.c-input-group--addon i:before {
  font-size: 2em;
  margin-left: rem-calc(4);
}

// .o-form--input-group.has-focus {}
