.c-search-form .input-group--addon {
  text-transform: uppercase;
}

.c-search-form {
  .c-btn {
    background-color: $primary-color;
  }

  &.has-focus {
    .c-btn {
      background-color: $cool-grey-hover;
    }
    .icon-search:before {
      color: $primary-color;
    }
  }
}

.c-input-group--addon i:before {
  font-size: 2em;
  margin-left: rem-calc(4);
}

// .o-form--input-group.has-focus {}
