<div class="o-accord__content collapse" id="deliveryAddressAccord">
  <div class="o-form__row">
    <div class="o-form__input-contain auto-column-2">
      <div class="o-form__label-contain u-pad-v-tiny">
        <label class="o-form__label-option">
          <input type="radio" name="deliveryaddress" value="billingaddress" checked
            data-target="#checkout-usebilling" data-event="allow" role="tab" data-toggle="tab">
          <span></span>
          Use my billing address
        </label>
      </div>
      <div class="o-form__label-contain u-pad-v-tiny">
        <label class="o-form__label-option">
          <input type="radio" name="deliveryaddress" value="addressbook"
            data-target="#checkout-addressbook" data-event="allow" role="tab" data-toggle="tab">
          <span></span>
          Use my address book
        </label>
      </div>
      <div class="o-form__label-contain u-pad-v-tiny">
        <label class="o-form__label-option">
          <input type="radio" name="deliveryaddress" value="newaddress"
            data-target="#checkout-newaddress" data-event="allow" role="tab" data-toggle="tab">
          <span></span>
          Enter a new address
        </label>
      </div>
      <div class="o-form__label-contain u-pad-v-tiny">
        <label class="o-form__label-option">
          <input type="radio" name="deliveryaddress" value="click-and-collect"
            data-target="#checkout-clickcollect" data-event="allow" role="tab" data-toggle="tab">
          <span></span>
          Click &amp; Collect (FREE)
        </label>
      </div>
    </div>
  </div>

  <div class="o-box islet c-tabs__content__pane active usebilling" id="checkout-usebilling">
    <em>developer:</em> previously chosen billing address to be shown here
  </div>

  <div class="o-box islet c-tabs__content__pane o-addressbook" id="checkout-addressbook">
    {{> partials/address-book }}
  </div>

  <div class="o-box islet c-tabs__content__pane newaddress" id="checkout-newaddress">
    <form action="" class="o-form o-form--default o-myacc--address-panel" id="check1--address-panel">
      {{> partials/address-form }}
      <div class="o-myacc__address-actions">
        <a class="c-btn c-btn--primary o-myacc__cancel u-font-upper" data-toggle="collapse" href="#myacc--address-panel">Cancel</a>
        <button type="submit" class="c-btn c-btn--secondary c-btn--block">Add</button>
      </div>
    </form>
  </div>

  <div class="o-box islet c-tabs__content__pane usebilling" id="checkout-clickcollect">
    <em>suggested text:</em> select store for click collect in next step...
  </div>

  <div class="o-box o-submit-button u-mar-t-medium">
    <a data-toggle="collapse" data-target="#deliveryMethodAccord" data-disabledtarget data-parent="#checkout1Accord"
      type="button" class="collapsed c-btn c-btn--secondary c-btn--block u-font-upper">Next Step</a>
  </div>

</div>
