<div class="o-footer__container">
  <div class="container">

    <h4 class="o-footer--title u-mar-t-large u-color-pri u-font-sec">Sign up for the latest offers and promotions</h4>

    <div class="row">
      <div class="o-footer__subscribe col-12@xs col-5@md">

        <form id="email-signup" name="email-signup" class="o-form--inline c-search-form">
          <div class="o-form__row">

            <div class="o-form__input-contain o-form--input-pack o-form--input-pack--styled o-form__input--icon">
              <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Enter Email Address">
              <div class="input-group__btn">
                <button class="c-btn c-btn-secondary" href="">Sign&nbsp;Up</button>
              </div>
              <i class="icon icon-email"></i>
            </div>

            <div class="o-form-message--contain u-mar-t-small">
              <ul class="o-list__tick">
                <li class="success">You have been signed up to our newsletter</li>
              </ul>
            </div>

          </div>
        </form>
      </div>
      <div class="col-12@xs col-offset-1@md-up col-6@md col-5@lg">
        <div class="o-footer--social u-cf">
          <div class="colspan-2"><a href="#"><i class="icon icon-social-facebook"></i></a></div>
          <div class="colspan-2"><a href="#"><i class="icon icon-social-google"></i></a></div>
          <div class="colspan-2"><a href="#"><i class="icon icon-social-twitter"></i></a></div>
          <div class="colspan-2"><a href="#"><i class="icon icon-social-youtube"></i></a></div>
          <div class="colspan-2"><a href="#"><i class="icon icon-social-pinterest"></i></a></div>
          <div class="colspan-2"><a href="#"><i class="icon icon-social-instagram"></i></a></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12@xs col-2@md col-push-6@md col-push-5@lg-up col-offset-1@lg-up">
        <ul class="o-list-block o-footer--list">
          <li class="o-list__item o-list-heading u-color-pri u-font-sec">
            <h4>Customer Service</h4>
          </li>
          <li class="o-list__item"><a href="customer-services.html" class="u-color-dgrey">Here to help</a></li>
          <li class="o-list__item"><a href="delivery.html" class="u-color-dgrey">Delivery</a></li>
          <li class="o-list__item"><a href="returns.html" class="u-color-dgrey">Returns</a></li>
          <li class="o-list__item"><a href="recall.html" class="u-color-dgrey">Product Recall</a></li>
        </ul>
      </div>
      <div class="col-12@xs col-2@md col-push-6@md col-push-5@lg-up">
        <ul class="o-list-block o-footer--list">
          <li class="o-list__item o-list-heading u-color-pri u-font-sec">
            <h4>About Matalan</h4>
          </li>
          <li class="o-list__item"><a href="#" class="u-color-dgrey">History</a></li>
          <li class="o-list__item"><a href="#" class="u-color-dgrey">Matalan Jobs</a></li>
          <li class="o-list__item"><a href="#" class="u-color-dgrey">Matalan Blog</a></li>
          <li class="o-list__item"><a href="store-finder.html" class="u-color-dgrey">Store Search</a></li>
        </ul>
      </div>
      <div class="col-12@xs col-2@md col-push-6@md col-2@lg col-push-5@lg-up">
        <ul class="o-list-block o-footer--list">
          <li class="o-list__item o-list-heading u-color-pri u-font-sec">
            <h4>Our Website</h4>
          </li>
          <li class="o-list__item"><a href="cookies.html" class="u-color-dgrey">Cookies</a></li>
          <li class="o-list__item"><a href="sitemap.html" class="u-color-dgrey">Site Map</a></li>
        </ul>
      </div>
      <div class="col-12@xs col-6@md col-pull-6@md col-5@lg col-pull-7@lg-up">
        <div class="c-frame-wrapper">
          <div class="c-frame-tl"></div>
          <div class="c-frame-tr"></div>
          <div class="c-frame-br"></div>
          <div class="c-frame-bl"></div>
          <div class="c-frame-content">
            &copy; Copyright 2015 - Matalan
            <br>
            <br> Perimeter Road,
            <br> Knowsely Industrial Park,
            <br> Knowsley, Liverpool L33 7SZ, UK
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12@xs col-6@md col-5@lg">
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-visa.svg" alt="" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-vpay.svg" alt="" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-mastercard.svg" alt="" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-maestro.svg" alt="" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-paypal.svg" alt="" />
        </div>
      </div>
      <div class="col-12@xs col-5@md col-offset-1@lg-up u-pad-l-0">
        <div class="o-footer__card-svg col-offset-2@sm">
          <img class="svg" src="img/card-mastercard-securecode.svg" alt="" />
        </div>
        <div class="o-footer__card-svg">
          <img class="svg" src="img/card-verified-visa.svg" alt="" />
        </div>
        <div class="o-footer__card-svg">
          <img class="svg" src="img/card-verisign.svg" alt="" />
        </div>
      </div>
    </div>

  </div>
</div>

{{> partials/minibag }}
