<div class="o-footer--container">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xs-12 u-font-sec">
          <h4 class="u-color-pri o-footer--title">Sign up for the latest offers and promotions</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-4 o-footer--subscribe">
          <form class="form-inline c-search-form">
            <div class="o-form-row">
              <div class="o-form--input-group o-form-input--contain">
                <input type="text" class="input--textual input-addon--expand" placeholder="Enter email address">
                <a href="" class="input-group--addon unstyled c-search__button">Sign&nbsp;up</a>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6 col-lg-5">
          <div class="row o-footer--social">
            <div class="span-wide-2"><i class="icon icon-social-facebook"></i></div>
            <div class="span-wide-2"><i class="icon icon-social-google-plus"></i></div>
            <div class="span-wide-2"><i class="icon icon-social-twitter"></i></div>
            <div class="span-wide-2"><i class="icon icon-social-youtube"></i></div>
            <div class="span-wide-2"><i class="icon icon-social-pinterest"></i></div>
            <div class="span-wide-2"><i class="icon icon-social-rss"></i></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 col-md-push-6 col-lg-push-4 col-lg-offset-1 u-font-ta-c">
        <ul class="o-list-block o-footer--list">
          <li class="o-list__item o-list-heading u-color-pri u-font-sec">
            <h4>Customer Service</h4>
          </li>
          <li class="o-list__item"><a href="">Here to help</a></li>
          <li class="o-list__item">Delivery</li>
          <li class="o-list__item">Returns</li>
          <li class="o-list__item">Product Recall</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2 col-md-push-6 col-lg-push-4 u-font-ta-c">
        <ul class="o-list-block o-footer--list">
          <li class="o-list__item o-list-heading u-color-pri u-font-sec">
            <h4>About Matalan</h4>
          </li>
          <li class="o-list__item">History</li>
          <li class="o-list__item">Matalan Jobs</li>
          <li class="o-list__item">Matalan Blog</li>
          <li class="o-list__item">Store Search</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2 col-md-push-6 col-lg-2 col-lg-push-4 u-font-ta-c">
        <ul class="o-list-block o-footer--list">
          <li class="o-list__item o-list-heading u-color-pri u-font-sec">
            <h4>Our Website</h4>
          </li>
          <li class="o-list__item">Cookies</li>
          <li class="o-list__item">Site Map</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6 col-md-pull-6 col-lg-4 col-lg-pull-7 u-font-c">
        <div class="c-frame-wrapper">
          <div class="c-frame-tl"></div>
          <div class="c-frame-tr"></div>
          <div class="c-frame-br"></div>
          <div class="c-frame-bl"></div>
          <div class="c-frame-content">
            &copy; Copyright 2015 - Matalan
            <br />
            <br /> Perimeter Road,
            <br /> Knowsely Industrial Park,
            <br /> Knowsley, Liverpool L33 7SZ, UK
            <br />
          </div>
        </div>
        <img class="c-frame-caption" src="./img/matalan-strapline-responsive.svg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-visa.svg" />
        </div>
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-vpay.svg" />
        </div>
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-mastercard.svg" />
        </div>
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-maestro.svg" />
        </div>
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-paypal.svg" />
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 col-lg-offset-1">
        <div class="o-footer--card-svg-wrapper-small hidden-lg-up">
        </div>
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-mastercard-securecode.svg" />
        </div>
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-verified-visa.svg" />
        </div>
        <div class="o-footer--card-svg-wrapper-small">
          <img src="./img/card-verisign.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
</div>
