<div class="o-footer--container">

  <div class="container">

    <div class="o-footer--offset">
      <div class="o-footer-t-r"></div>
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 u-font-sec">
            <h4 class="u-color-pri o-footer--title">Sign up for the latest offers and promotions</h4>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-11 o-footer--subscribe">
            <form class="form-inline c-search-form has-focus">
              <div class="o-form-row">
                <div class="o-form--input-group o-form-input--contain span-wide-12">
                  <input type="text"
                  class="input--textual input-addon--expand input-group--addon__inset-left"
                  placeholder="Enter email address">
                  <a href="" class="input-group--addon unstyled c-search__button">Subscribe</a>
                </div>
              </div>
            </form>
          </div>

          <div class="col-xs-12 col-sm-12 u-font-sec hidden-md-up">
            <div class="row u-font-c o-footer--social">
              <div class="col-xs-2 col-sm-2"><i class="icon-facebook"></i></div>
              <div class="col-xs-2 col-sm-2"><i class="icon-google-plus"></i></div>
              <div class="col-xs-2 col-sm-2"><i class="icon-twitter"></i></div>
              <div class="col-xs-2 col-sm-2"><i class="icon-youtube"></i></div>
              <div class="col-xs-2 col-sm-2"><i class="icon-pinterest"></i></div>
              <div class="col-xs-2 col-sm-2"><i class="icon-rss"></i></div>
            </div>
          </div>

        </div>
        <div class="row hidden-md-up">
          <div class="col-xs-12 col-sm-12 ">
            <ul class="o-list-block u-font-c o-footer--list">
              <div class="o-list__item o-list-heading u-color-pri u-font-sec"><h4>Customer Service</h4></div>
              <li class="o-list__item">Here to help</li>
              <li class="o-list__item">Delivery</li>
              <li class="o-list__item">Returns</li>
              <li class="o-list__item">Product Recall</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12">
            <ul class="o-list-block u-font-c o-footer--list">
              <div class="o-list__item o-list-heading u-color-pri u-font-sec"><h4>About Matalan</h4></div>
              <li class="o-list__item">History</li>
              <li class="o-list__item">Matalan Jobs</li>
              <li class="o-list__item">Matalan Blog</li>
              <li class="o-list__item">Store Search</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12">
            <ul class="o-list-block u-font-c o-footer--list">
              <div class="o-list__item o-list-heading u-color-pri u-font-sec"><h4>Our Company</h4></div>
              <li class="o-list__item">Cookies</li>
              <li class="o-list__item">Site Map</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 u-font-c">
            <div class="c-frame-wrapper">
              <div class="c-frame-tl"></div>
              <div class="c-frame-tr"></div>
              <div class="c-frame-br"></div>
              <div class="c-frame-bl"></div>
              <div class="c-frame-content">
                  &copy; Copyright 2015 - Matalan<br /><br />
                  Perimeter Road,<br />
                  Knowsely Industrial Park,<br />
                  Knowsley, Liverpool L33 7SZ, UK<br />
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-10 u-font-sec ">
            <div class="row">
              <div class="o-footer--card-svg-wrapper-small">
                <img src="./img/card-visa.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-small">
                <img src="./img/card-vpay.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-small">
                <img src="./img/card-mastercard.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-small">
                <img src="./img/card-maestro.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-small">
                <img src="./img/card-paypal.svg" />
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 u-font-sec hidden-md-up">
            <div class="row">
              <div class="o-footer--card-svg-wrapper-medium">
                <img src="./img/card-verisign.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-medium">
                <img src="./img/card-verified-visa.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-medium">
                <img src="./img/card-mastercard-securecode.svg" />
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="o-footer--right">
        <div class="row">
          <div class="col-md-10 u-font-sec hidden-md-down">
            <div class="row o-footer--social">
              <div class="col-md-2"><i class="icon-facebook"></i></div>
              <div class="col-md-2"><i class="icon-google-plus"></i></div>
              <div class="col-md-2"><i class="icon-twitter"></i></div>
              <div class="col-md-2"><i class="icon-youtube"></i></div>
              <div class="col-md-2"><i class="icon-pinterest"></i></div>
              <div class="col-md-2"><i class="icon-rss"></i></div>
            </div>
          </div>
        </div>
        <div class="row hidden-md-down">
          <div class="col-md-4">
            <ul class="o-list-block o-footer--list">
              <div class="o-list__item o-list-heading u-color-pri u-font-sec"><h4>Customer Service</h4></div>
              <li class="o-list__item">Here to help</li>
              <li class="o-list__item">Delivery</li>
              <li class="o-list__item">Returns</li>
              <li class="o-list__item">Product Recall</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="o-list-block o-footer--list">
              <div class="o-list__item o-list-heading u-color-pri u-font-sec"><h4>About Matalan</h4></div>
              <li class="o-list__item">History</li>
              <li class="o-list__item">Matalan Jobs</li>
              <li class="o-list__item">Matalan Blog</li>
              <li class="o-list__item">Store Search</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="o-list-block o-footer--list">
              <div class="o-list__item o-list-heading u-color-pri u-font-sec"><h4>Our Company</h4></div>
              <li class="o-list__item">Cookies</li>
              <li class="o-list__item">Site Map</li>
            </ul>
          </div>
        </div>
        <div class="row hidden-md-down">
          <div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">
            <div class="row">
              <div class="o-footer--card-svg-wrapper-medium">
                <img src="./img/card-verisign.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-medium">
                <img src="./img/card-verified-visa.svg" />
              </div>
              <div class="o-footer--card-svg-wrapper-medium">
                <img src="./img/card-mastercard-securecode.svg" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>