<div class="row">
  <div class="col-10@xs col-offset-1@xs col-offset-1@sm col-8@md col-offset-2@md col-6@lg col-offset-3@lg-up o-fullscreen-container__wrapper">
    <div class="o-fullscreen-container__box u-cf o-login__forgotten-password">
      <h3 class="u-color-pri u-font-ta-c">Forgotten Password</h3>
      <p class="u-mar-t-small">Please enter and confirm your new password.</p>
      <form action="">
       <div class="row">
          <div class="col-12@xs col-6@md">
            <div class="o-form__row">
              <div class="o-form__label-contain">
                <label class="o-form__label-primary">New Password</label>
              </div>
              <div class="o-form__input-contain">
                <input type="text" class="o-input o-input--textual" placeholder="Enter new password">
              </div>
            </div>
          </div>
          <div class="col-12@xs col-6@md">
            <div class="o-form__row">
              <div class="o-form__label-contain">
                <label class="o-form__label-primary">Confirm New Password</label>
              </div>
              <div class="o-form__input-contain">
                <input type="text" class="o-input o-input--textual" placeholder="Confirm new password">
              </div>
            </div>
          </div>
        </div>
      <a href="./secure-login-winter.html" class="c-btn c-btn-secondary col-12@xs selectbox-full u-font-upper">Continue</a>
      </form>
    </div>
  </div>
</div>
