<div class="row">
  <div class="col-12@xs col-4@lg col-offset-4@lg-up">
    <div class="o-forgotten-container u-mar-t-huge col-12@xs">
      <h4 class="u-color-pri">Forgotten Password</h4>
      <p class="u-mar-t-small">Please enter your email address and submit. In doing this an email containing a special link will be emailed to you. Once recieved, click on this link and you will then have the opportunity to enter a new password.</p>
     <input type="text" name="searchTerm" minlength="3" required
      class="o-input o-input--textual"
      placeholder="Enter email address" pattern=".{3,}" title="3 characters minimum">
      <a class="c-btn c-btn-secondary col-12@xs selectbox-full u-font-upper u-mar-v-medium">Continue</a>
    </div>
  </div>
</div>