{{> partials/global-msg}}

<div class="o-header__container">
  <div class="container">

    <!-- DESKTOP nav action bar -->
    <div class="hidden@md-down u-pad-r-0 u-cf">
      <ul class="o-list-inline-seperated u-fr">
        <li><a href="myaccount.html">My Acount</a></li>
        <!-- Only display if logged in -->
        <li><a href="registration.html">Logout</a></li>
        <!-- END -->
        <li><a href="delivery.html">Delivery</a></li>
        <li><a href="returns.html">Returns</a></li>
        <li><a href="store-finder.html">Store Finder</a></li>
        <li class="u-pad-r-0"><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <!-- DESKTOP nav action bar end -->

    <!-- DESKTOP BEGIN -->
    <div class="row hidden@md-down u-mar-v-large u-pos-rel">

      <!-- header logo -->
      <div class="col-4@lg">
        <div class="o-header__brand">
          <a href="./homepage.html">
            <img class="o-header__brand__logo svg" src="img/matalan-logo-responsive.svg" alt="">
          </a>
        </div>
      </div>
      <!-- header logo end -->

      <!-- search bar desktop -->
      <div class="col-4@lg">
        <div class="o-header__search-bar">
          <form name="searchProducts" class="o-form--inline c-search-form">
            <div class="o-form__row">
              <div class="o-form__input-contain o-form__input--icon
                o-form--input-pack o-form--input-pack--styled o-form--input-pack--typeahead">
                <input type="text" name="searchTerm" minlength="3" required
                class="js-search-typeahead o-input o-input--textual input-addon--expand"
                placeholder="Enter Keyword or Product Code" pattern=".{3,}" title="3 characters minimum">
                <div class="input-group__btn">
                  <button class="c-btn c-btn-secondary">Search</button>
                </div>
                <i class="icon icon-search"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end search bar desktop -->

      <!-- view your bag + checkout desktop -->
      <div class="col-2@lg u-font-ta-r u-pad-r-0">
        <a href="mybag.html" class="c-btn js-minibag--view minibag--view-btn
          u-font-upper u-no-bord-vis u-bgcolor-white">
          View your bag ({{minibag.category.collection.products.length}})
        </a>
      </div>
      <div class="col-2@lg">
        <a href="checkout1.html" class="js-minibag--checkout c-btn c-btn-secondary c-btn--block u-font-upper">Checkout</a>
      </div>
      <!-- end view your bag + checkout desktop -->
    </div>
    <!-- DESKTOP END -->


    <!-- MOBILE -->
    <div class="row hidden@lg-up u-pad-v-small">

      <!-- mobile + tablet hotdog -->
      <div class="col-3@xs col-4@md u-pad-l-0">
        <div class="o-header--menu-button">
          <a data-toggle="modal" data-target="#nav-contain"
            class="js-nav-mobile-button c-btn nav-mobile-button u-no-bord">
            <i class="icon icon-menu-menu"></i>
          </a>
        </div>
      </div>
      <!-- mobile + tablet hotdog end -->

      <!-- header logo -->
      <div class="col-5@xs col-4@md u-pad-0">
        <div class="o-header__brand">
          <a href="./homepage.html">
            <img class="o-header__brand__logo svg" src="img/matalan-logo-responsive.svg" alt="">
          </a>
        </div>
      </div>
      <!-- header logo end -->

      <!-- mobile minibag button begin -->
      <div class="col-2@xs col-1@md col-offset-2@md u-pad-r-0 u-font-ta-c">
        <a class="c-btn minibag-link u-no-bord" data-toggle="modal" data-target="#minibag-contain">
          <span class="o-icon-with-addon"><i class="icon icon-minibag"></i>
            <span class="">{{minibag.category.collection.products.length}}</span>
          </span>
        </a>
      </div>
      <!-- mobile minibag button end -->

      <!-- search button mobile begin -->
      <div class="col-2@xs col-1@md u-pad-h-0 u-font-ta-c">
        <a class="c-btn header--mobile-search u-no-bord-vis u-pad-h-0@xs">
          <i class="icon icon-search"></i>
          <span class="icon-nub">&nbsp;</span>
        </a>
      </div>
      <!-- search button mobile end -->


    </div>
    <!-- MOBILE END -->

    <!-- search bar mobile -->
    <div class="row header--search-bar hidden@lg-up">
      <div class="col-12@xs">

        <!-- <div class=""> -->
          <div class="o-header--search">
            <form name="searchProducts" class="o-form--inline c-search-form">
              <div class="o-form__row">
                <div class="o-form__input-contain o-form--input-pack--styled o-form__input--icon
                o-form--input-pack o-form--input-pack--typeahead">
                <input type="text" name="searchTerm" minlength="3" required
                  class="js-search-typeahead o-input o-input--textual input-addon--expand"
                  placeholder="Enter Keyword or Product Code" pattern=".{3,}" title="3 characters minimum">
                <div class="input-group__btn">
                  <button class="c-btn c-btn-secondary">Search</button>
                </div>
                <i class="icon icon-search"></i>
              </div>
            </div>
          </form>
        </div>
      <!-- </div> -->


    </div>
  </div>

  <!-- end search bar mobile -->

</div>
</div>

<div class="o-nav__container" role="navigation">
  <!-- <div class="container--fluid"> -->
  {{> partials/nav-megamenu }}
  <!-- </div> -->
</div>
