<div id="o-super-header__container" class="o-super-header__container">
  <div class="container">
    <div class="row">
      <div class="global-messages">
        <div class="col-xs-12 col-lg-12">
          <p>Christmas shop is now only available in stores.</p>
        </div>
      </div>
      <span data-close="o-super-header__container" class="close">&times;</span>
    </div>
  </div>
</div>

<div class="o-header__container">
  <div class="container">

    <div class="row header-pb-20 header--border-bottom">

      <div class="col-xs-4 hidden-lg-up header--height">
        <div class="o-header--menu-button">
          <a class="c-btn nav-mobile-button u-no-bord"><i class="icon icon-menu"></i></a>
        </div>
      </div>

      <div class="col-xs-4 col-lg-4 u-pad-h-0">
        <div class="o-header__brand">
          <a href="./homepage.html"><img src="img/matalan-logo-responsive.svg" alt=""></a>
        </div>
      </div>


      <div class="col-xs-4 col-lg-8">

        <div class="row">

          <div class="col-xs-12 hidden-lg-down u-cf u-mar-b-huge">
            <ul class="o-list-inline-seperated u-fr">
              <li><a href="">My Acount</a></li>
              <li><a href="">Delivery</a></li>
              <li><a href="">Returns</a></li>
              <li><a href="">Store Finder</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3 col-md-offset-6 col-lg-offset-0 col-lg-push-6 u-pad-r-0">
            <div class="o-header__search">
              <a class="c-btn hidden-lg-up header--mobile-search u-no-bord-vis">
                <i class="icon icon-search"></i>
              </a>
              <a class="c-btn hidden-lg-down js-minibag--view u-font-upper u-no-bord-vis">View your bag ({{minibag.category.collection.products.length}})</a>
            </div>
          </div>

          <div class="col-xs-6 col-md-3 col-lg-push-6 u-pad-l-0">
            <a class="c-btn hidden-lg-up js-minibag u-no-bord">
              <span class="o-icon-with-addon"><i class="icon icon-minibag"></i>
                <span class="">{{minibag.category.collection.products.length}}</span>
              </span>
            </a>
            <button class="js-minibag c-btn c-btn-secondary__alt c-btn-block hidden-lg-down u-font-upper" type="button">Checkout</button>
            {{> partials/minibag }}
          </div>

          <div class="col-sm-12 col-md-8 col-lg-6 col-lg-pull-6 hidden-lg-down u-pad-0">
            <div class="o-header__search-bar">
              <form name="searchProducts" class="form-inline c-search-form">
                <div class="o-form-row">
                  <div class="o-form--input-group o-form-input__contain">
                    <div class="input-group--addon unstyled input-group--addon__inset">
                      <i class="icon icon-search"></i>
                    </div>
                    <input type="text" name="searchTerm" class="input--textual input-addon--expand input-group--addon__inset-left" placeholder="Enter Keyword or Product Code" pattern=".{3,}" title="3 characters minimum" required>
                    <div class="input-group--addon input-group--addon__button unstyled c-search__button">
                      <button type="submit" class="">Search</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 header--search-bar hidden-lg-up u-mar-b-small">
          <div class="o-header--search">
            <form name="searchProducts" class="form-inline c-search-form">
              <div class="o-form-row">
                <div class="o-form--input-group o-form-input__contain">
                  <div class="input-group--addon unstyled input-group--addon__inset">
                    <i class="icon icon-search"></i>
                  </div>
                  <input type="text" name="searchTermMobile" class="input--textual input-addon--expand input-group--addon__inset-left" placeholder="Enter Keyword or Product Code" autofocus pattern=".{3,}" title="3 characters minimum" required>
                  <div class="input-group--addon input-group--addon__button unstyled c-search__button">
                    <button type="submit" class="">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>

    {{> partials/nav-megamenu }}
  </div>
</div>
