 {{> parcels/section-hero }}
<div class="container">
  {{> parcels/section-department }}

  <div class="row">{{> parcels/section-half }}</div>
  <div class="row">{{> parcels/section-third }}</div>
  <div class="row">{{> parcels/section-full }}</div>
  <!-- {{> parcels/section-quarter }} -->
</div>
