<div class="row">
  {{> parcels/section-hero }}
</div>
<div class="container">
  <div class="row">
    {{> parcels/section-department }}
  </div>

  <div class="row">
    {{> parcels/section-half-alt }}
  </div>

  <div class="row">
    {{> parcels/section-third }}
  </div>

  <div class="row">
    {{> parcels/section-quarter }}
  </div>
</div>