
  {{> parcels/section-hero }}
<div class="container">
  {{> parcels/section-department }}
  {{> parcels/section-third }}
  {{> parcels/section-half }}
  {{> parcels/section-full }}
  <!-- {{> parcels/section-quarter }} -->
</div>