
  {{> parcels/section-hero }}

<div class="container">
  <div class="row">
    {{> parcels/section-department }}
  </div>

  <div class="row">
    {{> parcels/section-full }}
  </div>

  <div class="row">
    {{> parcels/section-half }}
  </div>

  <div class="row">
    {{> parcels/section-third }}
  </div>

  <div class="row">
    {{> parcels/section-quarter }}
  </div>
</div>