<div class="o-product-detail">
  <div class="col-xs-12 col-md-6">
    <div class="o-product__slider" id="cascade-slider">
      <div>
        <img src="./img/product-1.jpg" alt="">
      </div>
      <div>
        <img src="./img/product-2.jpg" alt="">
      </div>
      <div>
        <img src="./img/product-3.jpg" alt="">
      </div>
      <div>
        <img src="./img/product-4.jpg" alt="">
      </div>
    </div>
    <div class="flexer u-pad-h-medium">
    <a class="c-btn c-btn-tertiary  col-xs-12 flexer-element u-font-upper"><i class="icon icon-eye u-pad-r-small u-color-white"></i>Get the Look</a>
    </div>
  </div>
  <div class="col-xs-12">
    <fieldset class="u-pad-v-medium u-border2-t u-mar-t-medium">
      <i class="icon icon-plus u-fr"></i>
      <h6 class="u-font-upper">Product Information</h6>
    </fieldset>

    <fieldset class="u-pad-v-medium u-border2-t">
      <i class="icon icon-plus u-fr"></i>
      <h6 class="u-font-upper">Ratings & Reviews</h6>

    </fieldset>

    <fieldset class="u-pad-v-medium u-border2-t">
      <i class="icon icon-plus u-fr"></i>
      <h6 class="u-font-upper">Delivery & Returns</h6>
    </fieldset>

    <fieldset class="u-pad-v-medium u-border2-t u-border2-b">
      <i class="icon icon-plus u-fr"></i>
      <h6 class="u-font-upper">Share this item</h6>
    </fieldset>
  </div>
</div>
