{{> partials/breadcrumb }}
<div class="row">
  <div class="col-12@xs col-7@md col-5@lg">
    <div class="">
      <figure>
        <a href="./img-assets/product-1.jpg"  data-size="846x1184">
            <img src="./img-assets/product-1.jpg" />
        </a>
      </figure>
    </div>
  </div>
  <div class="col-12@xs col-5@md col-7@lg">
      <div class="row">
        <div class="o-section col-12@xs">
          <div class="o-product-suite__slick">
          {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">
                    <ul class="o-minibag--list-contain">
                        <li class="o-minibag--list o-minibag--list-item u-cf">
                          <div class="o-minibag--list-item--image col-3@xs col-2@md col-3@lg u-pad-0">
                            <img class="img" src="./img-assets/product-1.jpg">
                          </div>
                          <div class="o-minibag--list-item--detail col-9@xs col-10@md col-5@lg">
                            <p class="detail--description u-font-wb">Title</p>
                            <ul class="detail--vars u-pad-b-small list-space__small">
                              <li class="list__item">Color:
                                <span class="color-swatch__inline u-bgcolor-cgrey"></span>
                              </li>
                              <li class="list__item">Size: Small</li>
                            </ul>
                            <ul class="detail--price list-space__small">
                              <li class="list__item">
                                <strong>Price: £9.99</strong>
                              </li>
                              <li class="list__item hidden@lg-up">Save: £0.00</li>
                            </ul>
                          </div>

                          <div class="o-minibag--list-item--control col-4@lg hidden@md-down u-font-ta-r">
                            <select class="o-minibag--control--select selectbox-dropdown__inline">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                            <div class="o-minibag--control--remove">
                              <a class="link u-font-no-underline" href="#">
                                <span class="hidden@md-down">&times;</span> remove</a>
                            </div>
                          </div>

                          <div class="o-minibag--list-item--control o-minibag--list-item--quant col-9@xs col-10@md hidden@lg-up u-fr">
                              <div class="o-minibag--control--remove col-4@xs u-pad-0">
                                <a class="c-btn c-btn-tertiary--alt u-font-no-underline" href="#">
                                  <span class="hidden@lg-down">&times;</span> remove</a>
                              </div>
                              <div class="o-form__input-contain o-form__input-contain--quantity col-8@xs u-pad-0 u-font-ta-r">
                                <a class="c-btn c-btn-primary__alt u-font-no-underline js-remove-item">-</a>
                                <span class="o-input--textual js-item-count">1</span>
                                <input type="hidden" class="o-input o-input--textual u-pad-h-0 u-font-ta-r" value="1" readonly>
                                <a class="c-btn c-btn-primary__alt u-font-no-underline js-add-item">+</a>
                              </div>
                          </div>

                        </li>


                      </ul>

                </div>
              </div>
              {{/each}}
          </div>
      </div>
      <div class="o-section col-12@xs">
          <div class="o-product-suite__slick">

              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">

                </div>
              </div>
          </div>
      </div>
      <div class="o-section col-12@xs">
          <div class="o-product-suite__slick">
            {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">

                </div>
              </div>
            {{/each}}
          </div>
      </div>
      <div class="o-section col-12@xs">
          <div class="o-product-suite__slick">
            {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">

                </div>
              </div>
            {{/each}}
          </div>
      </div>
      <div class="o-section col-12@xs">
          <div class="o-product-suite__slick">
            {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">

                </div>
              </div>
            {{/each}}
          </div>
      </div>

    </div>
  </div>
</div>