{{> partials/breadcrumb }}
<div class="row">
  <div class="search-results__side">
    {{> parcels/search-filters }}
  </div>
  <div class="search-results__main search-results--tight">
    <h4 class="h3 u-mar-b-medium">{{searchresults.results.searchTerm}}</h4>

    {{> partials/search-header }}

    <div class="search-results--inner row">
      {{#each searchresults.results.products}}
        {{> partials/search-item}}
      {{/each }}
    </div>

    {{> partials/search-footer }}
  </div>
</div>
