<div class="row">
  <div class="col-xs-12">
    <ul class="c-breadcrumb-bar">
      <li class="c-breadcrumb-bar__item no-link"><a href="">Search</a></li>
      <li class="c-breadcrumb-bar__item no-link">Search Term</li>
    </ul>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-3">
    {{> parcels/search-filters }}
  </div>
  <div class="col-xs-9">
    <h4>Search Term</h4>
    <div class="col-xs-6">
      <div>
        <select id="sortby" class="selectbox select-full" style="opacity: 0;">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6">
        <button class="js-filters c-btn c-btn-block c-btn-filters hidden-lg-up" type="button">C</button>
    </div>

  </div>



</div>
</div>

<script src="./js/filters.js"></script>