<div class="section">
  {{# times 8 }}
  <div class="section--item section--item--quarter section--bg section--quarter-{{ this }} col-xs-12 col-sm-6 col-md-3 u-font-ta-c u-mar-b-small">

  </div>
  <style>
    .section--quarter-{{ this }} {
        background-image: url("img/quarter-{{ this }}.jpg");
    }
  </style>
  {{/ times }}
</div>