<div class="o-section col-12@xs">
  <div class="o-section--item o-section--item--full o-section--bg o-section--full-1 col-12@xs col-12@md u-font-ta-c">
    <div class="o-section-detail--outer__border o-section__detail--bottom">
      <div class="o-section__detail">
        <div class="o-section__detail-title">Party Time</div>
        <a href="plp.html" class="o-section__detail-link">Shop Party and Occasionwear</a>
      </div>
    </div>
  </div>
  <style>
    .o-section--full-1 {
        background-image: url("img/full-1.jpg");
    }
  </style>
</div>
