<div class="o-section">
  <div class="o-section--item o-section--item--half o-section--bg left-box-arrow col-xs-12 col-md-6 col-push-6@md-up u-font-ta-c">
    <div class="o-section-detail--outer__border o-section__detail--center">
      <div class="o-section__detail">
        <div class="o-section__detail-title u-mar-v-medium u-font-sec">Smart Suits</div>
        <div class="o-section__detail-sub u-mar-v-medium">Save up to 30% off</div>
      </div>
    </div>
    <a class="o-section--link">Shop the offers</a>
  </div>
  <div class="o-section--item o-section--item--half o-section--bg o-section--half-1 col-xs-12 col-md-6 col-pull-6@md-up u-font-ta-c">

  </div>
  <style>
    .o-section--half-1 {
        background-image: url("../img/half-1.jpg");
    }
  </style>




  <div class="o-section--item o-section--item--half o-section--bg right-box-arrow col-xs-12 col-md-6 u-font-ta-c">
    <div class="o-section-detail--outer__border o-section__detail--center">
      <div class="o-section__detail">
        <div class="o-section__detail-title u-mar-v-medium u-font-sec">Ladies smart clothes</div>
        <div class="o-section__detail-sub u-mar-v-medium">Save up to 50% off</div>
      </div>
    </div>
    <a class="o-section--link">Shop the offers</a>
  </div>

  <div class="o-section--item o-section--item--half o-section--bg o-section--half-2 col-xs-12 col-md-6 u-font-ta-c">

  </div>
  <style>
    .o-section--half-2 {
        background-image: url("../img/half-2.jpg");
    }
  </style>


</div>
