<div class="section">
  {{# times 4 }}
  <div class="section--item section--item--half section--bg section--half-{{ this }} col-xs-12 col-md-6 u-font-ta-c u-mar-b-small">
    <div class="section--detail--bottom">
      <div class="section--detail-title u-mar-v-medium u-font-wb">Category</div>
      <div class="section--detail-sub u-mar-v-medium u-font-wb u-color-grey70">from £50</div>
      <div class="section--detail-btn c-btn c-btn-primary__alt u-mar-v-medium hidden-lg-down">View</div>
    </div>
  </div>
  <style>
    .section--half-{{ this }} {
        background-image: url("../img/half-{{ this }}.jpg");
    }
  </style>
  {{/ times }}
</div>