<div class="o-section">
  {{#each quartersection }}
  <div class="o-section--item o-section--item--quarter o-section--bg o-section--quarter-{{ sectionId }} col-xs-12 col-sm-6 col-md-3 u-font-ta-c">

  </div>
  <style>
    .o-section--quarter-{{ sectionId }} {
        background-image: url("{{sectionImage}}");
    }
  </style>
  {{/each }}
</div>