<div class="o-section col-12@xs">
  {{#each quartersection }}
  <div class="o-section--item o-section--item--quarter o-section--bg o-section--quarter-{{ sectionId }} col-12@xs col-6@sm col-3@md u-font-ta-c">

  </div>
  <style>
    .o-section--quarter-{{ sectionId }} {
        background-image: url("{{sectionImage}}");
    }
  </style>
  {{/each }}
</div>
