<div class="o-hero hero--bg u-mar-b-large">
<div class="hero-ribbon top-right sticky red">30% off</div>
  <div class="hero--container">
    <div class="hero--detail--right">
      <div class="hero--detail-title u-mar-v-medium u-font-sec">Lead hero headline</div>
      <div class="hero--detail-sub u-mar-v-medium u-font-pri u-color-grey90">A sub-heading which can go here</div>
      <div class="hero--detail-btn-group hidden-lg-down">
        <div class="c-btn u-mar-v-medium hidden-lg-down">Boots</div>
        <div class="c-btn u-mar-v-medium hidden-lg-down">Hats</div>
      </div>
    </div>
  </div>
</div>

<style>
  .hero--bg {
    background-image: url("../img/hero.jpg");
  }
</style>