<div class="o-hero hero--bg u-mar-b-large">
  <div class="hero--detail--right">
    <div class="section--detail-title u-mar-v-medium u-font-wb">{{lorem count=5}}</div>
    <div class="section--detail-sub u-mar-v-medium u-font-wb u-color-grey70">{{lorem count=12}}</div>
    <div class="section--detail-btn c-btn c-btn-primary__alt u-mar-v-medium hidden-lg-down">View</div>
  </div>
</div>

<style>
  .hero--bg {
    background-image: url("../img/hero.jpg");
  }
</style>