<div class="o-hero hero--bg u-mar-b-large">
  <div class="o-hero--container">
    <div class="hero--detail--right">
      <div class="hero--detail-title u-mar-v-medium u-font-wb">Lead hero headline</div>
      <div class="hero--detail-sub u-mar-v-medium u-font-wb u-color-grey70">A sub heading which can go here</div>
      <div class="hero--detail-btn-group hidden-lg-down">
        <div class="hero--detail-btn-group c-btn c-btn-primary__alt u-mar-v-medium hidden-lg-down">Boots</div>
        <div class="hero--detail-btn-group c-btn c-btn-primary__alt u-mar-v-medium hidden-lg-down">Hats</div>
      </div>
    </div>
  </div>
</div>

<style>
  .hero--bg {
    background-image: url("../img/hero.jpg");
  }
</style>