<div class="row">
  <div class="col-10@xs col-offset-1@xs col-offset-1@sm col-8@md col-offset-2@md col-6@lg col-offset-3@lg-up o-fullscreen-container__wrapper">
    <div class="o-fullscreen-container__box">
      <h3 class="u-font-ta-c">Welcome to Secure Checkout</h3>

      <h3 class="u-font-ta-c u-mar-t-large"><strong>Email Address</strong></h3>
      <p class="u-font-ta-c u-mar-t-small">Please enter your email address</p>
     <input type="text" name="searchTerm" minlength="3" required
      class="o-input o-input--textual"
      placeholder="Enter email address" pattern=".{3,}" title="3 characters minimum">
      <a class="c-btn c-btn-secondary col-12@xs selectbox-full u-font-upper u-mar-v-medium">Continue</a>
      <p class="u-font-ta-c">We'll send confirmation of your order to this address</p>
    </div>
  </div>
</div>