<div class="container">
  <div class="row">

    <div class="col-10@xs col-offset-1@xs-up col-8@md col-offset-2@md col-4@lg col-offset-4@lg-up o-fullscreen-container__wrapper">

      <div class="o-fullscreen-container__box o-login__email">
        <h3 class="u-font-ta-c">Welcome to Secure Checkout</h3>
        <h3 class="u-font-ta-c u-mar-t-large">
          <strong>Email Address</strong>
        </h3>
        <p class="u-font-ta-c u-mar-t-small">Please enter your email address</p>
        <div class="o-form__row u-pad-t-0">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Email Address:</label>
          </div>
          <div class="o-form__input-contain">
            <input type="text" class="o-input o-input--textual" placeholder="Enter email address">
            <label class="o-form__label o-form__label-option u-mar-t-medium">
              <input type="checkbox">
              <span class="check-holder"></span>
              Remember me
            </label>
          </div>
        </div>
        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary u-mar-t-medium o-login__email-submit">
          <i class="icon icon-minibag"></i> Continue Securely
        </a>
        <p class="u-font-ta-c u-mar-t-small">We'll send confirmation of your order to this address</p>
      </div>

      <div class="o-fullscreen-container__box o-login__password" style="display:none">
        <h3 class="u-font-ta-c">Welcome to Secure Checkout</h3>
        <h3 class="u-font-ta-c u-mar-t-large">
          <strong>Welcome back, John!</strong>
        </h3>
        <p class="u-font-ta-c u-mar-t-small">Enter your password</p>
        <input type="text" name="searchTerm" minlength="3" required class="o-input o-input--textual" placeholder="Enter password" pattern=".{3,}" title="3 characters minimum">
        <a href="./checkout1.html" class="c-btn c-btn-secondary col-12@xs u-font-upper u-mar-v-medium o-login__password-submit">Continue</a>
        <p class="u-font-ta-c"><a class="o-login__password-forgotten o-form__label-option">Forgotten Password</a></p>
      </div>

      <div class="o-fullscreen-container__box u-cf o-login__forgotten-password" style="display:none">
        <h3 class="u-color-pri u-font-ta-c">Forgotten Password</h3>
        <p class="u-mar-t-small">Please enter your email address and submit. In doing this an email containing a special link will be emailed to you. Once recieved, click on this link and you will then have the opportunity to enter a new password.</p>
        <input type="text" name="searchTerm" minlength="3" required class="o-input o-input--textual" placeholder="Enter email address" pattern=".{3,}" title="3 characters minimum">
        <a href="./secure-login-winter.html" class="c-btn c-btn-secondary col-12@xs u-font-upper u-mar-v-medium">Continue</a>
      </div>

    </div>

  </div>
</div>
