<div id="homeware">
  <h2 class="sizeguide--content-title">Homeware Size Guide</h2>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Homeware Range"
    width="500">
    <thead>
      <tr>
        <th colspan="3" id="HomewareHeading2">Suitcase Size</th>
      </tr>
      <tr>
        <th>Small</th>
        <th>Medium</th>
        <th>Large</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>58.5cm x 36cm x 25.5cm</td>
        <td>70cm x 42cm x 29cm</td>
        <td>80.5cm x 46.5cm x 32.5cm</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Homeware Range">
    <thead>
      <tr>
        <th colspan="5" id="HomewareHeading2">Duvet Cover</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Single</th>
        <th>Double</th>
        <th>King</th>
        <th>Superking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Width</td>
        <td>135cm</td>
        <td>200cm</td>
        <td>230cm</td>
        <td>260cm</td>
      </tr>
      <tr>
        <td>Length</td>
        <td>200cm</td>
        <td>200cm</td>
        <td>220cm</td>
        <td>220cm</td>
      </tr>
      <tr>
        <td>Opening</td>
        <td>100cm</td>
        <td>160cm</td>
        <td>180cm</td>
        <td>180cm</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Homeware Range">
    <thead>
      <tr>
        <th colspan="5" id="HomewareHeading2">Valance Sheet</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Single</th>
        <th>Double</th>
        <th>King</th>
        <th>Superking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Width</td>
        <td>90cm</td>
        <td>135cm</td>
        <td>150cm</td>
        <td>180cm</td>
      </tr>
      <tr>
        <td>Length</td>
        <td>190cm</td>
        <td>190cm</td>
        <td>200cm</td>
        <td>200cm</td>
      </tr>
      <tr>
        <td>Skirt</td>
        <td>38.5cm</td>
        <td>38.5cm</td>
        <td>38.5cm</td>
        <td>38.5cm</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Homeware Range">
    <thead>
      <tr>
        <th colspan="5" id="HomewareHeading2">Flat Sheet</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Single</th>
        <th>Double</th>
        <th>King</th>
        <th>Superking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Width</td>
        <td>180cm</td>
        <td>230cm</td>
        <td>275cm</td>
        <td>305cm</td>
      </tr>
      <tr>
        <td>Length</td>
        <td>255cm</td>
        <td>255cm</td>
        <td>265cm</td>
        <td>320cm</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Homeware Range">
    <thead>
      <tr>
        <th colspan="5" id="HomewareHeading2">Fitted Sheet</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Single</th>
        <th>Double</th>
        <th>King</th>
        <th>Superking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Width</td>
        <td>90cm</td>
        <td>135cm</td>
        <td>150cm</td>
        <td>180cm</td>
      </tr>
      <tr>
        <td>Length</td>
        <td>190cm</td>
        <td>190cm</td>
        <td>200cm</td>
        <td>200cm</td>
      </tr>
      <tr>
        <td>Box</td>
        <td>25cm</td>
        <td>25cm</td>
        <td>25cm</td>
        <td>25cm</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Homeware Range">
    <thead>
      <tr>
        <th colspan="5" id="HomewareHeading2">Pillowcases</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Housewife</th>
        <th colspan="2">Oxford</th>
        <th>Continental</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Width</td>
        <td>48cm</td>
        <td>Inner 48cm</td>
        <td>Outer 61cm</td>
        <td>65cm</td>
      </tr>
      <tr>
        <td>Length</td>
        <td>74cm</td>
        <td>Inner 74cm</td>
        <td>Outer 87cm</td>
        <td>65cm</td>
      </tr>
      <tr>
        <td>Flap Depth</td>
        <td>17cm</td>
        <td>17cm</td>
        <td>n/a</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>Border</td>
        <td>n/a</td>
        <td>6.5cm</td>
        <td>n/a</td>
        <td>n/a</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Homeware Range"
    width="">
    <thead>
      <tr class="">
        <th colspan="3" id="">Toddler Bed</th>
      </tr>
      <tr class="">
        <th>&nbsp;</th>
        <th>Single</th>
        <th>Double</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Width</td>
        <td>120cm</td>
        <td>42cm</td>
      </tr>
      <tr>
        <td>Length</td>
        <td>150cm</td>
        <td>62cm</td>
      </tr>
    </tbody>
    </table>
  </div>

</div>
