<div id="womens">
  <h2 class="sizeguide--content-title">Women's Clothing &amp; Footwear Size Guide</h2>
  <p>Always measure your actual body, not clothed body to get an accurate reading for sizeing. It is advisable
    to wear a non padded bra to get more accurate bust measurement </p>
  <p>
    <strong>Bust</strong> - Measure around the fullest part of your bust and across your shoulder blades.
  </p>
  <p>
    <strong>Waist</strong> - Keeping the tape measure taut, measure around your natural waist.</p>
  <p>
    <strong>Lower Hip</strong> - With your legs together, measure approximately 20cm down from your natural waist
    and measure around the lower part of your bottom.</p>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for All Brands">
      <thead>
        <tr>
          <th rowspan="2">Measure Point</th>
          <th class="u-font-ta-c" colspan="12">Garment Size / Body Measurement</th>
        </tr>
        <tr>
          <th colspan="2">Small</th>
          <th colspan="2">Medium</th>
          <th colspan="2">Large</th>
          <th colspan="2">XL</th>
          <th colspan="2">XXL</th>
          <th colspan="2">XXXL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UK</td>
          <td>6</td>
          <td>8</td>
          <td>10</td>
          <td>12</td>
          <td>14</td>
          <td>16</td>
          <td>18</td>
          <td>20</td>
          <td>22</td>
          <td>24</td>
          <td>26</td>
          <td>28</td>
        </tr>
        <tr>
          <td>EU</td>
          <td>34</td>
          <td>36</td>
          <td>38</td>
          <td>40</td>
          <td>42</td>
          <td>44</td>
          <td>46</td>
          <td>48</td>
          <td>50</td>
          <td>52</td>
          <td>54</td>
          <td>56</td>
        </tr>
        <tr>
          <td>Chest / Bust (cm)</td>
          <td>79</td>
          <td>83</td>
          <td>87</td>
          <td>92</td>
          <td>97</td>
          <td>102</td>
          <td>108</td>
          <td>114</td>
          <td>120</td>
          <td>126</td>
          <td>132</td>
          <td>138</td>
        </tr>
        <tr>
          <td>Waist (cm)</td>
          <td>64.5</td>
          <td>68</td>
          <td>71.5</td>
          <td>76</td>
          <td>81</td>
          <td>86.5</td>
          <td>93</td>
          <td>99.5</td>
          <td>106</td>
          <td>112.5</td>
          <td>119</td>
          <td>125.5</td>
        </tr>
        <tr>
          <td>Lower Hip (cm)</td>
          <td>87</td>
          <td>91</td>
          <td>95</td>
          <td>100</td>
          <td>105</td>
          <td>110</td>
          <td>116</td>
          <td>122</td>
          <td>128</td>
          <td>134</td>
          <td>140</td>
          <td>146</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="c-table--responsive u-mar-b-huge">
    <table id="Womens Shoes" class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Womens Shoes"
      cellspacing="0">
      <thead>
        <tr>
          <th colspan="3" id="WomensShoeHeading3">Womens Shoes</th>
        </tr>
        <tr>
          <th>UK</th>
          <th>Europe</th>
          <th>USA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td>35</td>
          <td>4</td>
        </tr>
        <tr>
          <td>2½</td>
          <td>35½</td>
          <td>4½</td>
        </tr>
        <tr>
          <td>3</td>
          <td>36</td>
          <td>5</td>
        </tr>
        <tr>
          <td>3½</td>
          <td>36½</td>
          <td>5½</td>
        </tr>
        <tr>
          <td>4</td>
          <td>37</td>
          <td>6</td>
        </tr>
        <tr>
          <td>4½</td>
          <td>37½</td>
          <td>6½</td>
        </tr>
        <tr>
          <td>5</td>
          <td>38</td>
          <td>7</td>
        </tr>
        <tr>
          <td>5½</td>
          <td>38½</td>
          <td>7½</td>
        </tr>
        <tr>
          <td>6</td>
          <td>39</td>
          <td>8</td>
        </tr>
        <tr>
          <td>6½</td>
          <td>39½</td>
          <td>8½</td>
        </tr>
        <tr>
          <td>7</td>
          <td>41</td>
          <td>9</td>
        </tr>
        <tr>
          <td>7½</td>
          <td>41½</td>
          <td>9½</td>
        </tr>
        <tr>
          <td>8</td>
          <td>42</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" id="Womens Slippers" summary="Size Guide for Womens Slippers"
      cellspacing="0">
      <thead>
        <tr>
          <th colspan="3" id="WomensSlippersHeading3">Womens Slippers</th>
        </tr>
        <tr>
          <th>Slipper Size</th>
          <th>UK Shoe Size</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>S</td>
          <td>3-4</td>
        </tr>
        <tr>
          <td>M</td>
          <td>5-6</td>
        </tr>
        <tr>
          <td>L</td>
          <td>7-8</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<div id="maternity">
  <h2>Maternity Measuring Guide</h2>
  <p>Matalan maternity collection is available in sizes 8-18. All our maternity styles are sized according
    to your pre-pregnancy size with natural ease added to garments for your comfort during pregnancy.
  </p>
  <p>
    <strong>Maternity Trousers, Skirts and Shorts fit Guide</strong>
  </p>
  <p>For all our trousers, skirts and shorts a variety of stretch and supporting panels are used to ensure
    maximum comfort. Each and every style is designed around your new curves and growing bump during
    pregnancy. The use of elasticated stretchy fabrics that contain elastane ensure the fabric will grow
    with you through all your stages of pregnancy.</p>
  <p>
    <strong>Matalan Fit - Maternity Jeans</strong>
  </p>
  <p>Maternity jeans are often worn before and for a while after the birth of your baby. We always carefully
    consider the styling of our jeans as we look for softer washes in our denims keeping comfort our
    main focus whilst offering fashionable styling. We offer various choices of waistband styling to
    accommodate&nbsp;and flatter your shape and growing bump.</p>
  <p>
    <img src="http://jscsecmat.ctscdn.com/content/images/size-guide/maternity-size-guide-model.gif">
  </p>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" id="sizeGuideTable2" summary="Size Guide for All Brands"
      cellspacing="0" width="600">
      <thead>
        <tr>
          <th class="u-pad-l-medium" id="topHeading2" width="140">
            <strong>Insert Pocket Panels</strong>
          </th>
          <th class="u-pad-l-medium" id="topHeading2" width="140">
            <strong>Narrow Bump Band </strong>
          </th>
          <th class="u-pad-l-medium" id="topHeading2" width="140">
            <strong>Full Over The Bump Panel</strong>
          </th>
          <th class="u-pad-l-medium" id="topHeading2" width="140">
            <strong>Turn Top Waist Band</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="u-pad-l-medium" width="140">This style has a front fly to look like a regular trouser/jean and jersey pockets to keep you
            feeling comfortable as you grow. Inner extendable waistband tabs that you can adjust to suit
            you growing bump. 5'8" </td>
          <td class="u-pad-l-medium" width="140">The jersey elasticated band that will sit under your bump. Ideal for during and after pregnancy.
          </td>
          <td class="u-pad-l-medium" width="140">Over the bump smooth jersey panel give maximum support and overall comfort. Elasticated at
            the top edge to extend with growing bump. </td>
          <td class="u-pad-l-medium" width="140">A versatile waistband that can be worn over or under the bump. Soft jersey panel designed to
            fit throughout and after pregnancy.</td>
        </tr>
        <tr>
          <td colspan="13" class="u-pad-l-medium">There may be some slight variation to panels depending on styling.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>
    <strong>Maternity Tops and Dresses fit Guide</strong>
  </p>
  <p>At Matalan we are able to provide you with a range of maternity tops and dresses that will meet all
    stages of your pregnancy.</p>
  <p>Our styles are designed to make the clothes work from day one to after your baby is born. Styling details
    such as underbust seams and ties/drawstrings that can be adjusted for comfort and ease. Many also
    have side rouching to ensure a snug but comfortable fit as you grow. Adjustable straps allowing growth
    and maximising support were it is needed.</p>
  <p>Our choice of fabrics is carefully selected to give comfort and durability in your day to day wear.
    On our more fitted styles most fabrics contain elastane to allow more support and stretch whilst
    also maintaining shape.</p>
  <p>
    <img src="http://jscsecmat.ctscdn.com/content/images/size-guide/maternity-size-guide-model2.gif">
  </p>
</div>

<div id="bra">
  <h2>Bra Size Measuring Guide</h2>
  <p>Follow the guide lines below on how to find your bra size. Always measure yourself wearing a bra (not
    padded) and take measurements in inches.</p>
  <p>
    <strong>Diagram point 1 - Underbust</strong>
  </p>
  <ul>
    <li>Place tape measure around you rib cage underneath the bust, hold the tape firmly but not too tight.
    </li>
    <li>If your measurement is an even number then add 4 inches.</li>
    <li>If your measurement is an odd number then add 5 inches.</li>
    <li>This will give you your underbust measurement for your bra size.</li>
  </ul>
  <p>
    <strong>Diagram point 2 - Overbust</strong>
  </p>
  <p>Place the tape around the fullest part of your bust, do not pull too tight. Note the measurement and
    use the guide below to find your bra size.</p>
  <p>
    <img src="http://jscsecmat.ctscdn.com/content/images/size-guide/bra-size-guide-model.jpg">
  </p>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Lingerie size guide">
      <thead>
        <tr>
          <th class="u-font-ta-c u-pad-l-medium" id="underbust" rowspan="2">Underbust Measurement Fig Ref (1)</th>
          <th class="u-font-ta-c" id="braSize" rowspan="2">Bra Size Fig Ref (1)</th>
          <th class="u-font-ta-c" colspan="7" id="topHeading3">Overbust Measurement / Cup Size / Fig Reg (2)</th>
        </tr>
        <tr>
          <th class="u-font-ta-c" id="A">A</th>
          <th class="u-font-ta-c" id="B">B</th>
          <th class="u-font-ta-c" id="C">C</th>
          <th class="u-font-ta-c" id="D">D</th>
          <th class="u-font-ta-c" id="DD">DD</th>
          <th class="u-font-ta-c" id="E">E</th>
          <th class="u-font-ta-c padRight" id="F">F</th>
        </tr>
      </thead>
      <tbody>
        <tr class="braSG">
          <td class="u-font-ta-c" headers="underbust">27 / 28</td>
          <td class="u-font-ta-c" headers="braSize">32</td>
          <td class="u-font-ta-c" headers="A">32</td>
          <td class="u-font-ta-c" headers="B">33</td>
          <td class="u-font-ta-c" headers="C">34</td>
          <td class="u-font-ta-c" headers="D">35</td>
          <td class="u-font-ta-c" headers="DD">36</td>
          <td class="u-font-ta-c" headers="E">37</td>
          <td class="u-font-ta-c padRight" headers="F">38</td>
        </tr>
        <tr class="braSG">
          <td class="u-font-ta-c" headers="underbust">29 / 30</td>
          <td class="u-font-ta-c" headers="braSize">34</td>
          <td class="u-font-ta-c" headers="A">34</td>
          <td class="u-font-ta-c" headers="B">35</td>
          <td class="u-font-ta-c" headers="C">36</td>
          <td class="u-font-ta-c" headers="D">37</td>
          <td class="u-font-ta-c" headers="DD">38</td>
          <td class="u-font-ta-c" headers="E">39</td>
          <td class="u-font-ta-c padRight" headers="F">40</td>
        </tr>
        <tr class="braSG">
          <td class="u-font-ta-c" headers="underbust">31 / 32</td>
          <td class="u-font-ta-c" headers="braSize">36</td>
          <td class="u-font-ta-c" headers="A">36</td>
          <td class="u-font-ta-c" headers="B">37</td>
          <td class="u-font-ta-c" headers="C">38</td>
          <td class="u-font-ta-c" headers="D">39</td>
          <td class="u-font-ta-c" headers="DD">40</td>
          <td class="u-font-ta-c" headers="E">41</td>
          <td class="u-font-ta-c padRight" headers="F">42</td>
        </tr>
        <tr class="braSG">
          <td class="u-font-ta-c" headers="underbust">33 / 34</td>
          <td class="u-font-ta-c" headers="braSize">38</td>
          <td class="u-font-ta-c" headers="A">38</td>
          <td class="u-font-ta-c" headers="B">39</td>
          <td class="u-font-ta-c" headers="C">40</td>
          <td class="u-font-ta-c" headers="D">41</td>
          <td class="u-font-ta-c" headers="DD">42</td>
          <td class="u-font-ta-c" headers="E">43</td>
          <td class="u-font-ta-c padRight" headers="F">44</td>
        </tr>
        <tr class="braSG">
          <td class="u-font-ta-c" headers="underbust">34 / 36</td>
          <td class="u-font-ta-c" headers="braSize">40</td>
          <td class="u-font-ta-c" headers="A">40</td>
          <td class="u-font-ta-c" headers="B">41</td>
          <td class="u-font-ta-c" headers="C">42</td>
          <td class="u-font-ta-c" headers="D">43</td>
          <td class="u-font-ta-c" headers="DD">44</td>
          <td class="u-font-ta-c" headers="E">45</td>
          <td class="u-font-ta-c padRight" headers="F">46</td>
        </tr>
        <tr class="braSG">
          <td class="u-font-ta-c" headers="underbust">37 / 48</td>
          <td class="u-font-ta-c" headers="braSize">42</td>
          <td class="u-font-ta-c" headers="A">42</td>
          <td class="u-font-ta-c" headers="B">43</td>
          <td class="u-font-ta-c" headers="C">44</td>
          <td class="u-font-ta-c" headers="D">45</td>
          <td class="u-font-ta-c" headers="DD">46</td>
          <td class="u-font-ta-c" headers="E">47</td>
          <td class="u-font-ta-c padRight" headers="F">48</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
