<div id="kids">
  <h4 class="sizeguide--content-title">Kids Clothing &amp; Footwear Size Guide</h4>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Girls Childrens Wear Range"
      cellspacing="0">
      <thead>
        <tr>
          <th colspan="12" id="girlsChildrensWearHeading">Girls Childrens Wear</th>
        </tr>
        <tr>
          <th>Order Size</th>
          <th>3yrs</th>
          <th>4yrs</th>
          <th>5yrs</th>
          <th>6yrs</th>
          <th>7yrs</th>
          <th>8yrs</th>
          <th>9yrs</th>
          <th>10yrs</th>
          <th>11yrs</th>
          <th>12yrs</th>
          <th>13yrs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height (cm)</td>
          <td>98</td>
          <td>104</td>
          <td>110</td>
          <td>116</td>
          <td>122</td>
          <td>128</td>
          <td>134</td>
          <td>140</td>
          <td>146</td>
          <td>152</td>
          <td>158</td>
        </tr>
        <tr>
          <td>Chest (cm)</td>
          <td>53</td>
          <td>55</td>
          <td>57</td>
          <td>59</td>
          <td>62</td>
          <td>64½</td>
          <td>67</td>
          <td>70</td>
          <td>73</td>
          <td>76</td>
          <td>79</td>
        </tr>
        <tr>
          <td>Waist (cm)</td>
          <td>51</td>
          <td>52½</td>
          <td>54</td>
          <td>55</td>
          <td>57</td>
          <td>58</td>
          <td>59</td>
          <td>60</td>
          <td>61</td>
          <td>62½</td>
          <td>64</td>
        </tr>
        <tr>
          <td>Hip (cm)</td>
          <td>55</td>
          <td>58</td>
          <td>61</td>
          <td>63</td>
          <td>66</td>
          <td>69½</td>
          <td>73</td>
          <td>75½</td>
          <td>78</td>
          <td>81</td>
          <td>84</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Boys Dual"
      cellspacing="0">
      <thead>
        <tr>
          <th colspan="9" id="boysDualChildrensWearHeading">Boys Actual Body Measurements - Dual (trousers, knitwear, tops, swimwear, coats)</th>
        </tr>
        <tr>
          <th>Order Size</th>
          <th>2-3yrs</th>
          <th>4-5yrs</th>
          <th>6-7yrs</th>
          <th>8-9yrs</th>
          <th>10-11yrs</th>
          <th>12-13yrs</th>
          <th>14-15yrs</th>
          <th>16yrs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height (cm)</td>
          <td>98</td>
          <td>110</td>
          <td>122</td>
          <td>134</td>
          <td>146</td>
          <td>158</td>
          <td>170</td>
          <td>176</td>
        </tr>
        <tr>
          <td>Chest (cm)</td>
          <td>53</td>
          <td>58</td>
          <td>62</td>
          <td>66</td>
          <td>72</td>
          <td>78</td>
          <td>84</td>
          <td>80</td>
        </tr>
        <tr>
          <td>Waist (cm)</td>
          <td>51</td>
          <td>55</td>
          <td>57</td>
          <td>60</td>
          <td>64½</td>
          <td>70½</td>
          <td>76½</td>
          <td>79½</td>
        </tr>
        <tr>
          <td>Hip (cm)</td>
          <td>55</td>
          <td>57½</td>
          <td>62½</td>
          <td>68</td>
          <td>74½</td>
          <td>80</td>
          <td>86</td>
          <td>89</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Boys Single"
      cellspacing="0">
      <thead>
        <tr>
          <th colspan="15" id="boysSingleChildrensWearHeading">Boys Actual Body Measurements - Single (jeans, trousers, jogger pants)</th>
        </tr>
        <tr>
          <th>Order Size</th>
          <th>3yrs</th>
          <th>4yrs</th>
          <th>5yrs</th>
          <th>6yrs</th>
          <th>7yrs</th>
          <th>8yrs</th>
          <th>9yrs</th>
          <th>10yrs</th>
          <th>11yrs</th>
          <th>12yrs</th>
          <th>13yrs</th>
          <th>14yrs</th>
          <th>15yrs</th>
          <th>16yrs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height (cm)</td>
          <td>98</td>
          <td>104</td>
          <td>110</td>
          <td>116</td>
          <td>122</td>
          <td>128</td>
          <td>134</td>
          <td>140</td>
          <td>146</td>
          <td>152</td>
          <td>158</td>
          <td>164</td>
          <td>170</td>
          <td>176</td>
        </tr>
        <tr>
          <td>Chest (cm)</td>
          <td>53</td>
          <td>55½</td>
          <td>58</td>
          <td>60</td>
          <td>62</td>
          <td>64</td>
          <td>66</td>
          <td>69</td>
          <td>72</td>
          <td>75</td>
          <td>78</td>
          <td>81</td>
          <td>84</td>
          <td>80</td>
        </tr>
        <tr>
          <td>Waist (cm)</td>
          <td>51</td>
          <td>53</td>
          <td>55</td>
          <td>56</td>
          <td>57</td>
          <td>58½</td>
          <td>60</td>
          <td>62¼</td>
          <td>64½</td>
          <td>67½</td>
          <td>70½</td>
          <td>73½</td>
          <td>76½</td>
          <td>79½</td>
        </tr>
        <tr>
          <td>Hip (cm)</td>
          <td>55</td>
          <td>55½</td>
          <td>57½</td>
          <td>60</td>
          <td>62½</td>
          <td>65</td>
          <td>68</td>
          <td>71</td>
          <td>74½</td>
          <td>77</td>
          <td>80</td>
          <td>83</td>
          <td>86</td>
          <td>89</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Girls Boys Dual"
      cellspacing="0">
      <thead>
        <tr>
          <th colspan="14" id="infantsWearHeading">Infants Wear Sizing</th>
        </tr>
        <tr>
          <th>Order Size</th>
          <th>Tiny Baby</th>
          <th>New Born</th>
          <th>0-3mths</th>
          <th>3-6mths</th>
          <th>6-9mths</th>
          <th>9-12mths</th>
          <th>12-18mths</th>
          <th>18-23mths</th>
          <th>2-3yrs</th>
          <th>3-4yrs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height (cm)</td>
          <td>Up to 53</td>
          <td>Up to 56</td>
          <td>56-62</td>
          <td>62-68</td>
          <td>68-74</td>
          <td>74-80</td>
          <td>80-86</td>
          <td>86-92</td>
          <td>92-98</td>
          <td>98-104</td>
        </tr>
        <tr>
          <td>Weight (kgs)</td>
          <td>Up to 3.6</td>
          <td>Up to 4.5</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Weight (lbs)</td>
          <td>Up to 7</td>
          <td>Up to 10</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Chest (cm)</td>
          <td>-</td>
          <td>-</td>
          <td>43½</td>
          <td>46</td>
          <td>48</td>
          <td>50</td>
          <td>51</td>
          <td>52</td>
          <td>53</td>
          <td>55.5</td>
        </tr>
        <tr>
          <td>Waist (cm)</td>
          <td>-</td>
          <td>-</td>
          <td>40½</td>
          <td>43</td>
          <td>45</td>
          <td>46½</td>
          <td>48</td>
          <td>49½</td>
          <td>51</td>
          <td>52</td>
        </tr>
        <tr>
          <td>Hip (cm)</td>
          <td>-</td>
          <td>-</td>
          <td>42½</td>
          <td>46</td>
          <td>48</td>
          <td>50</td>
          <td>51</td>
          <td>53</td>
          <td>55</td>
          <td>57.5</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="c-table--responsive u-mar-b-huge">
    <table class="c-table c-table--spaced c-table--inverted" summary="Size Guide for Girls Childrens Wear Range">
      <thead>
        <tr>
          <th colspan="5" id="girlsChildrensWearHeading2">Kids Shoes</th>
        </tr>
        <tr>
          <th>Continental</th>
          <th>UK</th>
          <th>US</th>
          <th>Age Girls</th>
          <th>Age Boys</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>19</td>
          <td>3</td>
          <td>4</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>3½</td>
          <td>4½</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>20</td>
          <td>4</td>
          <td>5</td>
          <td>7-23 months</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>4½</td>
          <td>5½</td>
          <td>&nbsp;</td>
          <td>7-23 months</td>
        </tr>
        <tr>
          <td>21</td>
          <td>5</td>
          <td>6</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>22</td>
          <td>5½</td>
          <td>6½</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>6</td>
          <td>7</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>23</td>
          <td>6½</td>
          <td>7½</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>24</td>
          <td>7</td>
          <td>8</td>
          <td>2 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>25</td>
          <td>7½</td>
          <td>8½</td>
          <td>&nbsp;</td>
          <td>2 yrs</td>
        </tr>
        <tr>
          <td>26</td>
          <td>8</td>
          <td>9</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>8½</td>
          <td>9½</td>
          <td>3 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>27</td>
          <td>9</td>
          <td>10</td>
          <td>&nbsp;</td>
          <td>3 yrs</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>9½</td>
          <td>10½</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>28</td>
          <td>10</td>
          <td>11</td>
          <td>4 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>10½</td>
          <td>11½</td>
          <td>&nbsp;</td>
          <td>4 yrs</td>
        </tr>
        <tr>
          <td>29</td>
          <td>11</td>
          <td>12</td>
          <td>5 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>11½</td>
          <td>12½</td>
          <td>&nbsp;</td>
          <td>5 yrs</td>
        </tr>
        <tr>
          <td>30</td>
          <td>12</td>
          <td>13</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>31</td>
          <td>12½</td>
          <td>13½</td>
          <td>6 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>32</td>
          <td>13</td>
          <td>1</td>
          <td>&nbsp;</td>
          <td>6 yrs</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>13½</td>
          <td>1½</td>
          <td>7 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>33</td>
          <td>1</td>
          <td>2</td>
          <td>&nbsp;</td>
          <td>7 yrs</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>1½</td>
          <td>2½</td>
          <td>8 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>34</td>
          <td>2</td>
          <td>3</td>
          <td>&nbsp;</td>
          <td>8yrs</td>
        </tr>
        <tr>
          <td>35</td>
          <td>2½</td>
          <td>3½</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>36</td>
          <td>3</td>
          <td>4</td>
          <td>9 yrs</td>
          <td>9yrs</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>3½</td>
          <td>4½</td>
          <td>10 yrs</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>37</td>
          <td>4</td>
          <td>5</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>4½</td>
          <td>5½</td>
          <td>&nbsp;</td>
          <td>10 yrs</td>
        </tr>
        <tr>
          <td>38</td>
          <td>5</td>
          <td>6</td>
          <td>&nbsp;</td>
          <td>10 yrs</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>5½</td>
          <td>6½</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>39</td>
          <td>6</td>
          <td>7</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>6½</td>
          <td>7½</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>40</td>
          <td>7</td>
          <td>8</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
