<div class="row o-store-locator" style="position: relative;">
  <div class="col-12@xs col-5@md o-store-single--detail  u-mar-l-huge">
    <div class="row u-pad-medium">
      <div class="col-12@xs">
        <div class="o-section__detail-title--large">Address</div>
      </div>
      <div class="col-12@xs">
        <div class="o-section__detail-sub u-mar-t-medium">Matalan - 760 Harrogate Road Greengates, BD10 0QS</div>
        <div class="c-btn c-btn--primary--alt col-6@xs u-mar-t-medium u-font-upper">Get Directions</div>
      </div>
      <div class="col-12@xs">
        <div class="o-section__detail-title--large u-mar-t-medium">Opening Hours</div>
      </div>
      <div class="col-12@xs">
        <div class="o-section__detail-sub u-mar-t-medium">Monday - Friday: 09:00 - 20:00
          <br>Saturday: 09:00 - 19:00
          <br>Sunday: 11:00 - 17:00
          <br>
        </div>
      </div>
      <div class="col-12@xs">
        <div class="o-section__detail-title--large u-mar-t-medium">Telephone</div>
      </div>
      <div class="col-12@xs">
        <div class="o-section__detail-sub u-mar-t-medium"><a href="tel:03330044444">Tel:0333 0044444</a></div>
        <div class="c-btn c-btn--primary--alt col-6@xs u-mar-t-medium u-font-upper">Click & Collect</div>
      </div>
    </div>
  </div>
  <div class="col-12@xs u-pad-0 o-map__outer-container">
    <div class="map-wrapper">
      <div id="map" class="map"></div>
    </div>
  </div>
</div>{{> partials/click-and-collect }}
