<div class="row">
  <div class="col-12@xs col-5@md">
    <h4 class="u-mar-t-medium">Postcode or Data result</h4>
    <h5 class="u-border2-b u-border2-t u-mar-t-medium u-pad-v-small">All Stores</h5>
  </div>
</div>

<div class="row o-store-locator">
  <div class="col-12@xs col-5@md o-store-locator__locations u-pad-r-0">
    <div id="listings" class="o-store-locator__listings"></div>
  </div>
  <div class="col-12@xs col-7@md">
    <div class="map-wrapper">
      <div id="map" class="map"></div>
    </div>
  </div>
</div>

