<div class="o-hero o-hero__bg">
  <div class="o-hero__container">

  </div>
  <div class="o-section__detail--midleft u-mar-l-huge">
      <div class="o-section__detail u-font-ta-c u-pad-huge">
        <div class="o-section__detail-title--large">Bradford Greengates</div>
        <div class="o-section__detail-sub u-font-ta-c u-mar-t-large"><strong>Open Today: 09:00 - 20:00</strong></div>
      </div>
    </div>
</div>

<style>
  .o-hero__bg {
    background-image: url("img-assets/hero.jpg");
  }
</style>