<div class="row o-store-locator">
  <div class="col-12@xs col-5@md">
    <div class="row">
      <div class="col-12@xs">
        <h4 class="u-mar-t-medium">Postcode or Data result</h4>
        <h5 class="u-border2-b u-border2-t u-mar-t-medium u-pad-v-small">All Stores</h5>
      </div>
      <div class="col-12@xs o-store-locator__locations">
        <div id='listings' class='o-store-locator__listings'></div>
      </div>
    </div>
  </div>
  <div class="col-12@xs col-7@md u-pad-0 o-map__outer-container">
    <div class="map-wrapper">
      <div id='map' class='map' style="width: 100%; height: 100%"></div>
    </div>
  </div>
</div>