<style>
  #map { position:absolute; top:0; bottom:0; width:100%; display:block; }
</style>

<div class="row">
  <div class="col-12@xs">
      <h4>Store Finder</h4>

  </div>
  <div class="col-3@lg">
    dasdad
  </div>
  <div class="col-9@lg">
    <div id="map">
    </div>
  </div>
</div>

<script>

  L.mapbox.accessToken = 'pk.eyJ1IjoiYW5keWpvbmVzIiwiYSI6ImNpajJ5cWV0dzAwMnJ2YmtuMjRtMDQ5MTAifQ.I5VhvTgZGyXIQqaMI0KwPg';
  var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([40, -74.50], 9);

    </script>

