<div class="o-hero o-hero__bg">
  <div class="o-hero__container">
    <div class="o-hero__detail-right">
      <div class="o-hero__detail-title u-mar-v-medium u-font-sec">Wrap up warm</div>
      <div class="o-hero__detail-sub u-mar-v-medium u-font-pri u-color-grey90">Offers Online &amp; In Store Now</div>
      <div class="o-hero__detail-btn-group ">
        <div class="c-btn u-mar-v-medium">Shop all offers</div>
        <div class="c-btn u-mar-v-medium">Womens offers</div>
        <div class="c-btn u-mar-v-medium">Mens offers</div>
      </div>
    </div>
  </div>
</div>

<style>
  .o-hero__bg {
    background-image: url("img-assets/hero.jpg");
  }
</style>