<div class="row">
  <div class="col-10@xs col-offset-1@xs col-offset-1@sm col-8@md col-offset-2@md col-4@lg col-offset-4@lg-up o-fullscreen-container__wrapper">
    <div class="o-fullscreen-container__box u-cf ">
      <h3 class="u-font-ta-c">Store Finder</h3>
      <h3 class="u-color-cgrey u-mar-t-small u-font-ta-c">With over 200 stores across the UK we are closer to you and your family than you may think.</h3>
      <form class="o-form--inline c-search-form has-focus">
        <div class="o-form__row u-pad-b-0">
          <div class="o-form--input-pack o-form__input-contain">
            <div class="input-group--addon unstyled input-group--addon__inset">
              <i class="icon icon-menu-storefinder"></i>
            </div>
            <input  id="addressEntry"
                    type="text"
                    class="o-input o-input--textual input-addon--expand input-group--addon__inset-left"
                    placeholder="Enter address, city, postcode">
            <a id="findStore" href="javascript:void(0)" class="input-group--addon unstyled c-search__button find-store">Find</a>
          </div>
        </div>
      </form>
      <div class="separator__inline-text">
        <span>or</span>
      </div>
      <a id="geolocate" class="c-btn c-btn-secondary__alt c-btn-block use-location u-font-upper">Use my Location</a>
    </div>
  </div>
</div>