<div class="row">
  <div class="col-lg-12">
    <h2>Oh no! Nothing matches <strong>'Search terms'</strong></h2>
    <h4>To help with your sarch whny not try:</h4>
    <ul  style="list-style-type: disc; margin-left: 20px;">
      <li>Checking your spelling</li>
      <li>Using less words</li>
      <li>Try using a different search word</li>
    </ul>
    <h3><strong>Need some inspiration?</strong></h3>
    <p>Other people search for</p>
    <ul class="auto-column-4">
      <li><a href="">Link 1</a></a></li>
      <li><a href="">Link 2</a></li>
      <li><a href="">Link 3</a></li>
      <li><a href="">Link 4</a></li>
      <li><a href="">Link 5</a></li>
      <li><a href="">Link 6</a></li>
      <li><a href="">Link 7</a></li>
      <li><a href="">Link 8</a></li>
      <li><a href="">Link 9</a></li>
      <li><a href="">Link 10</a></li>
      <li><a href="">Link 11</a></li>
      <li><a href="">Link 12</a></li>
    </ul>
    <p>If you can't find the information you're looking for or have a question, don't hesitate to give our friendly customer service team a call or email:</p>

    <p> <i class="icon-phone"></i> Call: <strong><a href="tel:03330044444">0333 0044444</a></strong></p>
    <p> Monday - Sunday 8am - 6pm</p>
  <p> <i class="icon-email"></i> Email: cs@matalanonline.co.uk</p>
  </div>
</div>