  <div class="o-fullscreen-container__wrapper u-cf">
    <div class="o-fullscreen-container__box--large u-cf">
      <h3>Oh no! Nothing matches</h3>
      <h3><strong>'Search terms'</strong></h3>

      <div class="separator separator--large"></div>

      <h4 class="u-mar-t-small">To help with your search why not try:</h4>
      <ul class="list__text list-space__small">
        <li class="list__item">Checking your spelling</li>
        <li class="list__item">Using less words</li>
        <li class="list__item">Try using a different search word</li>
      </ul>

      <div class="separator separator--large"></div>

      <h3 class="">Need some inspiration?</h3>
      <p class="u-mar-t-small">Other people search for</p>
      <ul class="list-space__small auto-column-4 u-font-underline">
        <li class="list__item"><a href="">Womens clothes</a></li>
        <li class="list__item"><a href="">Mens clothes</a></li>
        <li class="list__item"><a href="">Winter coat</a></li>
        <li class="list__item"><a href="">Bobble hat</a></li>
        <li class="list__item"><a href="">Beanie</a></li>
        <li class="list__item"><a href="">Blue jeans</a></li>
        <li class="list__item"><a href="">Scarf</a></li>
        <li class="list__item"><a href="">Hat</a></li>
        <li class="list__item"><a href="">Winter socks</a></li>
        <li class="list__item"><a href="">Boots</a></li>
        <li class="list__item"><a href="">Suit</a></li>
        <li class="list__item"><a href="">Smart shoes</a></li>
      </ul>

      <div class="separator separator--large"></div>

      <p class="u-mar-t-medium">If you can't find the information you're looking for or have a question,
      don't hesitate to give our friendly customer service team a call or email:</p>

      <dl class="o-deflist-left o-deflist-left--small">
        <dt><i class="icon icon--small icon-telephone u-pad-r-small u-color-dgrey"></i> Call</dt>
        <dd><strong><a href="tel:03330044444">0333 0044444</a></strong></dd>

        <dt><i class="icon icon--small icon-calendar u-pad-r-small u-color-dgrey"></i>Open</dt>
        <dd>Monday &ndash; Sunday 8am &ndash; 6pm</dd>

        <dt><i class="icon icon--small icon-email u-pad-r-small u-color-dgrey"></i> Email</dt>
        <dd><a href="mailto:cs@matalanonline.co.uk">cs@matalanonline.co.uk</a></dd>

      </dl>




    </div>
  </div>

