/**
 * Matalan Brand Colors
 */

// Colors
$color-white       : #FFFFFF;
$color-red         : #DF1F26;
$color-dark-grey   : #231F20;
$color-cool-grey   : #97999b;


// Supporting Colors
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;

// Web Colors
$color-keyline     : #E0E0E2;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;

// We use these as default colors throughout
<<<<<<< HEAD:src/scss/1-settings/_colors.scss
$brand-primary-color: $red;
$brand-secondary-color: #f5f5f5; // light grey


$error-color: #F2DEDE;     // red
$success-color: #DFF0D8;   // green
$warning-color: #FCF8E3;   // yellow
$info-color: #D9EDF7;      // blue
=======
$primary-color  : $red;
$secondary-color: #f5f5f5;
$alert-color    : #F2DEDE;     // red
$success-color  : #DFF0D8;   // green
$warning-color  : #FCF8E3;   // yellow
$info-color     : #D9EDF7;      // blue
>>>>>>> f3fc8ddc4e47851ea0b7c762e62a88b3f0d59e2d:scss/1-settings/_colors.scss
