/**
 * Matalan UI Kit Colors
 */

$white: #fff;
$black: #000;

// Brand Colors
$matalan-brand: #eb0000;
$dark-grey: #383838;
$cool-grey: #b2b3b5;
$light-grey: #f5f5f5;

// Supporting Colors - requested names tbc
$supp-gold: #ffb400;
$supp-orange: #fe6001;
$supp-magenta: #e51d9b;
$supp-purple: #690b7a;

// Web colours
$matalan-brand-hover: #c11e2a;
$dark-grey-hover: #2d2a2b;
$cool-grey-hover: #a2a2a3;
$light-grey-hover: #f5f5f5;
$keyline-color: #e0e0e2;

// mappings
$primary-color: $matalan-brand;
$primary-color-hover: $matalan-brand-hover;
$secondary-color: $light-grey;


// ===============
// Fading primary color

$primary-lighten-90: mix($white, $primary-color-hover, 10);
$primary-lighten-80: mix($white, $primary-color-hover, 20);
$primary-lighten-70: mix($white, $primary-color-hover, 30);
$primary-lighten-60: mix($white, $primary-color-hover, 40);
$primary-lighten-50: mix($white, $primary-color-hover, 50);
$primary-lighten-40: mix($white, $primary-color-hover, 60);
$primary-lighten-30: mix($white, $primary-color-hover, 70);
$primary-lighten-20: mix($white, $primary-color-hover, 80);
$primary-lighten-10: mix($white, $primary-color-hover, 90);

// ===============
// Fading dark grey color

$dark-grey-lighten-90: mix($white, $dark-grey, 10);
$dark-grey-lighten-80: mix($white, $dark-grey, 20);
$dark-grey-lighten-70: mix($white, $dark-grey, 30);
$dark-grey-lighten-60: mix($white, $dark-grey, 40);
$dark-grey-lighten-50: mix($white, $dark-grey, 50);
$dark-grey-lighten-40: mix($white, $dark-grey, 60);
$dark-grey-lighten-30: mix($white, $dark-grey, 70);
$dark-grey-lighten-20: mix($white, $dark-grey, 80);
$dark-grey-lighten-10: mix($white, $dark-grey, 90);


// $primary-color-darken: mix($black, $primary-color, 10%);
// $primary-color-darker: mix($black, $primary-color, 20%);
// $secondary-color-darken: mix($black, $secondary-color, 10%);
// $secondary-color-darker: mix($black, $secondary-color, 20%);


// We use these as default colors throughout

$warning-color: #c09853; // warning
$error-color: #b94a48; // warning
$info-color: #3a87ad; // warning
$success-color: #468847; // warning


$base-alert-color-text: $primary-color;
$base-alert-color-bg: #f0f0f0;
$base-alert-color-border: $cool-grey;
