/**
 * Matalan Brand Colors
 */

// Colors

$white: #fff;
$black: #000;

$matalan-brand: #df1f26;
$dark-grey: #231f20;
$cool-grey: #97999b;


$primary-color: $matalan-brand;
$secondary-color: #f5f5f5; // light grey

$primary-color-darken: mix($black, $primary-color, 10%);
$primary-color-darker: mix($black, $primary-color, 20%);
$primary-color-lighten: mix($white, $primary-color, 10%);
$primary-color-lighter: mix($white, $primary-color, 20%);

$secondary-color-darken: mix($black, $secondary-color, 10%);
$secondary-color-darker: mix($black, $secondary-color, 20%);
$secondary-color-lighten: mix($white, $secondary-color, 10%);
$secondary-color-lighter: mix($white, $secondary-color, 20%);


// Supporting Colors
// $tbc         : $white;
// $tbc         : $white;
// $tbc         : $white;
// $tbc         : $white;

// Web Colors
$color-keyline: #e0e0e2;
// $tbc         : $white;
// $tbc         : $white;
// $tbc         : $white;
//
// We use these as default colors throughout

$success-color-text: #c09853;
$success-color-bg: #fcf8e3;
$success-color-border: #fbeed5;

$warning-color-text: #468847;
$warning-color-bg: #dff0d8;
$warning-color-border: #d6e9c6;

$info-color-text: #3a87ad;
$info-color-bg: #d9edf7;
$info-color-border: #c2e5f2;

$error-color-text: #de1f26;
$error-color-bg: #f2dede;
$error-color-border: #eed3d7;

$global-alert-color-text: $white;
$global-alert-color-bg: #333;
$global-alert-color-border: transparent;
