/**
 * Matalan Sizes
 */

$base-font-size:    16px;
$base-line-height:  20 / 16;
$base-line-height-px: ($base-font-size * $base-line-height);


$base-radius:       3px;
$base-spacing-unit: $base-line-height;


$default-pad-x: 14px;
$default-pad-y: 10px;