/**
 * Matalan Sizes
 */

$base-font-size:    16px;
$base-line-height:  1.5;
$base-line-height-px: ($base-font-size * $base-line-height);


$base-radius:       3px;

$base-spacing-unit: $base-line-height;

