hr {
  margin: 2rem 0
}


img {
  max-width: 100%;
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/


/**
 * Remove extra vertical spacing when nesting lists.
 */

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
    #ANCHOR
\*------------------------------------*/
a {
  // text-decoration: none;
  color: $base-text-color;
  &:hover, &:active, &:focus {
    color: $primary-color;
  }
}

p a {
  border-bottom: 1px dotted $base-text-color;
  &:hover, &:active, &:focus {
    color: $primary-color;
  }
}

input:focus {
  @include tab-focus();
}