// scss-lint:disable QualifyingElement

hr {
  margin: 2rem 0;
}

img {
  max-width: 100%;
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Remove extra vertical spacing when nesting lists.
 */

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
    #ANCHOR
\*------------------------------------*/
a {
  text-decoration: none;
  color: $base-text-color;

  &:hover,
  &:active {
    color: $primary-color;
  }

  &.link:focus {
    @include tab-focus;
  }

  .link--nostyle {
    &:hover,
    &.active {
      color: inherit;
      text-decoration: none;
    }
  }

  &.link--text {
    text-decoration: underline;
    &:hover,
    &.active {
      // color: inherit;
    }
  }

}

.link--underline {
  text-decoration: underline;

  &::before,
  &::after {
    text-decoration: underline;
  }
}

p a {
  border-bottom: 1px dotted;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $primary-color;
  }
}

input[type="text"],
input[type="submit"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input:focus,
textarea:focus {
  @include input-focus;
}

table {
  width: 100%;
}