.o-btn-group {
  display: inline-block;
  .c-btn,
  .c-btn-grp-dropdown {
    margin-left: rem-calc(-1);
    float: left;
  }
}

.o-btn-group-vertical {
  .c-btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
  }
}
