[class^="icon-"], [class*=" icon-"] {
  &:before {
    vertical-align: middle;
  }

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e800";
}
.icon-facebook:before {
  content: "\e801";
}
.icon-twitter:before {
  content: "\e802";
}
.icon-rss:before {
  content: "\e803";
}
.icon-youtube:before {
  content: "\e804";
}
.icon-pinterest:before {
  content: "\e805";
}
.icon-phone:before {
  content: "\e03f";
}
.icon-plus_circle:before {
  content: "\e06b";
}
.icon-plus_circle_outline:before {
  content: "\e06c";
}
.icon-create:before {
  content: "\e074";
}
.icon-email:before {
  content: "\e07c";
}
.icon-minus_circle:before {
  content: "\e080";
}
.icon-minus_circle_outline:before {
  content: "\e081";
}
.icon-view_comfortable:before {
  content: "\e1bb";
}
.icon-apps:before {
  content: "\e1ff";
}
.icon-menu:before {
  content: "\e20e";
}
.icon-star:before {
  content: "\e260";
}
.icon-star_half:before {
  content: "\e261";
}
.icon-star_outline:before {
  content: "\e262";
}
.icon-info:before {
  content: "\e2a2";
}
.icon-info_outline:before {
  content: "\e2a3";
}
.icon-payment:before {
  content: "\e2b5";
}
.icon-search:before {
  content: "\e2ca";
}
.icon-basket:before {
  content: "\e2de";
}