/**
 * Matalan Brand Colors
 */

// Brand Colors
$white       : #FFFFFF;
$red         : #DF1F26;
$dark-grey   : #231F20;
$cool-grey   : #97999b;

// Supporting Colors
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;

// Web Colors
$keyline     : #E0E0E2;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;
// $tbc         : #FFFFFF;

// We use these as default colors throughout
$primary-color: $red;
$secondary-color: #f5f5f5;
$alert-color: #F2DEDE;     // red
$success-color: #DFF0D8;   // green
$warning-color: #FCF8E3;   // yellow
$info-color: #D9EDF7;      // blue
