@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?zfs8t0');
  src:url('../fonts/icomoon.eot?zfs8t0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?zfs8t0') format('truetype'),
    url('../fonts/icomoon.woff?zfs8t0') format('woff'),
    url('../fonts/icomoon.svg?zfs8t0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
