/*------------------------------------*\
    $ARROWS
\*------------------------------------*/

$color-primary: red;
$color-secondary: #BADA55;

@mixin arrow($edge, $location, $color, $size: 20px, $offset: 0) {

  @if ($offset != 0) {
    $offset: $offset;
  }

  @if ($size == 'small') {
    $size: 10px;
  } @elseif ($size == 'medium') {
    $size: 15px;
  } @elseif ($size == 'large') {
    $size: 20px;
  } @else {
    $size: $size;
  }

  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    width:  0;
    height: 0;
    border: $size solid transparent;

    @if ($edge == 'top') {
      bottom: 100%;
      border-bottom-color: $color;

      @if ($location == 'left') {
        left: $offset;
      }

      @if ($location == 'middle') {
        left: 50%;
        margin-left: -$size;
      }

      @if ($location == 'right') {
        right: $offset;
      }

    }

    @if ($edge == 'right') {
      left: 100%;
      border-left-color: $color;

      @if ($location == 'top') {
        top: $offset;
      }

      @if ($location == 'middle') {
        top: 50%;
        margin-top: -$size;
      }

      @if ($location == 'bottom') {
        bottom: $offset;
      }

    }

    @if ($edge == 'bottom') {
      top: 100%;
      border-top-color: $color;

      @if ($location == 'left') {
        left: $offset;
      }

      @if ($location == 'middle') {
        left: 50%;
        margin-left: -$size;
      }

      @if ($location == 'right') {
        right: $offset;
      }

    }

    @if ($edge == 'left') {
      right: 100%;
      border-right-color: $color;

      @if ($location == 'top') {
        top: $offset;
      }

      @if ($location == 'middle') {
        top: 50%;
        margin-top: -$size;
      }

      @if ($location == 'bottom') {
        bottom: $offset;
      }

    }

  }

}

html {
  padding: 1.5em;
}


.foo {
  padding: 1em;
  background-color: $color-primary;
  @include arrow(left, middle, $color-primary, small, 10px);
}


.bar {
  padding: 1em;
  background-color: $color-secondary;
  @include arrow(top, right, $color-secondary, small, 10px);
}
