// reusable mixin to justify a row of inline block level elements
// todo - move to mixins and check for reuasability

// mixin method - justify all children
@mixin justify-children {
  text-align: justify;
  font-size: 0;

  > * {
    display: inline-block;
    font-size: rem-calc(12);
  }

  &::after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}

@mixin justify-parent {
  text-align: justify;
  font-size: 0;

  &::after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}

@mixin justified-child {
  display: inline-block;
  font-size: 1rem;
}
