// Clearfix
// -----
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// document this
@mixin tab-focus() {
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  // usability - raise the element with focus, prevents outline from being obscured
  z-index: 1;
  position: relative;
}

// and this
@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

// Set styles that are not part of the daefaults
@mixin style-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

// Set the default primary styles
@mixin primary-style($hover: null) {
  @if $hover {
    @include style-variant($primary-color, $white, $secondary-color);
  } @else {
    @include style-variant($primary-color, $secondary-color, $secondary-color);
  }
}

// Set the default secondary styles
@mixin secondary-style($hover: null) {
  @if $hover {
    @include style-variant($primary-color, $white, $primary-color);
  } @else {
    @include style-variant($secondary-color, $primary-color, $primary-color);
  }
}




@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin auto-columns($number) {
  -webkit-columns: $number 12em;
}

@for $i from 2 through 4 {
  .auto-column-#{$i} {
    @include auto-columns(#{$i})
  }
}

@mixin progress-variant($color) {
  &[value]::-webkit-progress-value {
    background-color: $color;
  }
  &[value]::-moz-progress-bar {
    background-color: $color;
  }
  @media screen and (min-width:0\0) {
    .progress-bar {
      background-color: $color;
    }
  }
}

// Gradients
// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9.
// @mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
//   background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
//   background-repeat: repeat-x;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9
// }

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9.
// @mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
//   background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
//   background-repeat: repeat-x;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9
// }
// @mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
//   background-repeat: repeat-x;
//   background-image: linear-gradient($deg, $start-color, $end-color);
// }
// @mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
//   background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
//   background-repeat: no-repeat;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 gets no color-stop at all for proper fallback
// }
// @mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
//   background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
//   background-repeat: no-repeat;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 gets no color-stop at all for proper fallback
// }
// @mixin gradient-radial($inner-color: #555, $outer-color: #333) {
//   background-image: radial-gradient(circle, $inner-color, $outer-color);
//   background-repeat: no-repeat;
// }
@mixin gradient-striped($color: rgba($white, .15), $angle: 45deg) {
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}
