<div class="row">
  <div class="grid-20">
    <h3>Alerts</h3>
    <p>{{lorem count="5"}}</p>
  </div>
  <div class="grid-80">
    <h3>Standard Alerts</h3>
    <div class="row">
      <div class="c-alert c-alert-success  c-alert-dismissible" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
        <span class="close">&times;</span>
      </div>
      <div class="c-alert c-alert-info" role="alert">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
      </div>
      <div class="c-alert c-alert-warning" role="alert">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
      <div class="c-alert c-alert-error" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>
    </div>
    <h3>Global Alerts</h3>
    <div class="row">
      <div class="c-alert c-alert-global" role="alert">
        <div class="container">
          {{lorem count=10}} <span class="close">&times;</span>
        </div>
      </div>
    </div>
  </div>
</div>

