<div class="ui-row">
  <div class="ui-grid-20">
    <h3>Breadcrumbs</h3>
    <p>{{lorem count="5"}}</p>
  </div>
  <div class="ui-grid-80">
    <h3>Breadcrumbs</h3>
        <hr>
        <ul class="c-breadcrumb-bar">
          <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
        </ul>

        <ul class="c-breadcrumb-bar">
          <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
          <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
        </ul>


        <ul class="c-breadcrumb-bar">
          <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
          <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
          <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
          <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
        </ul>

  </div>
</div>

