<h1>Colour Pallette</h1>


<div class="ui-row ui-colors">
  <div class="ui-grid-left">
    <h3>Brand Colours</h3>
    <p>Core colours from brand elements.</p>
  </div>
  <div class="ui-grid-right">
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-pri">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-dgrey">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-cgrey">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-white">
      </div>
    </div>
  </div>
</div>



<div class="ui-row ui-colors">
  <div class="ui-grid-left">
    <h3>Supporting Colours</h3>
    <p>Seasonal or secondary colour set. Will be reproduced for every season or promotion event with a new set of colours.</p>
  </div>
  <div class="ui-grid-right">
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-gold">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-orange">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-magenta">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-purple">
      </div>
    </div>
  </div>
</div>

<div class="ui-row ui-colors">
  <div class="ui-grid-left">

  </div>
  <div class="ui-grid-right">
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-pri-hover">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-dgrey-hover">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-cgrey-hover">
      </div>
    </div>
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-lgrey-hover">
      </div>
    </div>
  </div>
</div>

<div class="ui-row ui-colors">
  <div class="ui-grid-left">
  </div>
  <div class="ui-grid-right">
    {{# times 10}}
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-pri{{this}}0">
      </div>
    </div>
    {{/ times }}
  </div>
</div>


<div class="ui-row ui-colors">
  <div class="ui-grid-left">
  </div>
  <div class="ui-grid-right">
    {{# times 10}}
    <div class="span-wide-3">
      <div class="ui-color-pall u-round u-bgcolor-grey{{this}}0">
      </div>
    </div>
    {{/ times }}
  </div>
</div>
