<h2>Forms<small>(_objects/_o-lists.scss)</small></h2>

<div class="o-form-input-group">
  <label>Input Label
    <input type="text" placeholder="large-12.columns" />
  </label>
</div>

<div class="o-form-input-group">
  <label>Select Box
    <select>
      <option value="husker">Husker</option>
      <option value="starbuck">Starbuck</option>
      <option value="hotdog">Hot Dog</option>
      <option value="apollo">Apollo</option>
    </select>
  </label>
</div>

<div class="o-form-input-group">
  <label>Choose Your Favorite</label>
  <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
  <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Bl  ue</label>
</div>

<div class="o-form-input-group">
  <label>Check these out</label>
  <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
  <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
</div>

<div class="o-form-input-group">
  <label>Textarea Label
    <textarea placeholder="small-12.columns"></textarea>
  </label>
</div>
