<div class="ui-row">
  <h2>Grid</h2>

  <div class="row">
    {{#times 12}}
    <div class="col-sm-1"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    {{#times 3}}
    <div class="col-sm-2"><div class="island"></div></div>
    {{/ times}}
    {{#times 2}}
    <div class="col-sm-3"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    {{#times 3}}
    <div class="col-sm-4"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    {{#times 2}}
    <div class="col-sm-5"><div class="island"></div></div>
    {{/ times}}
    <div class="col-sm-2"><div class="island"></div></div>
  </div>

  <div class="row">
    {{#times 2}}
    <div class="col-sm-6"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    <div class="col-sm-12"><div class="island"></div></div>
  </div>

</div>
