<h2>Grid</h2>

<div class="row">
  <div class="col-xs-6 col-md-3"><div class="island"></div></div>
  <div class="col-xs-6 col-md-3"><div class="island"></div></div>
  <div class="col-xs-6 col-md-3"><div class="island"></div></div>
  <div class="col-xs-6 col-md-3"><div class="island"></div></div>
</div>

<div class="row">

  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-6 col-md-3 "><div class="island"></div></div>
      <div class="col-xs-6 col-md-3 "><div class="island"></div></div>
      <div class="col-xs-6 col-md-3 "><div class="island"></div></div>
      <div class="col-xs-6 col-md-3 "><div class="island"></div></div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
      <div class="col-xs-6 col-md-3"><div class="island"></div></div>
    </div>
  </div>

</div>
