<div class="row">
  <h2>Icons</h2>
  <div class="grid-20">
    <h3>Icons</h3>
  </div>
  <div class="grid-80">
    <h3>Social</h3>

    <div class="grid-50">
      <span class="icon-plus_circle">icon-plus_circle</span>
      <span class="icon-plus_circle_outline">icon-plus_circle_outline</span>
      <span class="icon-create">icon-create</span>
      <span class="icon-email">icon-email</span>
      <span class="icon-minus_circle">icon-minus_circle</span>
      <span class="icon-minus_circle_outline">icon-minus_circle_outline</span>
      <span class="icon-view_comfortable">icon-view_comfortable</span>
      <span class="icon-apps">icon-apps</span>
      <span class="icon-menu">icon-menu</span>
      <span class="icon-star">icon-star</span>
      <span class="icon-phone">icon-phone</span>
      <span class="icon-star_half">icon-star_half</span>
    </div>
    <div class="grid-50">
      <span class="icon-star_outline">icon-star_outline</span>
      <span class="icon-info">icon-info</span>
      <span class="icon-info_outline">icon-info_outline</span>
      <span class="icon-payment">icon-payment</span>
      <span class="icon-search">icon-search</span>
      <span class="icon-basket">icon-basket</span>
      <span class="icon-google-plus">icon-google</span>
      <span class="icon-facebook">icon-facebook</span>
      <span class="icon-twitter">icon-twitter</span>
      <span class="icon-rss">icon-rss</span>
      <span class="icon-youtube">icon-youtube</span>
      <span class="icon-pinterest">icon-pinterest</span>
    </div>


  </div>
</div>