<div class="row">
  <h2>Icons</h2>
  <div class="grid-20">
      <h3>Icons</h3>
  </div>
  <div class="grid-80">
      <h3>Social</h3>
      <span class="icon-facebook"></span>
      <span class="icon-google_plus"></span>

  </div>
</div>