<div class="ui-row">

  <div class="ui-grid-left">
    <h2>Tabs &amp; Pills<small>(..)</small></h2>
    <p>Tabs and pills are horizontal by default, just add a second class, .nav-stacked, to make them appear vertically stacked.</p>
  </div>

  <div class="ui-grid-right">

    tabs &amp; pills go here

  </div>

</div>
