<h2>Pagination <small>(..)</small></h2>
<div class="ui-row">

  <div class="ui-grid-20">
    <h3>Pagination</h3>
  </div>

  <div class="ui-grid-80">

    <div class="pagination-bar">
      <div class="pagination-bar__prev">
        <a href="" class="c-btn c-btn-paginate__alt">Previous</a>
      </div>

      <div class="pagination-bar__list o-btn-group">
        <a href="" class="c-btn c-btn-paginate__alt">&laquo;</a>
        {{# times 5}}
        <a href="" class="c-btn c-btn-paginate">{{this}}</a>
        {{/ times}}
        <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
      </div>

      <div class="pagination-bar__next">
        <a href="" class="c-btn c-btn-paginate__alt">Next</a>
      </div>
    </div>
  </div>

</div>
