<div class="row">
  <h2>Progress Bars (_components/_progress.scss)</h2>

  <div class="grid-20">
    <h3>Progress bars</h3>
    <p>Progress Bars are available in gradient, stripped and stacked versions. </p>
  </div>

  <div class="grid-80">

    <h3>Basic</h3>
    <progress class="c-progress" value="75" max="100">
      <div class="c-progress">
        <span class="c-progress-bar" style="width: 75%;">75%</span>
      </div>
    </progress>

    <h3>Striped</h3>
    <progress class="c-progress c-progress-striped " value="75" max="100">
      <div class="c-progress">
        <span class="c-progress-bar" style="width: 75%;">75%</span>
      </div>
    </progress>
  </div>

</div>