<div class="ui-row">
  <h2>Ratings</h2>
  <div class="ui-grid-20">
    <h3>Star Ratings</h3>
  </div>
  <div class="ui-grid-80">

    <div class="rating">
      <span>0 star</span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
    </div>

    <div class="rating">
      <span>1 star</span>
      <span class="icon-star"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
    </div>

    <div class="rating">
      <span>2 star</span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
    </div>

    <div class="rating">
      <span>3 star</span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star_outline"></span>
      <span class="icon-star_outline"></span>
    </div>
    <div class="rating">
      <span>4 star</span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star_outline"></span>
    </div>
    <div class="rating">
      <span>5 star</span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
    </div>
  </div>
</div>