<div class="ui-row">
  <div class="ui-grid-20">
    <h2>Search Bars</h2>
  </div>
  <div class="ui-grid-80">
    <div class="ui-grid-50">
      <h3>No Focus</h3>


      <form class="form-inline c-search-form">
        <div class="o-form-row">
          <div class="o-form--input-group o-form-input--contain">
            <div class="input-group--addon unstyled input-group--addon__inset">
              <i class="icon-search"></i>
            </div>
            <input type="text"
            class="input--textual input-addon--expand input-group--addon__inset-left"
            placeholder="Enter Keyword or Product Code">
            <a href="" class="input-group--addon unstyled c-search__button">Search</a>
          </div>
        </div>
      </form>


    </div>
    <div class="ui-grid-50">
      <h3>Focus</h3>


      <form class="form-inline c-search-form has-focus">
        <div class="o-form-row">
          <div class="o-form--input-group o-form-input--contain">
            <div class="input-group--addon unstyled input-group--addon__inset">
              <i class="icon-search"></i>
            </div>
            <input type="text"
            class="input--textual input-addon--expand input-group--addon__inset-left"
            placeholder="Enter Keyword or Product Code">
            <a href="" class="input-group--addon unstyled c-search__button">Search</a>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>