<div class="ui-row">
  <h2>Search Bars</h2>

  <form class="form-inline search-form">
    <div class="o-form-row">
      <div class="o-form--input-group o-form-input">
        <div class="input-group--addon unstyled input-group--addon__overlay"></div>
        <input type="text" class="input-group--expand input-group--addon__overlain" placeholder="Amount">
        <div class="input-group--addon">Search</div>
      </div>
    </div>
  </form>

</div>
