<div class="ui-row">
  <div class="ui-grid-20">
    <h3>Validation States</h3>
    <p>{{lorem count="5"}}</p>
  </div>
  <div class="ui-grid-80">
    <h3>Validation States</h3>
    <hr>

    <form class="o-form-inline-fixed__threecol">

      <div class="o-form-row form-validate__warning">
        <div class="o-form-label--contain">
          <label class="o-form-label__primary">Input with warning</label>
        </div>
        <div class="o-form-input--contain">
          <input type="text" class="input--textual" placeholder="placeholder" />
        </div>
        <div class="o-form-message--contain">
          <label class="o-form-label__message">Something may have gone wrong</label>
        </div>
      </div>


      <div class="o-form-row form-validate__error">
        <div class="o-form-label--contain">
          <label class="o-form-label__primary">Input with error</label>
        </div>
        <div class="o-form-input--contain">
          <input type="text" class="input--textual" placeholder="placeholder" />
        </div>
        <div class="o-form-message--contain">
          <label class="o-form-label__message">Please correct the error</label>
        </div>
      </div>


      <div class="o-form-row form-validate__info">
        <div class="o-form-label--contain">
          <label class="o-form-label__primary">Input with info</label>
        </div>
        <div class="o-form-input--contain">
          <input type="text" class="input--textual" placeholder="placeholder" />
        </div>
        <div class="o-form-message--contain">
          <label class="o-form-label__message">Username is taken</label>
        </div>
      </div>


      <div class="o-form-row form-validate__success">
        <div class="o-form-label--contain">
          <label class="o-form-label__primary">Input with success</label>
        </div>
        <div class="o-form-input--contain">
          <input type="text" class="input--textual" placeholder="placeholder" />
        </div>
        <div class="o-form-message--contain">
          <label class="o-form-label__message">Whohoo!</label>
        </div>
      </div>

    </form>


  </div>
</div>
