// This is the default html and body font-size for the base rem value.
$rem-base: 14px !default;

$base-font-size: $rem-base;
$base-line-height: 20px;

$base-space: $base-line-height;

$base-background-color: #fff;
$base-text-color: #111;

// manual strip unit and rem calc method before tools are loaded
$default-pad-x:  #{ 14 / ($rem-base / ($rem-base * 0 + 1))}rem;
$default-pad-y:  #{ 7 / ($rem-base / ($rem-base * 0 + 1))}rem;


$base-space:           $base-line-height;
$base-space--tiny:     round($base-space / 4);
$base-space--small:    round($base-space / 2);
$base-space--large:    round($base-space * 2);
$base-space--huge:     round($base-space * 4);


// progress bar
$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;