// This is the default html and body font-size for the base rem value.
$rem-base: 14px !default;

$base-font-size: $rem-base;
$base-line-height: 20px;

$base-space: $base-line-height;

$base-background-color: #fff;
$base-text-color: #111;



