/**
 * Matalan Sizes
 */

$base-space: 14px;


// manual strip unit and rem calc method before tools are loaded
// $default-pad-x:  #{ 14 / ($rem-base / ($rem-base * 0 + 1))}rem;
// $default-pad-y:  #{ 7 / ($rem-base / ($rem-base * 0 + 1))}rem;
$default-pad-x:  $base-space;
$default-pad-y:  ($default-pad-x / 2);


$base-space--tiny: round($base-space / 4);
$base-space--small: round($base-space / 2);
$base-space--medium: $base-space;
$base-space--large: round($base-space * 1.5);
$base-space--huge: round($base-space * 2.6);


$sizing-sizes: (
  // 0: 0,
  // // none: 0,
  // tiny: $base-space--tiny,
  // small: $base-space--small,
  medium: $base-space--medium,
  // large: $base-space--large,
  // huge: $base-space--huge
);


// progress bar
$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;




