<div class="islet u-cf">
    <div class="row address-picker">
      <div class="col-12@xs">
        <h5 class>
          <strong>Select address</strong>
        </h5>
      </div>
      <form action="">
        <div class="address-picker__block col-6@xs col-4@md u-mar-t-large">
          <h6 class="u-mar-b-medium u-font-upper">
            <strong>1) Home Address</strong>
          </h6>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form__label-option">
              <input type="radio" name="chosen-delivery-address" checked>
              <span class="check-holder"></span>
              Use this address
            </label>
          </div>
          <ul class="u-mar-t-large">
            <li>Mr John Doe</li>
            <li>Dow</li>
            <li>0 John Doe Avenue</li>
            <li>United Kingdom</li>
            <li>AB1 CD2</li>
          </ul>
          <a href="javascript:void(0)" class="c-btn c-btn-primary u-font-upper u-mar-t-small editAddress">Edit</a>
        </div>
        <div class="address-picker__block col-6@xs col-4@md u-mar-t-large">
          <h6 class="u-mar-b-medium u-font-upper">
            <strong>1) Work Address</strong>
          </h6>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form__label-option">
              <input type="radio" name="chosen-delivery-address">
              <span class="check-holder"></span>
              Use this address
            </label>
          </div>
          <ul class="u-mar-t-large">
            <li>Mr John Doe</li>
            <li>Dow</li>
            <li>0 John Doe Avenue</li>
            <li>United Kingdom</li>
            <li>AB1 CD2</li>
          </ul>
          <a href="javascript:void(0)" class="c-btn c-btn-primary u-font-upper u-mar-t-small editAddress">Edit</a>
        </div>
        <div class="address-picker__block col-6@xs col-4@md u-mar-t-large">
          <h6 class="u-mar-b-medium u-font-upper">
            <strong>1) Sisters Address</strong>
          </h6>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form__label-option">
              <input type="radio" name="chosen-delivery-address">
              <span class="check-holder"></span>
              Use this address
            </label>
          </div>
          <ul class="u-mar-t-large">
            <li>Mr John Doe</li>
            <li>Dow</li>
            <li>0 John Doe Avenue</li>
            <li>United Kingdom</li>
            <li>AB1 CD2</li>
          </ul>
          <a href="javascript:void(0)" class="c-btn c-btn-primary u-font-upper u-mar-t-small editAddress">Edit</a>
        </div>
        <div class="address-picker__block col-6@xs col-4@md u-mar-t-large">
          <h6 class="u-mar-b-medium u-font-upper">
            <strong>1) Mums Address</strong>
          </h6>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form__label-option">
              <input type="radio" name="chosen-delivery-address">
              <span class="check-holder"></span>
              Use this address
            </label>
          </div>
          <ul class="u-mar-t-large">
            <li>Mr John Doe</li>
            <li>Dow</li>
            <li>0 John Doe Avenue</li>
            <li>United Kingdom</li>
            <li>AB1 CD2</li>
          </ul>
          <a href="javascript:void(0)" class="c-btn c-btn-primary u-font-upper u-mar-t-small editAddress">Edit</a>
        </div>
      </form>
    </div>


    <div class="row address-picker" style="display:none">
      <div class="col-12@xs">
        <h5 class>
          <strong>Enter new address</strong>
        </h5>
      </div>

      <form action="" class="o-form o-form--default collapse o-myacc--address-panel" id="">
        <div class="col-12@xs">
          {{> partials/address-form }}
        </div>

      </form>
    </div>
  </div>