<div class="foo" data-app="address-lookup--wrapper" id="address--lookup{{randomnum}}">


  <div class="row">
    <div class="col-12@xs col-6@md">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Add New Address:</label>
        </div>
        <div class="o-form__input-contain">
          <input type="text" class="o-input o-input--textual" placeholder="New address" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12@xs col-6@md">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">First Name:</label>
        </div>
        <div class="o-form__input-contain">
          <input type="text" class="o-input o-input--textual" placeholder="First name" />
        </div>
      </div>
    </div>
    <div class="col-12@xs col-6@md">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Last Name:</label>
        </div>
        <div class="o-form__input-contain">
          <input type="text" class="o-input o-input--textual" placeholder="Last name" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12@xs col-6@md u-cl">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Mobile:</label>
        </div>
        <div class="o-form__input-contain">
          <input type="text" class="o-input o-input--textual" placeholder="Mobile" />
        </div>
      </div>
    </div>

    <div class="col-12@xs col-6@md">

    </div>
  </div>

  <div class="row">
    <div class="col-12@xs col-6@md">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Postcode:</label>
        </div>
        <div class="o-form__input-contain">
          <input data-app="pa-postcode" name="postcode" type="text" value="hg2 8lb"
          class="o-input o-input--textual" placeholder="Postcode" />
        </div>
      </div>
    </div>
    <div class="col-12@xs col-6@md">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">&nbsp;</label>
        </div>
        <a id="pa-address-lookup" href=""
        class="c-btn c-btn-primary c-btn-block u-font-upper">Find Address</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12@xs col-6@md">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Select Address:</label>
        </div>
        <div class="o-form__input-contain populateAddresses">

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12@xs col-6@md">
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Address Line 1:</label>
        </div>
        <div class="o-form__input-contain">
          <input data-app="pa-line1" type="text" class="o-input o-input--textual"
          placeholder="Adress Line 1" />
        </div>
      </div>
      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Address Line 2:</label>
        </div>
        <div class="o-form__input-contain">
          <input data-app="pa-line2" type="text" class="o-input o-input--textual"
          placeholder="Address Line 2" />
        </div>
      </div>
    </div>
    <div class="col-12@xs col-6@md">

      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Town / City:</label>
        </div>
        <div class="o-form__input-contain">
          <input data-app="pa-city" type="text" class="o-input o-input--textual"
          placeholder="Town / City" />
        </div>
      </div>


      <div class="o-form__row">
        <div class="o-form__label-contain">
          <label class="o-form__label-primary">Country:</label>
        </div>
        <div class="o-form__input-contain">
          <input data-app="pa-country" type="text" class="o-input o-input--textual"
          placeholder="Country" />
        </div>
      </div>

    </div>
  </div>


  <div class="o-form__row">
    <div class="o-form__input-contain o-option--inline">
      <label class="o-form__label-option">
        <input type="checkbox" >
        <span class="check-holder"></span>
        Default Billing
      </label>
      <label class="o-form__label-option">
        <input type="checkbox" >
        <span class="check-holder"></span>
        Default Shipping
      </label>
    </div>
  </div>

</div>