<div class="ui-row">

    <div class="ui-grid-left">
    <h2>Alerts</h2>
    <p>{{lorem count="5"}}</p>
  </div>

  <div class="ui-grid-right">
    <h4>Standard Alerts</h4>
    <div class="ui-row">
      <div class="c-alert c-alert-dismissible" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
        <span class="close">&times;</span>
      </div>
    </div>

    <h4>Global Alerts</h4>
    <div class="ui-row">
    <p>Global alert fixed to page head</p>
      <div class="c-alert c-alert-global c-alert-dismissible" role="alert">
        <div class="container">
          {{lorem count=10}} <span class="close">&times;</span>
        </div>
      </div>
    </div>
  </div>

</div>

