<ul class="c-breadcrumb-bar u-pad-v-large">
  <li class="c-breadcrumb-bar__item has-link"><a class="link" href="">Matalan</a></li>
  <li class="c-breadcrumb-bar__item has-link"><a class="link" href="">{{productspartywear.secTitle}}</a></li>
  <li class="c-breadcrumb-bar__item">
    {{productspartywear.category.catTitle}}
  </li>
</ul>
