<div class="row">
  <div class="col-12@xs">
    <ul class="c-breadcrumb-bar u-pad-v-large">
      <li class="c-breadcrumb-bar__item has-link"><a href="">Matalan</a></li>
        <li class="c-breadcrumb-bar__item has-link"><a href="">{{productspartywear.secTitle}}</a></li>
        <li class="c-breadcrumb-bar__item">
            {{productspartywear.category.catTitle}}
        </li>
    </ul>
  </div>
</div>