<div class="ui-row">
  <div class="col-sm-12">
    <h2>Buttons <small>(_components/_c-button.scss)</small></h2>
  </div>
</div>

      {{> partials/button-styles }}
      {{> partials/button-groups }}
      {{> partials/button-dropdowns }}
