<div class="row u-mar-v-large">

  <div class="col-12@xs">
    <h3 class="u-mar-v-medium">Button Styles</h3>
  </div>

  <div class="col-12@xs col-6@lg">

    <div class="button-group">
      <h4 class="u-mar-v-medium">Primary Buttons </h4>
      <a class="c-btn c-btn-primary">+</a>
      <a class="c-btn c-btn-primary">Default</a>
      <a class="c-btn c-btn-primary disabled">Default disabled</a>
    </div>
    <div class="u-cf u-mar-t-medium">
      <div class="colspan-6--gutter">
        <a class="c-btn c-btn--icon c-btn--block c-btn-primary">
          <i class="icon icon-mini-bag"></i>
          .c-btn
        </a>
      </div>
    </div>

  </div>
  <div class="col-12@xs col-6@lg">

    <div class="button-group">
      <h4 class="u-mar-v-medium">Primary Buttons Alternative </h4>
      <a class="c-btn c-btn-primary--alt">+</a>
      <a class="c-btn c-btn-primary--alt">Default</a>
      <a class="c-btn c-btn-primary--alt disabled">Default disabled</a>
    </div>
    <div class="u-cf u-mar-t-medium">
      <div class="colspan-6--gutter">
        <a class="c-btn c-btn--icon c-btn--block c-btn-primary--alt">
          <i class="icon icon-mini-bag"></i>
          Primary alt .c-btn
        </a>
      </div>
    </div>

  </div>
</div>
<div class="row u-mar-v-large">
  <div class="col-12@xs col-6@lg">

    <div class="button-group">
      <h4 class="u-mar-v-medium">Secondary Buttons </h4>
      <a class="c-btn c-btn-secondary">+</a>
      <a class="c-btn c-btn-secondary">Default</a>
      <a class="c-btn c-btn-secondary disabled">Default disabled</a>
    </div>
    <div class="u-cf u-mar-t-medium">
      <div class="colspan-6--gutter">
        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary">
          <i class="icon icon-mini-bag"></i>
          alt .c-btn
        </a>
      </div>
    </div>

  </div>
  <div class="col-12@xs col-6@lg">

    <div class="button-group">
      <h4 class="u-mar-v-medium">Secondary Buttons Alternative</h4>
      <a class="c-btn c-btn-secondary--alt">+</a>
      <a class="c-btn c-btn-secondary--alt ">Default</a>
      <a class="c-btn c-btn-secondary--alt disabled">Default disabled</a>
    </div>
    <div class="u-cf u-mar-t-medium">
      <div class="colspan-6--gutter">
        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary--alt">
          <i class="icon icon-mini-bag"></i>
          .c-btn
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row u-mar-v-large">
  <div class="col-12@xs col-6@lg">

    <div class="button-group">
      <h4 class="u-mar-v-medium">Tertiary Buttons </h4>
      <a class="c-btn c-btn-tertiary">+</a>
      <a class="c-btn c-btn-tertiary">Default</a>
      <a class="c-btn c-btn-tertiary disabled">Default disabled</a>
    </div>
    <div class="u-cf u-mar-t-medium">
      <div class="colspan-6--gutter">
        <a class="c-btn c-btn--icon c-btn--block c-btn-tertiary">
          <i class="icon icon-mini-bag"></i>
          Tertiaray .c-btn
        </a>
      </div>
    </div>

  </div>
  <div class="col-12@xs col-6@lg">

    <div class="button-group">
      <h4 class="u-mar-v-medium">Tertiary Buttons Alternative</h4>
      <a class="c-btn c-btn-tertiary--alt">+</a>
      <a class="c-btn c-btn-tertiary--alt">Default</a>
      <a class="c-btn c-btn-tertiary--alt disabled">Default disabled</a>
    </div>
    <div class="u-cf u-mar-t-medium">
      <div class="colspan-6--gutter">
        <a class="c-btn c-btn--icon c-btn--block c-btn-tertiary--alt">
          <i class="icon icon-mini-bag"></i>
          alt .c-btn
        </a>
      </div>
    </div>

  </div>
</div>




<div class="separator u-mar-v-huge"></div>



<div class="row u-mar-v-large">

  <div class="col-12@xs">
    <h3 class="u-mar-v-medium">Button Sizes</h3>
  </div>

  <div class="col-12@xs col-6@md col-3@lg">
    <div class="button-group">
      <h4 class="u-mar-v-medium">Large Buttons </h4>
      <a class="c-btn c-btn--large c-btn-primary">+</a>
      <a class="c-btn c-btn--large c-btn-primary">Large</a>
      <a class="c-btn c-btn--large c-btn-secondary">Large</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--large c-btn--icon c-btn--block c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Large Icon
        </a>
      </div>
    </div>
  </div>

  <div class="col-12@xs col-6@md col-3@lg">
    <div class="button-group">
      <h4 class="u-mar-v-medium">Regular Buttons </h4>
      <a class="c-btn c-btn-primary">+</a>
      <a class="c-btn c-btn-primary">Default</a>
      <a class="c-btn c-btn-secondary">Default</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Regular Icon
        </a>
      </div>
    </div>
  </div>

  <div class="col-12@xs col-6@md col-3@lg">
    <div class="button-group">
      <h4 class="u-mar-v-medium">Small Buttons </h4>
      <a class="c-btn c-btn--small c-btn-primary">+</a>
      <a class="c-btn c-btn--small c-btn-primary">Small</a>
      <a class="c-btn c-btn--small c-btn-secondary">Small</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--small c-btn--icon c-btn--block c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Small Icon
        </a>
      </div>
    </div>
  </div>

  <div class="col-12@xs col-6@md col-3@lg">
    <div class="button-group">
      <h4 class="u-mar-v-medium">Tiny Buttons </h4>
      <a class="c-btn c-btn--tiny c-btn-primary">+</a>
      <a class="c-btn c-btn--tiny c-btn-primary">Tiny</a>
      <a class="c-btn c-btn--tiny c-btn-secondary">Tiny</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--tiny c-btn--icon c-btn--block c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Tiny Icon
        </a>
      </div>
    </div>
  </div>

</div>