<div class="ui-row">

  <div class="col-sm-12">
    <h3>Button styles</h3>
    <p>Buttons default to light grey style, but a number of functional classes can be applied for different color sytles</p>
  </div>

  <div class="col-sm-12">

    <div class="button-group">
      <h3>Primary Buttons </h3>
      <a class="c-btn c-btn-primary u-no-underline">+</a>
      <a class="c-btn c-btn-primary">Default</a>
      <a class="c-btn c-btn-primary hover">Default hover</a>
      <a class="c-btn c-btn-primary focus">Default focus</a>
      <a class="c-btn c-btn-primary disabled">Default disabled</a>
      <pre>
        <code class="XML">//primary button</br>&lt;a class=&quot;c-btn c-btn-primary&quot;&gt;Default&lt;/a&gt;</code>
      </pre>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="button-group">
      <h3>Secondary Buttons </h3>
      <a class="c-btn c-btn-secondary u-no-underline">+</a>
      <a class="c-btn c-btn-secondary">Default</a>
      <a class="c-btn c-btn-secondary hover">Default hover</a>
      <a class="c-btn c-btn-secondary focus">Default focus</a>
      <a class="c-btn c-btn-secondary disabled">Default disabled</a>
      <pre>
        <code class="XML">//secondary button</br>&lt;a class=&quot;c-btn c-btn-secondary&quot;&gt;Default&lt;/a&gt;</code>
      </pre>
    </div>
  </div>

</div>
