    <div class="ui-row">
      <h2>Dropdowns <small>(_components/_c-button.scss)</small></h2>

        <div class="ui-grid-left">
        <h3>Dropdown styling</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>

      <div class="ui-grid-right">
        <h3>Dropdown Buttons</h3>
        <div class="ui-grid-50">
          <a class="c-btn c-btn-primary c-btn-dropdown">Default<span class="caret"></span></a>
        </div>
        <div class="ui-grid-50">
          <a class="c-btn c-btn-secondary c-btn-dropdown">Default<span class="caret"></span></a>
        </div>

        <h3>Split Dropdown Buttons</h3>
        <div class="ui-grid-50">
          <div class="c-btn-grp-dropdown">
            <a class="c-btn c-btn-primary">Default 1</a>
            <a class="c-btn c-btn-primary c-btn-dropdown">
              <span class="caret"></span>
            </a>
          </div>
        </div>

        <div class="ui-grid-50">
          <div class="c-btn-grp-dropdown">
            <a class="c-btn c-btn-secondary">Default 2</a>
            <a class="c-btn c-btn-secondary c-btn-dropdown">
              <span class="caret"></span>
            </a>
          </div>
        </div>

        <h3>Select Box Replacement</h3>
        <div class="ui-grid-50">
          <select name="" id=""></select> todo
        </div>

      </div>
    </div>
