<div class="ui-row u-mar-v-large">

  <div class="col-3@sm">
    <a class="c-btn c-btn--icon c-btn-secondary">
      <i class="icon icon-menu-close"></i>
      Secondary btn
    </a>
  </div>

  <div class="col-3@sm">
    <a class="c-btn c-btn--icon c-btn-primary">
    <i class="icon icon-mini-bag"></i>
      Primary btn
    </a>
  </div>

  <div class="col-3@sm">
    <a class="c-btn c-btn--icon c-btn-primary__alt">
      <i class="icon icon-star-fill"></i>
      Primary alt btn
    </a>
  </div>

  <div class="col-3@sm">
    <a class="c-btn c-btn--icon c-btn-secondary__alt">
      <i class="icon icon-social-facebook"></i>
      Secondary alt btn on multiple lines no less
    </a>
  </div>

</div>

<div class="ui-row u-mar-v-large">
  <div class="col-6@sm">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Primary Buttons </h4>
      <a class="c-btn c-btn-primary u-no-underline">+</a>
      <a class="c-btn c-btn-primary">Default</a>
      <a class="c-btn c-btn-primary hover">Default hover</a>
      <a class="c-btn c-btn-primary focus">Default focus</a>
      <a class="c-btn c-btn-primary disabled">Default disabled</a>
    </div>
  </div>
  <div class="col-6@sm">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Primary Buttons Alt </h4>
      <a class="c-btn c-btn-primary__alt u-no-underline">+</a>
      <a class="c-btn c-btn-primary__alt">Default</a>
      <a class="c-btn c-btn-primary__alt hover">Default hover</a>
      <a class="c-btn c-btn-primary__alt focus">Default focus</a>
      <a class="c-btn c-btn-primary__alt disabled">Default disabled</a>
    </div>
  </div>
</div>
<div class="ui-row u-mar-v-large">
  <div class="col-6@sm">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Secondary Buttons </h4>
      <a class="c-btn c-btn-secondary u-no-underline">+</a>
      <a class="c-btn c-btn-secondary">Default</a>
      <a class="c-btn c-btn-secondary hover">Default hover</a>
      <a class="c-btn c-btn-secondary focus">Default focus</a>
      <a class="c-btn c-btn-secondary disabled">Default disabled</a>
    </div>
  </div>
  <div class="col-6@sm">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Secondary Buttons Alt</h4>
      <a class="c-btn c-btn-secondary__alt u-no-underline">+</a>
      <a class="c-btn c-btn-secondary__alt ">Default</a>
      <a class="c-btn c-btn-secondary__alt hover">Default hover</a>
      <a class="c-btn c-btn-secondary__alt focus">Default focus</a>
      <a class="c-btn c-btn-secondary__alt disabled">Default disabled</a>
    </div>
  </div>
</div>
<div class="ui-row u-mar-v-large">
  <div class="col-6@sm">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Tertiary Buttons </h4>
      <a class="c-btn c-btn-tertiary u-no-underline">+</a>
      <a class="c-btn c-btn-tertiary">Default</a>
      <a class="c-btn c-btn-tertiary hover">Default hover</a>
      <a class="c-btn c-btn-tertiary focus">Default focus</a>
      <a class="c-btn c-btn-tertiary disabled">Default disabled</a>
    </div>
  </div>
  <div class="col-6@sm">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Tertiary Buttons Alt</h4>
      <a class="c-btn c-btn-tertiary--alt u-no-underline">+</a>
      <a class="c-btn c-btn-tertiary--alt">Default</a>
      <a class="c-btn c-btn-tertiary--alt hover">Default hover</a>
      <a class="c-btn c-btn-tertiary--alt focus">Default focus</a>
      <a class="c-btn c-btn-tertiary--alt disabled">Default disabled</a>
    </div>
  </div>

</div>





<div class="ui-row u-mar-v-large">

  <div class="col-12@sm">
    <h4 class="u-mar-b-medium">Button Sizes</h4>
  </div>

  <div class="col-3@xs">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Large Buttons </h4>
      <a class="c-btn c-btn--large c-btn-primary u-no-underline">+</a>
      <a class="c-btn c-btn--large c-btn-primary">Large</a>
      <a class="c-btn c-btn--large c-btn-secondary">Large</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--large c-btn--icon c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Large Icon
        </a>
      </div>
    </div>
  </div>

  <div class="col-3@xs">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Regular Buttons </h4>
      <a class="c-btn c-btn-primary u-no-underline">+</a>
      <a class="c-btn c-btn-primary">Default</a>
      <a class="c-btn c-btn-secondary">Default</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--icon c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Regular Icon
        </a>
        <button class="c-btn c-btn--icon c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Regular Icon
        </button>
      </div>
    </div>
  </div>

  <div class="col-3@xs">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Small Buttons </h4>
      <a class="c-btn c-btn--small c-btn-primary u-no-underline">+</a>
      <a class="c-btn c-btn--small c-btn-primary">Small</a>
      <a class="c-btn c-btn--small c-btn-secondary">Small</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--small c-btn--icon c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Small Icon
        </a>
      </div>
    </div>
  </div>

  <div class="col-3@xs">
    <div class="button-group">
      <h4 class="u-mar-b-medium">Tiny Buttons </h4>
      <a class="c-btn c-btn--tiny c-btn-primary u-no-underline">+</a>
      <a class="c-btn c-btn--tiny c-btn-primary">Tiny</a>
      <a class="c-btn c-btn--tiny c-btn-secondary">Tiny</a>
      <div class="u-mar-v-medium">
        <a class="c-btn c-btn--tiny c-btn--icon c-btn-secondary">
          <i class="icon icon-social-facebook"></i>
          Tiny Icon
        </a>
      </div>
    </div>
  </div>

</div>





