<div class="ui-row">
  <div class="col-sm-12">
    <h2>Dropdowns<br />
      <small>(_components/_c-button.scss)</small>
    </h2>
    <h3>Dropdown styling</h3>
    <p>Dropdowns can easily be created from standard buttons by adding c-btn-dropdown class and appending a span with a class of caret</p>
  </div>

  <div class="col-sm-12">
    <h3>Dropdown Buttons</h3>
    <div class="ui-grid-50">
      <a class="c-btn c-btn-primary c-btn-dropdown">Default<span class="caret"></span></a>
    </div>
    <div class="ui-grid-50">
      <a class="c-btn c-btn-secondary c-btn-dropdown">Default<span class="caret"></span></a>
    </div>
    <div class="ui-grid-100">
      <pre>
            <code class="HTML">//primary dropdown button<br />
&lt;a class=&quot;c-btn c-btn-primary&nbsp;c-btn-dropdown&quot;&gt;Default&lt;span&nbsp;class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
//secondary dropdown button
&lt;a class=&quot;c-btn c-btn-secondary&nbsp;c-btn-dropdown&quot;&gt;Default&lt;span&nbsp;class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
            </code>
          </pre>
    </div>
    <h3>Split Dropdown Buttons</h3>
    <div class="ui-grid-50">
      <div class="c-btn-grp-dropdown">
        <a class="c-btn c-btn-primary">Default 1</a>
        <a class="c-btn c-btn-primary c-btn-dropdown">
          <span class="caret"></span>
        </a>
      </div>
      <pre>
            <code class="HTML">
//primary split dropdown button<br />
&lt;div class=&quot;c-btn-grp-dropdown&quot;&gt;<br />
&nbsp; &lt;a class=&quot;c-btn c-btn-primary&quot;&gt;Default&lt;/a&gt;<br />
&nbsp; &lt;a class=&quot;c-btn c-btn-primary c-btn-dropdown&quot;&gt;<br />
&nbsp; &nbsp; &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;<br />
&nbsp; &lt;/a&gt;<br />
&lt;/div&gt;
            </code>
          </pre>
    </div>
    <div class="ui-grid-50">
      <div class="c-btn-grp-dropdown">
        <a class="c-btn c-btn-secondary">Default 2</a>
        <a class="c-btn c-btn-secondary c-btn-dropdown">
          <span class="caret"></span>
        </a>
      </div>
      <pre>
            <code class="HTML">
&lt;div class=&quot;c-btn-grp-dropdown&quot;&gt;<br />
  &lt;a class=&quot;c-btn c-btn-secondary&quot;&gt;Default&lt;/a&gt;<br />
  &lt;a class=&quot;c-btn c-btn-secondary c-btn-dropdown&quot;&gt;<br />
  &nbsp; &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;<br />
  &lt;/a&gt;<br />
&lt;/div&gt;
            </code>
          </pre>
    </div>
    <h3>Select Box Replacement</h3>
    <div class="ui-grid-50">
      <select id="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Cylon</option>
      </select>
      <br> todo match native funtionality at mobile / tablet desktop gets simple styling non select version to match?
    </div>
  </div>
</div>
