<div class="o-footer__container">
  <div class="container">
    <div class="c-frame-wrapper u-pad-t-large">
      <div class="c-frame-tl"></div>
      <div class="c-frame-tr"></div>
      <div class="c-frame-br"></div>
      <div class="c-frame-bl"></div>
      <div class="c-frame-content">
        &copy; Copyright 2015 - Matalan
        <br> Perimeter Road,
        <br> Knowsely Industrial Park,
        <br> Knowsley, Liverpool L33 7SZ, UK
      </div>
    </div>

    <div class="row">
      <div class="col-12@xs col-6@md col-5@lg">
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-visa.svg" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-vpay.svg" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-mastercard.svg" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-maestro.svg" />
        </div>
        <div class="o-footer__card-svg o-footer__card-svg__small">
          <img class="svg" src="img/card-paypal.svg" />
        </div>
      </div>
      <div class="col-12@xs col-5@md col-offset-1@lg-up u-pad-l-0">
        <div class="o-footer__card-svg col-offset-2@sm">
          <img class="svg" src="img/card-mastercard-securecode.svg" />
        </div>
        <div class="o-footer__card-svg">
          <img class="svg" src="img/card-verified-visa.svg" />
        </div>
        <div class="o-footer__card-svg">
          <img class="svg" src="img/card-verisign.svg" />
        </div>
      </div>
    </div>

  </div>
</div>

{{> partials/minibag }}
