<div class="row">
  <div class="col-12@xs">
    <h3>Form controls</h3>
    <p>Examples of standard form controls supported in an example form layout.</p>
  </div>
  <div class="col-12@xs">

    <h3>Form Grid Sizing</h3>
    <hr>

    <div class="o-form__row">
      <div class="o-form__input-contain colspan-2">
        <input type="text" class="o-input o-input--textual" placeholder=".colspan-2" />
      </div>
    </div>

    <div class="o-form__row">
      <div class="o-form__input-contain colspan-4">
        <input type="text" class="o-input o-input--textual" placeholder=".colspan-4" />
      </div>
    </div>

    <div class="o-form__row">
      <div class="o-form__input-contain colspan-6">
        <input type="text" class="o-input o-input--textual" placeholder=".colspan-6" />
      </div>
    </div>

    <div class="o-form__row">
      <div class="o-form__input-contain colspan-8">
        <input type="text" class="o-input o-input--textual" placeholder=".colspan-8" />
      </div>
    </div>

    <div class="o-form__row">
      <div class="o-form__input-contain colspan-10">
        <input type="text" class="o-input o-input--textual" placeholder=".colspan-10" />
      </div>
    </div>

    <div class="o-form__row">
      <div class="o-form__input-contain colspan-12">
        <input type="text" class="o-input o-input--textual" placeholder=".colspan-12" />
      </div>
    </div>
  </div>
</div>
