<div class="ui-row">
  <div class="ui-grid-left">
    <h3>Form Grid Sizing</h3>
  </div>
  <div class="ui-grid-right">
    <div class="ui-grid-50">
      <h3>Default Form</h3>
      <form action="" class="form-default">
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Input Label</label>
          </div>
          <div class="o-form-input--contain">
            <input type="text" class="input--textual" placeholder="placeholder" />
            <p class="o-form--help-text">example block-level help text here.</p>
            <label class="o-form-label o-form-label__option">
              <input type="checkbox">Remember me
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label for="select-a" class="o-form-label__primary">Select Box</label>
          </div>
          <div class="o-form-input--contain">
            <select id="select-a">
              <option value="foo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, minima error libero ducimus.</option>
              <option value="bar">bar</option>
              <option value="baz">baz</option>
            </select>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Select Box</label>
          </div>
          <div class="o-form-input--contain">
            <select disabled>
              <option value="foo">foo</option>
              <option value="bar">bar</option>
              <option value="baz">baz</option>
            </select>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (inline)</label>
          </div>
          <div class="o-form-input--contain o-option__inline">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">Red</label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">Blue</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (block)</label>
          </div>
          <div class="o-form-input--contain o-option__block">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">Red</label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">Blue</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Check it (inline)</label>
          </div>
          <div class="o-form-input--contain o-option__inline">
            <label class="o-form-label__option">
              <input type="checkbox">Checkbox 1</label>
            <label class="o-form-label__option">
              <input type="checkbox">Checkbox 2</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Check it (block)</label>
          </div>
          <div class="o-form-input--contain o-option__block">
            <label class="o-form-label__option">
              <input type="checkbox">Checkbox 1</label>
            <label class="o-form-label__option">
              <input type="checkbox">Checkbox 2</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Textarea Label</label>
          </div>
          <div class="o-form-input--contain">
            <textarea>raaa</textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="ui-grid-50">
      <h3>Horizontal Form</h3>
      <form action="" class="form-wide">
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Input Label</label>
          </div>
          <div class="o-form-input--contain">
            <input type="text" class="input--textual" placeholder="placeholder" />
            <p class="o-form--help-text">example block-level help text here.</p>
            <label class="o-form-label o-form-label__option">
              <input type="checkbox">Remember me
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label name="select-b" class="o-form-label__primary">Select Box</label>
          </div>
          <div class="o-form-input--contain">
            <select id="select-b">
              <option value="foo">foo</option>
              <option value="bar">bar</option>
              <option value="baz">baz</option>
            </select>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (inline)</label>
          </div>
          <div class="o-form-input--contain o-option__inline">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">Red</label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">Blue</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (block)</label>
          </div>
          <div class="o-form-input--contain o-option__block">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">Red</label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">Blue</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Check it (inline)</label>
          </div>
          <div class="o-form-input--contain o-option__inline">
            <label class="o-form-label__option">
              <input type="checkbox">Checkbox 1</label>
            <label class="o-form-label__option">
              <input type="checkbox">Checkbox 2</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label o-form-label__primary">Check it (block)</label>
          </div>
          <div class="o-form-input--contain o-option__block">
            <label class="o-form-label o-form-label__option">
              <input type="checkbox">Checkbox 1</label>
            <label class="o-form-label o-form-label__option">
              <input type="checkbox">Checkbox 2</label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Textarea Label</label>
          </div>
          <div class="o-form-input--contain">
            <textarea>raaa</textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="ui-grid-100">
      <pre>
        <code class="HTML">//Forms - to add once compelte<br />

        </code>
      </pre>
    </div>
  </div>
</div>
