<div class="ui-row">
  <div class="col-sm-12">
    <h3>Form controls</h3>
    <p>Examples of standard form controls supported in an example form layout.</p>
  </div>
  <div class="col-sm-12">
    <h3>Inputs</h3>
    <hr>


    <div class="u-cf">
      <form action="" class="form-wide span-wide-6">

        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Text Input</label>
          </div>
          <div class="o-form-input--contain">
            <input type="text" class="input--textual" placeholder="Text Input" />
          </div>
        </div>
        <pre>
          <code class="HTML">//Text Input<br />
            &lt;div class=&quot;o-form-row&quot;&gt;<br />
            &nbsp; &lt;div class=&quot;o-form-label--contain&quot;&gt;<br />
            &nbsp; &nbsp; &lt;label class=&quot;o-form-label__primary&quot;&gt;Text Input&lt;/label&gt;<br />
            &nbsp; &lt;/div&gt;<br />
            &nbsp; &lt;div class=&quot;o-form-input--contain&quot;&gt;<br />
            &nbsp; &nbsp; &lt;input type=&quot;text&quot; class=&quot;input--textual&quot; placeholder=&quot;Text Input&quot; /&gt;<br />
            &nbsp; &lt;/div&gt;<br />
            &lt;/div&gt;
          </code>
        </pre>

        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Prepended</label>
          </div>
          <div class="o-form--input-group o-form-input--contain">
            <div class="input-group--addon">@</div>
            <input type="text" class="input--textual input-addon--expand" placeholder="Username">
          </div>
        </div>
        <pre>
          <code class="HTML">//Prepended<br />
            &lt;div class=&quot;o-form-row&quot;&gt;<br />
            &nbsp; &lt;div class=&quot;o-form-label--contain&quot;&gt;<br />
            &nbsp; &nbsp; &lt;label class=&quot;o-form-label__primary&quot;&gt;Prepended&lt;/label&gt;<br />
            &nbsp; &lt;/div&gt;<br />
            &nbsp; &lt;div class=&quot;o-form--input-group o-form-input--contain&quot;&gt;<br />
            &nbsp; &nbsp; &lt;div class=&quot;input-group--addon&quot;&gt;@&lt;/div&gt;<br />
            &nbsp; &nbsp; &lt;input type=&quot;text&quot; class=&quot;input--textual input-addon--expand&quot; placeholder=&quot;Username&quot;&gt;<br />
            &nbsp; &lt;/div&gt;<br />
            &lt;/div&gt;
          </code>
        </pre>

        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Appended</label>
          </div>
          <div class="o-form--input-group o-form-input--contain">
            <input type="text" class="input--textual input-addon--expand" placeholder="Username">
            <div class="input-group--addon">.00</div>
          </div>
        </div>
        <pre>
          <code class="HTML">//Prepended<br />
            &lt;div class=&quot;o-form-row&quot;&gt;<br />
            &nbsp; &lt;div class=&quot;o-form-label--contain&quot;&gt;<br />
            &nbsp; &nbsp; &lt;label class=&quot;o-form-label__primary&quot;&gt;Appended&lt;/label&gt;<br />
            &nbsp; &lt;/div&gt;<br />
            &nbsp; &lt;div class=&quot;o-form--input-group o-form-input--contain&quot;&gt;<br />
            &nbsp; &nbsp; &lt;input type=&quot;text&quot; class=&quot;input--textual input-addon--expand&quot; placeholder=&quot;Username&quot;&gt;<br />
            &nbsp; &nbsp; &lt;div class=&quot;input-group--addon&quot;&gt;.00&lt;/div&gt;<br />
            &nbsp; &lt;/div&gt;<br />
            &lt;/div&gt;
          </code>
        </pre>

        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">With a Button</label>
          </div>
          <div class="o-form--input-group o-form-input--contain">
            <input type="text" class="input--textual input-addon--expand" placeholder="Username">
            <a class="input-group--addon" href="">Go</a>
          </div>
        </div>


      </form>
    </div>


    <h3>Form Grid Sizing</h3>
    <hr>

    <div class="o-form-row">
      <div class="o-form-input--contain span-wide-2">
        <input type="text" class="input--textual" placeholder=".span-wide-2" />
      </div>
    </div>

    <div class="o-form-row">
      <div class="o-form-input--contain span-wide-4">
        <input type="text" class="input--textual" placeholder=".span-wide-4" />
      </div>
    </div>

    <div class="o-form-row">
      <div class="o-form-input--contain span-wide-6">
        <input type="text" class="input--textual" placeholder=".span-wide-6" />
      </div>
    </div>

    <div class="o-form-row">
      <div class="o-form-input--contain span-wide-8">
        <input type="text" class="input--textual" placeholder=".span-wide-8" />
      </div>
    </div>

    <div class="o-form-row">
      <div class="o-form-input--contain span-wide-10">
        <input type="text" class="input--textual" placeholder=".span-wide-10" />
      </div>
    </div>

    <div class="o-form-row">
      <div class="o-form-input--contain span-wide-12">
        <input type="text" class="input--textual" placeholder=".span-wide-12" />
      </div>
    </div>
  </div>
</div>