<div class="ui-row">
  <div class="col-12@sm">
    <h3>Inline Forms</h3>
  </div>
  <div class="col-12@sm">
    <div>
      <form class="o-form--inline hidden@lg-down">
        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Input Label</label>
          </div>
          <div class="o-form__input-contain">
            <input type="text" class="o-input o-input--textual" placeholder="placeholder" />
          </div>
          <div class="o-form__input-contain">
            <input type="text" class="o-input o-input--textual" placeholder="placeholder" />
          </div>

          <div class="o-form__input-contain">
            <label class="o-form__label-option">
              <input type="checkbox" name="" value="">
              <span></span>
              Remember Me
            </label>
          </div>

          <button type="submit" class="c-btn c-btn-secondary">Transfer cash</button>
        </div>
      </form>
    </div>

    <div>
      <form class="o-form--inline">
        <div class="o-form__row">
          <div class="o-form--input-pack o-form__input-contain span-wide-4">
            <div class="input-group--addon">$</div>
            <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Amount">
            <div class="input-group--addon">.00</div>
          </div>
          <button type="submit" class="c-btn c-btn-secondary">Transfer cash</button>
        </div>
      </form>
    </div>

  </div>
</div>
