<div class="separator u-mar-v-huge"></div>

<div class="">
  <h3>Single line form bars</h3>
</div>

<div class="row">
  <div class="col-6@lg">
    <form action="" class="o-form--inline">


      <div class="o-form__row">
        <div class="o-form--input-pack o-form__input-contain">
          <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Input pack with button">
          <div class="input-group__btn">
            <button type="submit" class="c-btn c-btn-secondary">button</button>
          </div>
        </div>
      </div>

      <div class="o-form__row">
        <div class="o-form--input-pack o-form__input-contain">
          <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Input pack with Link">
          <div class="input-group__btn">
            <button type="submit" class="c-btn c-btn-secondary">link</button>
          </div>
        </div>
      </div>

      <div class="o-form__row">
        <div class="o-form--input-pack o-form__input-contain">
          <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Input pack with dropdown">
          <div class="input-group__btn">

            <div class="c-dropdown">
              <button class="c-btn-dropdown c-btn c-btn-secondary" type="button" data-toggle="dropdown">
                dropdown
                <span class="caret"></span>
              </button>
              <ul class="c-dropdown-menu">
                <li><a href="#">Action</a></li>
                <li class="active"><a href="#">Active item</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="separator"></li>
                <li class="dropdown-header">Header</li>
                <li class="disabled"><a href="#">Disabled link</a></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>


    </form>
  </div>

  <div class="col-6@lg">
    <form action="" class="o-form--inline">

      <div class="o-form__row">
        <div class="o-form--input-pack o-form--input-pack--styled o-form__input-contain">
          <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Styled input pack with button">
          <div class="input-group__btn">
            <button type="submit" class="c-btn c-btn-secondary">button</button>
          </div>
        </div>
      </div>

      <div class="o-form__row">
        <div class="o-form--input-pack o-form--input-pack--styled o-form__input-contain">
          <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Styled input pack with Link">
          <div class="input-group__btn">
            <button type="submit" class="c-btn c-btn-secondary">link</button>
          </div>
        </div>
      </div>

      <div class="o-form__row">
        <div class="o-form--input-pack o-form--input-pack--styled o-form__input-contain">
          <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Styled input pack with dropdown">
          <div class="input-group__btn">

            <div class="c-dropdown">
              <button class="c-btn-dropdown c-btn c-btn-secondary" type="button" data-toggle="dropdown">
                dropdown
                <span class="caret"></span>
              </button>
              <ul class="c-dropdown-menu">
                <li><a href="#">Action</a></li>
                <li class="active"><a href="#">Active item</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="separator"></li>
                <li class="dropdown-header">Header</li>
                <li class="disabled"><a href="#">Disabled link</a></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </form>
  </div>

</div>

<div class="row">

  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form--input-pack o-form__input-contain">
        <div class="input-group--addon">$</div>
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Input pack with prepend">
        <div class="input-group__btn">
          <button type="submit" class="c-btn c-btn-secondary">button</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form--input-pack o-form--input-pack--styled o-form__input-contain">
        <div class="input-group--addon">$</div>
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Input pack styled with prepend">
        <div class="input-group__btn">
          <a href="#" class="c-btn c-btn-secondary">link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form--input-pack o-form__input-contain">
        <div class="input-group--addon">$</div>
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Input pack with prepend">
        <div class="input-group__btn">
          <div class="c-dropdown">
            <button class="c-btn-dropdown c-btn c-btn-secondary" type="button" data-toggle="dropdown">
              dropdown
              <span class="caret"></span>
            </button>
            <ul class="c-dropdown-menu">
              <li><a href="#">Action</a></li>
              <li class="active"><a href="#">Active item</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="separator"></li>
              <li class="dropdown-header">Header</li>
              <li class="disabled"><a href="#">Disabled link</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form__label-contain">
        <label class="o-form__label-primary">Prepended</label>
      </div>
      <div class="o-form--input-pack o-form__input-contain">
        <div class="input-group--addon">@</div>
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Username">
      </div>
    </div>
  </div>
  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form__label-contain">
        <label class="o-form__label-primary">Appended</label>
      </div>
      <div class="o-form--input-pack o-form__input-contain">
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Username">
        <div class="input-group--addon">.00</div>
      </div>
    </div>
  </div>
  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form__label-contain">
        <label class="o-form__label-primary">With a Button or a link</label>
      </div>
      <div class="o-form--input-pack o-form__input-contain">
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Username">
        <div class="input-group__btn">
          <a class="c-btn c-btn-secondary" href="">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form__label-contain">
        <label class="">Regular Input</label>
      </div>
      <div class="o-form__input-contain o-form__input--icon">
        <input type="text" class="o-input o-input--textual" placeholder="regular input">
        <i class="icon icon-search"></i>
      </div>
    </div>
  </div>

  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form__label-contain">
        <label class="">Input Pack</label>
      </div>
      <div class="o-form__input-contain o-form--input-pack o-form__input--icon">
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Username">
        <div class="input-group__btn">
          <a class="c-btn c-btn-secondary" href="">Go</a>
        </div>
        <i class="icon icon-search"></i>
      </div>
    </div>
  </div>

  <div class="col-4@xs">
    <div class="o-form__row">
      <div class="o-form__label-contain">
        <label class="">Input Pack styled</label>
      </div>
      <div class="o-form__input-contain o-form--input-pack o-form--input-pack--styled o-form__input--icon">
        <input type="text" class="o-input o-input--textual input-addon--expand" placeholder="Username">
        <div class="input-group__btn">
          <a class="c-btn c-btn-secondary" href="">Go</a>
        </div>
        <i class="icon icon-search"></i>
      </div>
    </div>
  </div>
</div>


<div class="separator u-mar-v-huge"></div>