<div class="ui-row">
  <div class="col-lg-12">
    <h3>Form Grid Sizing</h3>
  </div>
  <div class="col-sm-12 no-pad">
    <div class="col-lg-6">
      <h3>Default Form</h3>
      <form action="" class="form-default">
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Input Label</label>
          </div>
          <div class="o-form-input__contain">
            <input type="text" class="input--textual" placeholder="placeholder" />
            <p class="o-form--help-text">example block-level help text here.</p>
            <label class="o-form-label o-form-label__option">
              <input type="checkbox" />
              <span></span>
              Remember me
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label for="select-a" class="o-form-label__primary">Select Box</label>
          </div>
          <div class="o-form-input__contain">
            <select id="select-a">
              <optgroup label="Group 1">
              <option value="foo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, minima error libero ducimus.</option>
              <option disabled value="bar">bar</option>
              <option value="baz">baz</option>
                <option>Option 1.1</option>
              </optgroup>
              <optgroup label="Group 2">
                <option>Option 2.1</option>
                <option>Option 2.2</option>
              </optgroup>
              <optgroup label="Group 3" disabled>
                <option>Option 3.1</option>
                <option>Option 3.2</option>
                <option>Option 3.3</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Select Box (disabled)</label>
          </div>
          <div class="o-form-input__contain">
            <select disabled>
              <option value="foo">foo</option>
              <option value="bar">bar</option>
              <option value="baz">baz</option>
            </select>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (inline)</label>
          </div>
          <div class="o-form-input__contain o-option__inline">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (block)</label>
          </div>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Check it (inline)</label>
          </div>
          <div class="o-form-input__contain o-option__inline">
            <label class="o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 1
              </label>
            <label class="o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 2
              </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Check it (block)</label>
          </div>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 1
              </label>
            <label class="o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 2
              </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Textarea Label</label>
          </div>
          <div class="o-form-input__contain">
            <textarea>raaa</textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <h3>Horizontal Form</h3>
      <form action="" class="form-wide">
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Input Label</label>
          </div>
          <div class="o-form-input__contain">
            <input type="text" class="input--textual" placeholder="placeholder" />
            <p class="o-form--help-text">example block-level help text here.</p>
            <label class="o-form-label o-form-label__option">
              <input type="checkbox">
              <span></span>
              Remember me
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label name="select-b" class="o-form-label__primary">Select Box</label>
          </div>
          <div class="o-form-input__contain">
            <select id="select-b">
              <optgroup label="Group 1">
              <option value="foo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, minima error libero ducimus.</option>
              <option disabled value="bar">bar</option>
              <option value="baz">baz</option>
                <option>Option 1.1</option>
              </optgroup>
              <optgroup label="Group 2">
                <option>Option 2.1</option>
                <option>Option 2.2</option>
              </optgroup>
              <optgroup label="Group 3" disabled>
                <option>Option 3.1</option>
                <option>Option 3.2</option>
                <option>Option 3.3</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (inline)</label>
          </div>
          <div class="o-form-input__contain o-option__inline">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Choose Option (block)</label>
          </div>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form-label__option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Check it (inline)</label>
          </div>
          <div class="o-form-input__contain o-option__inline">
            <label class="o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 1
            </label>
            <label class="o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 2
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label o-form-label__primary">Check it (block)</label>
          </div>
          <div class="o-form-input__contain o-option__block">
            <label class="o-form-label o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 1
            </label>
            <label class="o-form-label o-form-label__option">
              <input type="checkbox">
              <span></span>
              Checkbox 2
            </label>
          </div>
        </div>
        <div class="o-form-row">
          <div class="o-form-label--contain">
            <label class="o-form-label__primary">Textarea Label</label>
          </div>
          <div class="o-form-input__contain">
            <textarea>raaa</textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="ui-grid-100">
      <pre>
        <code class="HTML">//Forms - to add once compelte<br />

        </code>
      </pre>
    </div>
  </div>
</div>
