<div class="xx-row">
  <div class="col-12@lg">
    <h3>Form Grid Sizing</h3>
  </div>
  <div class="col-12@xs no-pad">
    <div class="col-6@lg">
      <h3>Default Form</h3>

      <form action="" class="o-form o-form--default">


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="">Input Label</label>
          </div>

          <div class="o-form__input-contain">
            <input type="text" class="o-input o-input--textual" placeholder="placeholder" />
            <p class="o-form__help-text">example block-level help text here.</p>
            <label class="o-form__label o-form__label-option">
              <input type="checkbox" />
              <span></span>
              Remember me
            </label>
          </div>

        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label for="select-a" class="o-form__label-primary">Select Box</label>
          </div>
          <div class="o-form__input-contain">
            <select id="select-a">
              <optgroup label="Group 1">
              <option value="foo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, minima error libero ducimus.</option>
              <option disabled value="bar">bar</option>
              <option value="baz">baz</option>
                <option>Option 1.1</option>
              </optgroup>
              <optgroup label="Group 2">
                <option>Option 2.1</option>
                <option>Option 2.2</option>
              </optgroup>
              <optgroup label="Group 3" disabled>
                <option>Option 3.1</option>
                <option>Option 3.2</option>
                <option>Option 3.3</option>
              </optgroup>
            </select>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Select Box (disabled)</label>
          </div>
          <div class="o-form__input-contain">
            <select disabled>
              <option value="foo">foo</option>
              <option value="bar">bar</option>
              <option value="baz">baz</option>
            </select>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Choose Option (inline)</label>
          </div>
          <div class="o-form__input-contain o-option--inline">
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Choose Option (block)</label>
          </div>
          <div class="o-form__input-contain o-option--block">
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Check it (inline)</label>
          </div>
          <div class="o-form__input-contain o-option--inline">
            <label class="o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 1
              </label>
            <label class="o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 2
              </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Check it (block)</label>
          </div>
          <div class="o-form__input-contain o-option--block">
            <label class="o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 1
              </label>
            <label class="o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 2
              </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Textarea Label</label>
          </div>
          <div class="o-form__input-contain">
            <textarea class="o-input">raaa</textarea>
          </div>
        </div>
      </form>
    </div>





    <div class="col-6@lg">
      <h3>Horizontal Form</h3>
      <form action="" class="o-form o-form--wide">


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Input Label</label>
          </div>
          <div class="o-form__input-contain">
            <input type="text" class="o-input o-input--textual" placeholder="placeholder" />
            <p class="o-form__help-text">example block-level help text here.</p>
            <label class="o-form__label o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Remember me
            </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label name="select-b" class="o-form__label-primary">Select Box</label>
          </div>
          <div class="o-form__input-contain">
            <select id="select-b">
              <optgroup label="Group 1">
              <option value="foo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, minima error libero ducimus.</option>
              <option disabled value="bar">bar</option>
              <option value="baz">baz</option>
                <option>Option 1.1</option>
              </optgroup>
              <optgroup label="Group 2">
                <option>Option 2.1</option>
                <option>Option 2.2</option>
              </optgroup>
              <optgroup label="Group 3" disabled>
                <option>Option 3.1</option>
                <option>Option 3.2</option>
                <option>Option 3.3</option>
              </optgroup>
            </select>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Choose Option (inline)</label>
          </div>
          <div class="o-form__input-contain o-option--inline">
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Choose Option (block)</label>
          </div>
          <div class="o-form__input-contain o-option--block">
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Red">
              <span></span>
              Red
            </label>
            <label class="o-form__label-option">
              <input type="radio" name="foo" value="Blue">
              <span></span>
              Blue
            </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Check it (inline)</label>
          </div>
          <div class="o-form__input-contain o-option--inline">
            <label class="o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 1
            </label>
            <label class="o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 2
            </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label">Check it (block)</label>
          </div>
          <div class="o-form__input-contain o-option--block">
            <label class="o-form__label o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 1
            </label>
            <label class="o-form__label o-form__label-option">
              <input type="checkbox">
              <span class="check-holder"></span>
              Checkbox 2
            </label>
          </div>
        </div>


        <div class="o-form__row">
          <div class="o-form__label-contain">
            <label class="o-form__label-primary">Textarea Label</label>
          </div>
          <div class="o-form__input-contain">
            <textarea class="o-input">raaa</textarea>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>
