<div id="o-super-header__container" class="o-super-header__container">
  <div class="container">
    <div class="global-messages row u-pad-r-huge">
      <div class="col-12@xs col-4@lg">
        <a href="#"><p>Christmas shop is now only available in stores.</p></a>
      </div>
      <div class="col-12@xs col-4@lg hidden@md-down">
        <a href="#"><p>Christmas shop is now only available in stores.</p></a>
      </div>
      <div class="col-12@xs col-4@lg hidden@md-down">
        <a href="#"><p>Christmas shop is now only available in stores.</p></a>
      </div>
    </div>
    <span data-ui-close="#o-super-header__container" class="close">&times;</span>
  </div>
</div>