<div class="xx-row">
  <div class="col-12@xs">
    <h2>Default Grid</h2>
  </div>
  <div class="col-12@xs dev-grid-container">

    <div class="row dev-uikit">
      {{#times 12}}
      <div class="col-4@xs col-3@md col-1@lg"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      {{#times 3}}
      <div class="col-2@xs col-2@md col-2@lg"><div class="island"></div></div>
      {{/ times}}
      {{#times 2}}
      <div class="col-3@xs"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      {{#times 3}}
      <div class="col-4@xs col-4@md col-4@lg"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      {{#times 2}}
      <div class="col-5@xs col-5@md col-5@lg"><div class="island"></div></div>
      {{/ times}}
      <div class="col-2@xs col-2@md col-2@lg"><div class="island"></div></div>
    </div>

    <div class="row dev-uikit">
      {{#times 2}}
      <div class="col-6@xs col-6@md col-6@lg"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      <div class="col-12@xs col-12@md col-12@lg"><div class="island"></div></div>
    </div>

  </div>
</div>
