<div class="ui-row">
  <div class="col-xs-12">
    <h2>Default Grid</h2>
  </div>
  <div class="col-xs-12 dev-grid-container">

    <div class="row dev-uikit">
      {{#times 12}}
      <div class="col-xs-4 col-md-3 col-lg-1"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      {{#times 3}}
      <div class="col-xs-2 col-md-2 col-lg-2"><div class="island"></div></div>
      {{/ times}}
      {{#times 2}}
      <div class="col-xs-3"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      {{#times 3}}
      <div class="col-xs-4 col-md-4 col-lg-4"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      {{#times 2}}
      <div class="col-xs-5 col-md-5 col-lg-5"><div class="island"></div></div>
      {{/ times}}
      <div class="col-xs-2 col-md-2 col-lg-2"><div class="island"></div></div>
    </div>

    <div class="row dev-uikit">
      {{#times 2}}
      <div class="col-xs-6 col-md-6 col-lg-6"><div class="island"></div></div>
      {{/ times}}
    </div>

    <div class="row dev-uikit">
      <div class="col-xs-12 col-md-12 col-lg-12"><div class="island"></div></div>
    </div>

  </div>
</div>
