<div class="ui-row">
  <h1>Default Grid</h1>

  <div class="row">
    {{#times 12}}
    <div class="col-sm-1"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    {{#times 3}}
    <div class="col-sm-2"><div class="island"></div></div>
    {{/ times}}
    {{#times 2}}
    <div class="col-sm-3"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    {{#times 3}}
    <div class="col-sm-4"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    {{#times 2}}
    <div class="col-sm-5"><div class="island"></div></div>
    {{/ times}}
    <div class="col-sm-2"><div class="island"></div></div>
  </div>

  <div class="row">
    {{#times 2}}
    <div class="col-sm-6"><div class="island"></div></div>
    {{/ times}}
  </div>

  <div class="row">
    <div class="col-sm-12"><div class="island"></div></div>
  </div>
  <div class="row">
    <div class="ui-grid-33">
      <pre>
        <code class="HTML">//12 column row<br />
          &lt;div class=&quot;row&quot;&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;<br />
          &lt;/div&gt;
        </code>
      </pre>
    </div>
    <div class="ui-grid-33">
      <pre>
        <code class="HTML">//Column mix<br />
          &lt;div class=&quot;row&quot;&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-3&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-3&quot;&gt;&lt;/div&gt;<br />
          &lt;/div&gt;<br /><br />
          //3 column<br />
          &lt;div class=&quot;row&quot;&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-4&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-4&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-4&quot;&gt;&lt;/div&gt;<br />
          &lt;/div&gt;<br /><br />
        </code>
      </pre>
    </div>
    <div class="ui-grid-33">
      <pre>
        <code class="HTML">//Alternative column mix<br />
          &lt;div class=&quot;row&quot;&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-5&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-5&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;<br />
          &lt;/div&gt;<br /><br />
          //2 column<br />
          &lt;div class=&quot;row&quot;&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-6&quot;&gt;&lt;/div&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-6&quot;&gt;&lt;/div&gt;<br />
          &lt;/div&gt;<br /><br />
          //Full column<br />
          &lt;div class=&quot;row&quot;&gt;<br />
          &nbsp; &lt;div class=&quot;col-sm-12&quot;&gt;&lt;/div&gt;<br />
          &lt;/div&gt;
        </code>
      </pre>
    </div>
  </div>
</div>
