
<div class="o-header__container">
  <div class="container">
    <div class="row header-pb-20">
      <div class="col-4@xs col-offset-4@xs col-6@sm col-offset-3@sm-up u-pad-h-0">
        <div class="o-header__brand">
          <a href="./homepage.html"><img src="./img/matalan-logo-responsive.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>