
<div class="o-header__container">
  <div class="container">
    <div class="row u-pad-v-large">
      <div class="o-header__brand u-font-ta-c u-pad-b-medium">
        <a class="" href="./homepage.html">
          <img src="./img/matalan-logo-responsive.svg" alt="" class="o-header__brand__logo svg">
        </a>
      </div>
    </div>
  </div>
</div>