<div class="ui-row">
  <h1>Icons</h1>
    <div class="ui-grid-left">
    <h3>Icons</h3>
  </div>
  <div class="ui-grid-right">
    <h3>Social</h3>

    <div class="ui-grid-50">
      <i class="block-icon icon-plus_circle">icon-plus_circle</i>
      <i class="block-icon icon-plus_circle_o">icon-plus_circle_o</i>
      <i class="block-icon icon-edit">icon-create</i>
      <i class="block-icon icon-email">icon-email</i>
      <i class="block-icon icon-minus_circle">icon-minus_circle</i>
      <i class="block-icon icon-minus_circle_o">icon-minus_circle_o</i>
      <i class="block-icon icon-view_comfortable">icon-view_comfortable</i>
      <i class="block-icon icon-apps">icon-apps</i>
      <i class="block-icon icon-menu">icon-menu</i>
      <i class="block-icon icon-star">icon-star</i>
      <i class="block-icon icon-phone">icon-phone</i>
      <i class="block-icon icon-star_half">icon-star_half</i>
    </div>
    <div class="ui-grid-50">
      <i class="block-icon icon-star_o">icon-star_o</i>
      <i class="block-icon icon-info">icon-info</i>
      <i class="block-icon icon-info_o">icon-info_o</i>
      <i class="block-icon icon-payment">icon-payment</i>
      <i class="block-icon icon-search">icon-search</i>
      <i class="block-icon icon-basket">icon-basket</i>
      <i class="block-icon icon-google-plus">icon-google</i>
      <i class="block-icon icon-facebook">icon-facebook</i>
      <i class="block-icon icon-twitter">icon-twitter</i>
      <i class="block-icon icon-rss">icon-rss</i>
      <i class="block-icon icon-youtube">icon-youtube</i>
      <i class="block-icon icon-pinterest">icon-pinterest</i>
    </div>


  </div>
</div>
