<div class="ui-row">
  <div class="col-sm-12">
    <h2>Icons</h2>
    <h3>Social</h3>

    <div class="col-sm-12 col-md-6">
      <i class="block-icon icon icon-plus_circle">icon-plus_circle</i>
      <i class="block-icon icon icon-plus_circle_o">icon-plus_circle_o</i>
      <i class="block-icon icon icon-edit">icon-create</i>
      <i class="block-icon icon icon-email">icon-email</i>
      <i class="block-icon icon icon-minus_circle">icon-minus_circle</i>
      <i class="block-icon icon icon-minus_circle_o">icon-minus_circle_o</i>
      <i class="block-icon icon icon-view_tight">icon-view_tight</i>
      <i class="block-icon icon icon-view_wide">icon-view_wide</i>
      <i class="block-icon icon icon-menu">icon-menu</i>
      <i class="block-icon icon icon-star">icon-star</i>
      <i class="block-icon icon icon-phone">icon-phone</i>
      <i class="block-icon icon icon-star_half">icon-star_half</i>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="block-icon icon icon-star_o">icon-star_o</i>
      <i class="block-icon icon icon-info">icon-info</i>
      <i class="block-icon icon icon-info_o">icon-info_o</i>
      <i class="block-icon icon icon-payment">icon-payment</i>
      <i class="block-icon icon icon-search">icon-search</i>
      <i class="block-icon icon icon-basket">icon-basket</i>
      <i class="block-icon icon icon-social-google-plus">icon-google</i>
      <i class="block-icon icon icon-social-facebook">icon-facebook</i>
      <i class="block-icon icon icon-social-twitter">icon-twitter</i>
      <i class="block-icon icon icon-social-rss">icon-rss</i>
      <i class="block-icon icon icon-social-youtube">icon-youtube</i>
      <i class="block-icon icon icon-social-pinterest">icon-pinterest</i>
    </div>
    <div class="ui-grid-100">
      <pre>
        <code class="HTML">//Icon style<br />
          &lt;i class=&quot;block-icon icon-plus_circle&quot;&gt;icon-plus_circle&lt;/i&gt;
        </code>
      </pre>
    </div>


  </div>
</div>
