<div class="row">
  <div class="col-12@xs">
    <h2>Icons</h2>
    <div class="auto-column-3">

    <ul class="o-list-block">
      <li class="o-list__item"><i class="icon--block icon icon-aeroplane">aeroplane</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-bin">bin</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-calendar">calendar</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-click-collect">click-collect</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-credit-card">credit-card</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-delivery-van">delivery-van</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-desktop">desktop</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-email">email</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-eye">eye</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-home">home</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-information">information</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-large-cross">large-cross</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-large-tick">large-tick</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-love">love</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-menu-close">menu-close</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-menu-menu">menu-menu</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-menu-myaccount">menu-myaccount</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-menu-storefinder">menu-storefinder</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-minibag">minibag</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-padlock-s">padlock secure</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-padlock-u">padlock not secure</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-minus">minus</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-mobile">mobile</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-offer">offer</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-pencil">pencil</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-plus">plus</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-question">question</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-return">return</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-reward-card">reward-card</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-search">search</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-signal">signal</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-small-tick">small-tick</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-social-blog">social-blog</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-social-facebook">social-facebook</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-social-google">social-google+</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-social-instagram">social-instagram</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-social-twitter">social-twitter</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-social-youtube">social-youtube</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-star-empty">star-empty</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-star-fill">star-fill</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-storefinder">storefinder</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-tablet">tablet</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-telephone">telephone</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-ui-3-across">ui-3-across</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-ui-4-across">ui-4-across</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-ui-back">ui-back</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-ui-cross">ui-cross</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-ui-down">ui-down</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-ui-forward">ui-forward</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-ui-up">ui-up</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-user-female">user-female</i></li>
      <li class="o-list__item"><i class="icon--block icon icon-user-male">user-male</i></li>
    </ul>
    <div class="ui-grid-100">
      <pre>
        <code class="HTML">//icon--block Icon style<br />
          &lt;i class=&quot;icon-plus_circle&quot;&gt;icon-plus_circle&lt;/i&gt;
        </code>
      </pre>
    </div>
  </div>
</div>
