<div class="row">
  <div class="col-12@xs">
    <h2>Icons</h2>
    <div class="auto-column-3">

    <i class="block-icon icon icon-aeroplane">aeroplane</i>
    <i class="block-icon icon icon-bin">bin</i>
    <i class="block-icon icon icon-calendar">calendar</i>
    <i class="block-icon icon icon-click-collect">click-collect</i>
    <i class="block-icon icon icon-credit-card">credit-card</i>
    <i class="block-icon icon icon-delivery-van">delivery-van</i>
    <i class="block-icon icon icon-desktop">desktop</i>
    <i class="block-icon icon icon-email">email</i>
    <i class="block-icon icon icon-eye">eye</i>
    <i class="block-icon icon icon-home">home</i>
    <i class="block-icon icon icon-information">information</i>
    <i class="block-icon icon icon-large-cross">large-cross</i>
    <i class="block-icon icon icon-large-tick">large-tick</i>
    <i class="block-icon icon icon-love">love</i>
    <i class="block-icon icon icon-menu-close">menu-close</i>
    <i class="block-icon icon icon-menu-menu">menu-menu</i>
    <i class="block-icon icon icon-menu-myaccount">menu-myaccount</i>
    <i class="block-icon icon icon-menu-storefinder">menu-storefinder</i>
    <i class="block-icon icon icon-mini-bag">mini-bag</i>
    <i class="block-icon icon icon-minus">minus</i>
    <i class="block-icon icon icon-mobile">mobile</i>
    <i class="block-icon icon icon-offer">offer</i>
    <i class="block-icon icon icon-pencil">pencil</i>
    <i class="block-icon icon icon-plus">plus</i>
    <i class="block-icon icon icon-question">question</i>
    <i class="block-icon icon icon-return">return</i>
    <i class="block-icon icon icon-reward-card">reward-card</i>
    <i class="block-icon icon icon-search">search</i>
    <i class="block-icon icon icon-signal">signal</i>
    <i class="block-icon icon icon-small-tick">small-tick</i>
    <i class="block-icon icon icon-social-blog">social-blog</i>
    <i class="block-icon icon icon-social-facebook">social-facebook</i>
    <i class="block-icon icon icon-social-google">social-google+</i>
    <i class="block-icon icon icon-social-instagram">social-instagram</i>
    <i class="block-icon icon icon-social-pintrest">social-pintrest</i>
    <i class="block-icon icon icon-social-twitter">social-twitter</i>
    <i class="block-icon icon icon-social-youtube">social-youtube</i>
    <i class="block-icon icon icon-star-empty">star-empty</i>
    <i class="block-icon icon icon-star-fill">star-fill</i>
    <i class="block-icon icon icon-storefinder">storefinder</i>
    <i class="block-icon icon icon-tablet">tablet</i>
    <i class="block-icon icon icon-telephone">telephone</i>
    <i class="block-icon icon icon-ui-3-across">ui-3-across</i>
    <i class="block-icon icon icon-ui-4-across">ui-4-across</i>
    <i class="block-icon icon icon-ui-back">ui-back</i>
    <i class="block-icon icon icon-ui-cross">ui-cross</i>
    <i class="block-icon icon icon-ui-down">ui-down</i>
    <i class="block-icon icon icon-ui-forward">ui-forward</i>
    <i class="block-icon icon icon-ui-up">ui-up</i>
    <i class="block-icon icon icon-user-female">user-female</i>
    <i class="block-icon icon icon-user-male">user-male</i>

    <div class="ui-grid-100">
      <pre>
        <code class="HTML">//Icon style<br />
          &lt;i class=&quot;block-icon icon-plus_circle&quot;&gt;icon-plus_circle&lt;/i&gt;
        </code>
      </pre>
    </div>
  </div>
</div>
