<div class="ui-row">
  <div class="col-sm-12">
    <h2>Icons</h2>
    <h3>Socialx</h3>
    <div class="auto-column-3">
      <i class="block-icon icon icon-aeroplane">icon-aeroplane</i>
      <i class="block-icon icon icon-arr-back">icon-arr-back</i>
      <i class="block-icon icon icon-arr-down">icon-arr-down</i>
      <i class="block-icon icon icon-arr-forward">icon-arr-forward</i>
      <i class="block-icon icon icon-arr-up">icon-arr-up</i>
      <i class="block-icon icon icon-blog">icon-blog</i>
      <i class="block-icon icon icon-click-collect">icon-click-collect</i>
      <i class="block-icon icon icon-cross">icon-cross</i>
      <i class="block-icon icon icon-delivery-van">icon-delivery-van</i>
      <i class="block-icon icon icon-desktop">icon-desktop</i>
      <i class="block-icon icon icon-email">icon-email</i>
      <i class="block-icon icon icon-eye">icon-eye</i>
      <i class="block-icon icon icon-home">icon-home</i>
      <i class="block-icon icon icon-location">icon-location</i>
      <i class="block-icon icon icon-love">icon-love</i>
      <i class="block-icon icon icon-menu">icon-menu</i>
      <i class="block-icon icon icon-minibag">icon-minibag</i>
      <i class="block-icon icon icon-minus">icon-minus</i>
      <i class="block-icon icon icon-mobile">icon-mobile</i>
      <i class="block-icon icon icon-offer">icon-offer</i>
      <i class="block-icon icon icon-plus">icon-plus</i>
      <i class="block-icon icon icon-return">icon-return</i>
      <i class="block-icon icon icon-reward-card">icon-reward-card</i>
      <i class="block-icon icon icon-search">icon-search</i>
      <i class="block-icon icon icon-signal">icon-signal</i>
      <i class="block-icon icon icon-social-facebook">icon-social-facebook</i>
      <i class="block-icon icon icon-social-google">icon-social-google</i>
      <i class="block-icon icon icon-social-instagram">icon-social-instagram</i>
      <i class="block-icon icon icon-social-pinterest">icon-social-pinterest</i>
      <i class="block-icon icon icon-social-twitter">icon-social-twitter</i>
      <i class="block-icon icon icon-social-youtube">icon-social-youtube</i>
      <i class="block-icon icon icon-star-empty">icon-star-empty</i>
      <i class="block-icon icon icon-star-fill">icon-star-fill</i>
      <i class="block-icon icon icon-tablet">icon-tablet</i>
      <i class="block-icon icon icon-telephone">icon-telephone</i>
      <i class="block-icon icon icon-user-female">icon-user-female</i>
      <i class="block-icon icon icon-user-male">icon-user-male</i>
    </div>
    <!--     <div class="col-sm-12 col-md-6">
      <i class="block-icon icon icon-plus_circle">icon-plus_circle</i>
      <i class="block-icon icon icon-plus_circle_o">icon-plus_circle_o</i>
      <i class="block-icon icon icon-edit">icon-create</i>
      <i class="block-icon icon icon-email">icon-email</i>
      <i class="block-icon icon icon-minus_circle">icon-minus_circle</i>
      <i class="block-icon icon icon-minus_circle_o">icon-minus_circle_o</i>
      <i class="block-icon icon icon-view_tight">icon-view_tight</i>
      <i class="block-icon icon icon-view_wide">icon-view_wide</i>
      <i class="block-icon icon icon-menu">icon-menu</i>
      <i class="block-icon icon icon-star">icon-star</i>
      <i class="block-icon icon icon-phone">icon-phone</i>
      <i class="block-icon icon icon-star_half">icon-star_half</i>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="block-icon icon icon-star_o">icon-star_o</i>
      <i class="block-icon icon icon-info">icon-info</i>
      <i class="block-icon icon icon-info_o">icon-info_o</i>
      <i class="block-icon icon icon-payment">icon-payment</i>
      <i class="block-icon icon icon-search">icon-search</i>
      <i class="block-icon icon icon-basket">icon-basket</i>
      <i class="block-icon icon icon-social-google-plus">icon-google</i>
      <i class="block-icon icon icon-social-facebook">icon-facebook</i>
      <i class="block-icon icon icon-social-twitter">icon-twitter</i>
      <i class="block-icon icon icon-social-rss">icon-rss</i>
      <i class="block-icon icon icon-social-youtube">icon-youtube</i>
      <i class="block-icon icon icon-social-pinterest">icon-pinterest</i>
    </div> -->
    <div class="ui-grid-100">
      <pre>
        <code class="HTML">//Icon style<br />
          &lt;i class=&quot;block-icon icon-plus_circle&quot;&gt;icon-plus_circle&lt;/i&gt;
        </code>
      </pre>
    </div>
  </div>
</div>
