<!--removeIf(production)-->
<div class="developer-tools">
  <div class="c-btn-grp-dropdown">
    <div class="c-dropdown">
      <button class="c-btn-dropdown c-btn c-btn-secondary" type="button" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="c-dropdown-menu">
        <li><a id="grid-debug" href="#">Grid Debug</a></li>
        <li><a id="dev-debug" href="#">Dev Debug</a></li>
        <li role="separator" class="divider"></li>
        <li><a id="nudge-debug" href="#">Nudge</a></li>
      </ul>
    </div>
  </div>
</div>
<!--endRemoveIf(production)-->

 <script src="./js/app.js"></script>