<div class="row">

  <!-- <div class="col-12@xs">
    <h2>Logo Usage</h2>
  </div> -->

  <div class="col-12@xs">
    <div class="row u-mar-t-large">
      <div class="col-12@xs col-6@md">
          <p>Desktop <span class="meta">(250px wide)</span></p>
      </div>
      <div class="col-12@xs col-6@md">
        <div style="width: 250px; float: left; margin-right: 3em">
          <img src="img/matalan-logo-responsive.svg" alt="">
        </div>
      </div>
    </div>

    <div class="row u-mar-t-large">
      <div class="col-12@xs col-6@md">
          <p>Tablet <span class="meta">(155px wide)</span></p>
      </div>
      <div class="col-12@xs col-6@md">
        <div style="width: 155px; float: left; margin-right: 3em">
          <img src="img/matalan-logo-responsive.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row u-mar-t-large">
      <div class="col-12@xs col-6@md">
          <p>Mobile <span class="meta">(130px wide)</span></p>
      </div>
      <div class="col-12@xs col-6@md">
        <div style="width: 130px; float: left; margin-right: 3em">
          <img src="img/matalan-logo-responsive.svg" alt="">
        </div>
      </div>
    </div>

  </div>

</div>

