<div class="ui-row">

  <div class="ui-grid-left">
    <h2>Logo Usage</h2>
  </div>

  <div class="ui-grid-right">

    <div style="width: 170px; float: left; margin-right: 3em">
      <br>Desktop <span class="meta">(170px wide)</span><br><br>
      <img src="img/matalan-logo-responsive.svg" alt="">
    </div>

    <div style="width: 130px; float: left; margin-right: 3em">
    <br>Tablet <span class="meta">(130px wide)</span><br><br>
      <img src="img/matalan-logo-responsive.svg" alt="">
    </div>

    <div style="width: 130px; float: left; margin-right: 3em">
    <br>Tablet <span class="meta">(130px wide)</span><br><br>
      <img src="img/matalan-logo-responsive.svg" alt="">
    </div>

  </div>

</div>

