<div class="row">

  <div class="col-12@xs">
    <h2>Logo Usage</h2>
  </div>

  <div class="col-12@xs">

    <div class="colspan-4">
      <div class="hidden@lg-down" style="width: 250px; float: left; margin-right: 3em">
        <img src="img/matalan-logo-responsive.svg" alt="">
        <p>Desktop <span class="meta">(250px wide)</span></p>
      </div>
    </div>

    <div class="colspan-4">
      <div class="" style="width: 155px; float: left; margin-right: 3em">
        <img src="img/matalan-logo-responsive.svg" alt="">
        <p>Tablet <span class="meta">(155px wide)</span></p>
      </div>
    </div>

    <div class="colspan-4">
      <div class="" style="width: 130px; float: left; margin-right: 3em">
        <img src="img/matalan-logo-responsive.svg" alt="">
        <p>Mobile <span class="meta">(130px wide)</span></p>
      </div>
    </div>

  </div>

</div>

