<div class="ui-row">
  <div class="col-sm-12">
    <h2>Logo Usage</h2>
  </div>

  <div class="col-sm-12">

    <div class="hidden@lg-down" style="width: 250px; float: left; margin-right: 3em">
      <br>Desktop <span class="meta">(250px wide)</span><br><br>
      <img src="img/matalan-logo-responsive.svg" alt="">
    </div>

    <div class="hidden@md-down hidden@lg-up" style="width: 155px; float: left; margin-right: 3em">
      <br>Tablet <span class="meta">(155px wide)</span><br><br>
      <img src="img/matalan-logo-responsive.svg" alt="">
    </div>

    <div class="hidden@md-up" style="width: 130px; float: left; margin-right: 3em">
    <br><span class="hidden@md-up">Mobile</span> <span class="meta">(130px wide)</span><br><br>
      <img src="img/matalan-logo-responsive.svg" alt="">
    </div>

  </div>

</div>

