<div class="o-minibag-contain">
  <form action="" class="">

    <div data-scroll-responsive="sm" class="o-minibag js-scroll-hold u-scrollbar">


      <div class="o-minibag--header hidden-lg-up">
        <div class="u-cf">
          <h2 class="u-fl">Shopping Bag</h2>
          <a class="o-minibag--close link u-font-ta-c u-fr">
            <i class="icon icon-cross"></i>
          </a>
        </div>
      </div>
      <div class="separator u-mar-0 hidden-lg-up"></div>


      {{> partials/minibag-contents }}


      <div class="o-minibag--footer">
        <ul class="o-minibag--action--contain">
          <li class="separator"></li>

          <li class="o-minibag--list o-minibag--list-total">
            <dl class="o-deflist-2col">
              <dt>Shipping</dt>
              <dd>£2.95</dd>
              <dt>Total Saving</dt>
              <dd>£0.00</dd>
              <dt class="u-font-wb u-mar-t-medium">Sub Total</dt>
              <dd class="u-font-wb u-mar-t-medium">£147.00</dd>
            </dl>
          </li>
          <li class="separator"></li>

          <li class="o-minibag--list o-minibag--list-checkout">
            <div class="callout-panel u-mar-b-large">
              <p>You are
                <span class="u-font-wb">£3.00</span> away from qualifying for
                <span class="u-font-wb">FREE</span> standard home delivery.
              </p>
              <p>Our click &amp; collect service is
                <span class="u-font-wb">FREE</span> whatever your order value.
              </p>
            </div>
            <div class="o-minibag--list-actions">
              <div class="flexer">
                <!-- <a class="c-btn c-btn-secondary col-xs-6 flexer-element u-mar-r-small">View Bag</a> -->
                <a class="c-btn c-btn-secondary col-xs-6 flexer-element">Checkout</a>
              </div>
              <div class="separator__inline-text">
                <span>or</span>
              </div>
              <a class="c-btn c-btn-block c-btn-primary">
              Checkout with
              <img style="vertical-align: middle; height: 24px; margin-left: 0.5em;" src="img/card-paypal.svg">
            </a>
            </div>
          </li>
        </ul>
      </div>


    </div>
  </form>
</div>
