<div class="o-minibag-contain">
  <form action="" class="">

    <div data-scroll-responsive="sm" class="o-minibag js-scroll-hold u-scrollbar">


      <div class="o-minibag--header hidden-lg-up">
        <div class="u-cf">
          <h2 class="u-fl">Shopping Bag</h2>
          <a class="o-minibag--close link u-font-ta-c u-fr">
            <i class="icon icon-cross"></i>
          </a>
        </div>
      </div>
      <div class="separator u-mar-0 hidden-lg-up"></div>


      <div data-scroll-responsive="md+" class="o-minibag--inner js-scroll-hold u-scrollbar">
        <a class="c-btn c-btn-secondary c-btn-block hidden-md-up u-mar-v-large">Checkout</a>
        <div class="u-cf u-mar-b-large hidden-lg-up">
          <p class="u-fl u-pad-v-medium u-mar-0">
            {{minibag.category.collection.products.length}} Items in your bag
          </p>
        </div>
        <ul class="o-minibag--list-contain">
          {{#each minibag.category.collection.products}}
          <li class="o-minibag--list o-minibag--list-item u-cf">
            <div class="o-minibag--list-item--image col-xs-3 col-md-2 col-lg-3 u-pad-0">
              <img class="img" src="{{productImages.[0]}}">
            </div>
            <div class="o-minibag--list-item--detail col-xs-9 col-md-10 col-lg-6 ">
              <p class="detail--description u-font-wb">{{productTitle}}</p>
              <ul class="detail--vars u-pad-b-small list-space__small">
                <li class="list__item">Color:
                  <span class="color-swatch__inline u-bgcolor-cgrey"></span>
                </li>
                <li class="list__item">Size: Small</li>
              </ul>
              <ul class="detail--price list-space__small">
                <li class="list__item">
                  <strong>Price: {{productPrice}}</strong>
                </li>
                <li class="list__item hidden-lg-up">Save: £0.00</li>
              </ul>
            </div>

            <div class="o-minibag--list-item--control col-xs-3 col-xs-offset-3 col-md-5 col-md-offset-0 col-lg-3">
              <select class="o-minibag--control--select selectbox-dropdown__inline hidden-lg-down">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <div class="o-minibag--control--remove">
                <a class="link u-font-no-underline" href="#">
                  <span class="hidden-lg-down">&times;</span> remove</a>
              </div>
            </div>
            <div class="o-minibag--list-item--control o-minibag--list-item--quant col-xs-6 col-md-5 col-lg-3 hidden-lg-up">
              <div class="o-form-input__contain__quantity">
                <a class="c-btn c-btn-primary__alt u-no-underline">-</a>
                <input type="number" class="input--textual" value="1" readonly>
                <a class="c-btn c-btn-primary__alt u-no-underline">+</a>
              </div>
            </div>

          </li>
          {{/ each }}
        </ul>
      </div>


      <div class="o-minibag--footer">
        <ul class="o-minibag--action--contain">
          <li class="separator"></li>

          <li class="o-minibag--list o-minibag--list-total">
            <dl class="o-deflist-2col">
              <dt>Shipping</dt>
              <dd>£2.95</dd>
              <dt>Total Saving</dt>
              <dd>£0.00</dd>
              <dt class="u-font-wb u-mar-t-medium">Sub Total</dt>
              <dd class="u-font-wb u-mar-t-medium">£147.00</dd>
            </dl>
          </li>
          <li class="separator"></li>

          <li class="o-minibag--list o-minibag--list-checkout">
            <div class="callout-panel u-mar-b-large">
              <p>You are
                <span class="u-font-wb">£3.00</span> away from qualifying for
                <span class="u-font-wb">FREE</span> standard home delivery.
              </p>
              <p>Our click &amp; collect service is
                <span class="u-font-wb">FREE</span> whatever your order value.
              </p>
            </div>
            <div class="o-minibag--list-actions">
              <div class="flexer">
                <a class="c-btn c-btn-secondary col-xs-6 flexer-element u-mar-r-small">View Bag</a>
                <a class="c-btn c-btn-secondary col-xs-6 flexer-element">Checkout</a>
              </div>
              <div class="separator__inline-text">
                <span>or</span>
              </div>
              <a class="c-btn c-btn-block c-btn-primary">
              Checkout with
              <img style="vertical-align: middle; height: 24px; margin-left: 0.5em;" src="img/card-paypal.svg">
            </a>
            </div>
          </li>
        </ul>
      </div>


    </div>
  </form>
</div>
