<!-- minibag modal wrapper -->
<div class="modal modal--custom modal--minibag o-bag-contain" id="minibag-contain">

  <form action="" class="modal-dialog">

    <!-- <div class="modal-content o-bag u-scrollbar"> -->
    <div data-scroll-responsive="sm" class="modal-content o-bag js-scroll-hold u-scrollbar">

      <div class="modal-header o-bag--header hidden@lg-up">
        <div class="u-cf">
          <h4 class="u-fl u-mar-v-small">Shopping Bag</h4>
          <a class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-ui-cross"></i>
          </a>
        </div>
      </div>

      <div class="o-bag--inner modal-body u-scrollbar">
        {{> partials/minibag-contents }}
      </div>

      <div class="o-bag--footer">
        <ul class="o-bag--action--contain">

          <li class="separator hidden@lg-up"></li>

          <li class="o-bag--list-actions hidden@lg-up">
            <form action="" class="o-form--default c-search-form">
              <div class="o-form__row u-pad-v-0">
                <div class="o-form__label-contain">
                  <label class="o-form__label-primary u-font-upper">Promo Code</label>
                </div>
              </div>
              <div class="o-form__row u-pad-v-small">
                <div class="o-form__input-contain o-form--input-pack o-form--input-pack--styled o-form__input--icon">
                  <input type="text" name="searchTerm" minlength="3" placeholder="Enter code" required
                    class="o-input o-input--textual input-addon--expand" pattern=".{3,}" title="3 characters minimum">
                  <div class="input-group__btn">
                    <button class="c-btn c-btn-secondary" href="">Apply Code</button>
                  </div>
                  <i class="icon icon-reward-card"></i>
                </div>
              </div>
            </form>
          </li>

          <li class="separator u-pad-t-0"></li>

          <li class="o-bag--list-total">
            <dl class="o-deflist-right">
              <dt>Shipping</dt>
              <dd>£2.95</dd>
              <dt class="u-color-pri">Total Saving</dt>
              <dd class="u-color-pri">£0.00</dd>
              <dt class="u-font-wb u-mar-t-small">Sub Total</dt>
              <dd class="u-font-wb u-mar-t-small">£147.00</dd>
            </dl>
          </li>

          <li class="separator"></li>

          <li class="o-bag--list-checkout">
            <div class="callout-panel u-mar-b-small">
              <p>You are
                <span class="u-font-wb u-color-pri">£3.00</span> away from qualifying for
                <span class="u-font-wb u-color-pri">FREE</span> standard home delivery.
              </p>
              <p class="u-mar-b-0">Our click &amp; collect service is
                <span class="u-font-wb u-color-pri">FREE</span> whatever your order value.
              </p>
            </div>
            <div class="o-bag--list-actions">
              <div class="flexer">
                <a href="/mybag.html" class="c-btn c-btn-secondary col-6@lg hidden@md-down flexer-element u-mar-r-small u-font-upper">View Bag</a>
                <a href="/checkout1.html" class="c-btn c-btn-secondary col-12@xs col-6@lg flexer-element u-font-upper">Checkout</a>
              </div>
              <div class="separator__inline-text">
                <span>or</span>
              </div>
              <a class="c-btn--block u-font-ta-c">
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
              </a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </form>
</div>
