<div class="u-cf">
  <h5 class="u-font-upper u-fl">Shopping Bag</h5>
</div>
<div class="u-cf">
  <div data-scroll-responsive="sm+" class="o-minibag--inner js-scroll-hold u-scrollbar">
  {{> partials/minibag-contents }}
  </div>
</div>

<div class="separator"></div>

<div class="o-accord__container">
  <div class="o-form__row">
    <div class="o-form__label-contain">
      <label class="o-form__label-primary u-font-upper">
        <a class="btn btn-primary collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false">
          Got a promo code?
          <i class="icon icon-plus icon--vertical-right"></i>
          <i class="icon icon-minus icon--vertical-right"></i>
        </a>
      </label>
    </div>
  </div>

  <div class="collapse" id="collapseExample">
    <form action="" class="o-form o-form--inline">
      <div class="o-form__row">
        <div class="row">
          <div class="col-6@xs">
            <div class="o-form__input-contain">
              <input type="text" class="o-input o-input--textual" placeholder="Got a Promo Code?">
            </div>
          </div>
          <div class="col-5@xs">
            <a class="c-btn c-btn--block c-btn-primary u-font-upper">Apply Code</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="separator"></div>

<dl class="o-deflist-right">
  <dt>Shipping</dt>
  <dd>&pound;0.00</dd>
  <dt>Total Savings</dt>
  <dd>&pound;0.00</dd>
  <dt>Subtotal</dt>
  <dd>&pound;0.00</dd>
</dl>
