
    <ul class="o-minibag--list-contain">
      <li class="o-minibag--list o-minibag--list-item u-cf">
        <div class="o-minibag--list-item--image col-3@xs col-2@md col-3@lg u-pad-0">
          <img class="img" src="./img-assets/search-5.jpg">
        </div>
        <div class="o-minibag--list-item--detail col-9@xs col-10@md col-6@lg ">
          <p class="detail--description u-font-wb">Product 1</p>
          <ul class="detail--vars u-pad-b-small list-space__small">
            <li class="list__item">Color:
              <span class="color-swatch__inline u-bgcolor-cgrey"></span>
            </li>
            <li class="list__item">Size: Small</li>
          </ul>
          <ul class="detail--price list-space__small">
            <li class="list__item">
              <strong>Price: 10.99</strong>
            </li>
            <li class="list__item hidden@lg-up">Save: £0.00</li>
          </ul>
        </div>

      </li>
    </ul>
            <div class="collapse in u-mar-t-medium u-pad-b-0" role="tabpanel">
          <div class="island">
            <p>We're sorry but the above items are not in stock and have been removed from your bag.

            <!-- button 2, gets its triggers from the data attributes -->
            <a href="#minibag--panel1" data-toggle="collapse">Click here</a>
            to register your email address and we'll let you know when they are available.</p>

            <!-- panel 2 -->
              <div id="minibag--panel1" class="collapse u-pad-b-0" role="tabpanel">
                <form class="o-form o-form--default" action="">
                <div class="row">
                  <div class="col-12@xs col-12@lg">

                    <div class="o-form__row u-pad-v-small">
                      <div class="o-form__label-contain">
                        <label class="o-form__label-primary">Full name:</label>
                      </div>

                      <div class="o-form__input-contain">
                        <input type="text" class="o-input o-input--textual" placeholder="Full Name" required="">
                        <span class="input__required">*</span>
                      </div>

                    </div>
                  </div>
                  <div class="col-12@xs col-12@lg">
                    <div class="o-form__row u-pad-v-small">
                      <div class="o-form__label-contain">
                    <!--     <i tabindex="0" class="icon icon-information" role="button" data-toggle="popover"
                          data-trigger="focus" title="" data-content="And here's some amazing content. It's very engaging. Right?"
                          data-original-title="Dismissible popover"></i> -->
                        <label class="o-form__label-primary">Email: </label>
                      </div>

                      <div class="o-form__input-contain">
                        <input type="text" class="o-input o-input--textual" placeholder="Email address" required="">
                        <span class="input__required">*</span>
                      </div>

                    </div>
                  </div>

                  <div class="col-12@xs col-12@lg">
                  <div class="o-form__row u-pad-v-small">

                      <div class="o-form__input-contain">
                        <button type="submit" form="createAccountForm" class="c-btn c-btn-tertiary c-btn--block">Let&nbsp;me&nbsp;know</button>
                      </div>

                    </div>

                  </div>
                </div>
                </form>
              </div>
            <!-- panel 2 end -->
           </div>
        </div>
