<div class="o-minibag-contain">
  <div class="o-minibag">

    <div class="o-minibag--header hidden-lg-up">
      <div class="u-cf">
        <h2 class="u-fl">Shopping Bag</h2>
        <a class="o-minibag--close link u-font-ta-c u-fr">
          <i class="icon-ui-plus rotate-icon-45"></i>
          <div class="">Close</div>
        </a>
      </div>
      <div class="separator u-mar-0"></div>
    </div>


    <div class="o-minibag--inner">
      <div class="u-cf u-mar-b-large">
        <p class="u-fl u-pad-v-medium u-mar-0">
          x Items in your bag
        </p>
        <a class="c-btn c-btn-primary u-fr">Edit</a>
      </div>
      <ul class="o-minibag--list-contain">
        {{# times 8 }}
        <li class="o-minibag--list o-minibag--list-item u-cf">
          <div class="o-minibag--list-item--image col-xs-3 col-md-2 col-lg-3 u-pad-0">
            <img src="http://placehold.it/136x190">
          </div>
          <div class="o-minibag--list-item--detail col-xs-9 col-md-10 col-lg-6 u-pad-h-small">
            <p class="detail--description u-font-wb">{{this}} Product name to go here on a few lines for space</p>
            <ul class="detail--vars u-pad-b-small">
              <li>Color</li>
              <li>Size: val</li>
            </ul>
            <ul class="detail--price">
              <li>Price: £XX.xx</li>
              <li>Save: £XX.xx</li>
            </ul>
          </div>
          <div class="o-minibag--list-item--control col-md-10 col-lg-3 hidden-sm-down">
            <select class="o-minibag--control--select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <div class="o-minibag--control--remove">&times; remove</div>
          </div>
        </li>
        {{/ times }}
      </ul>
    </div>


    <div class="o-minibag--footer">
      <ul class="o-minibag--action--contain">
        <li class="separator"></li>
        <li class="o-minibag--list o-minibag--list-total">
          <dl class="o-deflist-2col">
            <dt>Shipping</dt>
            <dd>£xx.xx</dd>
            <dt>Total Saving</dt>
            <dd>£xx.xx</dd>
            <dt class="u-font-wb u-mar-t-medium">Sub Total</dt>
            <dd class="u-font-wb u-mar-t-medium">£xx.xx</dd>
          </dl>
        </li>
        <li class="separator"></li>
        <li class="o-minibag--list o-minibag--list-checkout">
          <div class="callout-panel u-mar-b-large">
            <p>You are
              <span class="u-font-wb">£xx.xx</span> away from qualifying for
              <span class="u-font-wb">FREE</span> standard home delivery.</p>
            <p>Our click &amp; collect service is
              <span class="u-font-wb">FREE</span> whatever your order value.</p>
          </div>
          <div class="o-minibag--list-actions">
            <div class="flexer">
              <a class="c-btn c-btn-secondary col-xs-6 flexer-element u-mar-r-small">View Bag</a>
              <a class="c-btn c-btn-secondary col-xs-6 flexer-element">Checkout</a>
            </div>
            <div class="sep">or</div>
            <a class="c-btn c-btn-primary">Checkout with Paypal</a>
          </div>
        </li>
      </ul>
    </div>


  </div>
</div>
