  <div class="o-bag--inner">

    <a class="c-btn c-btn--secondary c-btn--block hidden@md-up u-mar-v-large">Checkout</a>

    <div class="u-cf u-mar-b-large hidden@lg-up">
      <p class="u-fl u-pad-v-medium u-mar-0">
        {{minibag.category.collection.products.length}} Items in your bag
      </p>
    </div>


    <ul class="o-bag--list-contain">
      {{#each minibag.category.collection.products}}

      <li class="o-bag--list-item u-cf">

        <div class="o-bag--list-item--image col-3@xs col-2@md col-3@lg u-pad-0">
          <img class="img" src="{{productImages.[0]}}">
        </div>

        <div class="o-bag--list-item--detail col-9@xs col-10@md col-6@lg ">
          <p class="detail--description u-font-wb">{{productTitle}}</p>
          <ul class="detail--vars u-pad-b-small list-space__small">
            <li class="list__item">Color:
              <span class="color-swatch__inline u-bgcolor-cgrey"></span>
            </li>
            <li class="list__item">Size: Small</li>
          </ul>
          <ul class="detail--price">
            <li class="list__item">
              <strong>Price: {{productPrice}}</strong>
            </li>
            <li class="list__item hidden@lg-up">Save: £0.00</li>
          </ul>
        </div>

        <div class="o-bag--list-item--control o-bag--list-item--quant col-9@xs col-10@md hidden@lg-up u-fr">
            <div class="o-bag--control--remove col-4@xs u-pad-0">
              <a class="c-btn c-btn--tertiary--alt u-font-no-underline" href="#">
                <span class="hidden@lg-down">&times;</span> remove</a>
            </div>
            <div class="o-form__input-contain o-form__input-contain--quantity col-8@xs u-pad-0 u-font-ta-r">
              <a class="c-btn c-btn--primary u-font-no-underline js-remove-item">-</a>
              <span class="o-input--textual js-item-count">1</span>
              <input type="hidden" class="o-input o-input--textual u-pad-h-0 u-font-ta-r" value="1" readonly>
              <a class="c-btn c-btn--primary u-font-no-underline js-add-item">+</a>
            </div>
        </div>

      </li>

      {{/ each }}
    </ul>


  </div>
