
<div class="modal modal--custom modal--minibag o-minibag-contain" id="minibag-contain">
  <form action="" class="modal-dialog">

    <div data-scroll-responsive="sm" class="modal-content o-minibag u-scrollbar">

      <div class="modal-header o-minibag--header hidden@lg-up">
        <div class="u-cf">
          <h3 class="u-fl u-mar-v-small">Shopping Bag</h3>
          <a class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-ui-cross"></i>
          </a>
        </div>
      </div>
      <div data-scroll-responsive="md+" class="o-minibag--inner modal-body js-scroll-hold u-scrollbar">
        {{> partials/minibag-contents }}
      </div>

      <div class="o-minibag--footer">
        <ul class="o-minibag--action--contain">
          <li class="separator hidden@lg-up"></li>
          <li class="o-minibag--list-actions hidden@lg-up">
            <!-- <form action="" class="o-form--default c-search-form"> -->
              <div class="o-form__row u-pad-v-0">
                <div class="o-form__label-contain">
                  <label class="o-form__label-primary u-font-upper">Promo Code</label>
                </div>
              </div>
              <div class="o-form__row u-pad-v-small">
                <div class="o-form__input-contain o-form--input-pack o-form--input-pack--styled o-form__input--icon">
                  <input type="text" name="searchTerm" minlength="3" required
                  class="o-input o-input--textual input-addon--expand"
                  placeholder="Enter code"
                  pattern=".{3,}" title="3 characters minimum">
                  <div class="input-group__btn">
                    <button class="c-btn c-btn-secondary" href="">Apply Code</button>
                  </div>
                  <i class="icon icon-reward-card"></i>
                </div>
              </div>
            <!-- </form> -->
          </li>
          <li class="separator"></li>

          <li class="o-minibag--list o-minibag--list-total">
            <dl class="o-deflist-right">
              <dt>Shipping</dt>
              <dd>£2.95</dd>
              <dt>Total Saving</dt>
              <dd>£0.00</dd>
              <dt class="u-font-wb u-mar-t-small">Sub Total</dt>
              <dd class="u-font-wb u-mar-t-small">£147.00</dd>
            </dl>
          </li>

          <li class="separator"></li>

          <li class="o-minibag--list o-minibag--list-checkout">

            <div class="callout-panel u-mar-b-small">
              <p>You are
                <span class="u-font-wb">£3.00</span> away from qualifying for
                <span class="u-font-wb">FREE</span> standard home delivery.
              </p>
              <p class="u-mar-b-0">Our click &amp; collect service is
                <span class="u-font-wb">FREE</span> whatever your order value.
              </p>
            </div>




            <div class="o-minibag--list-actions">
              <div class="flexer">
                <a class="c-btn c-btn-secondary col-6@lg hidden@md-down flexer-element u-mar-r-small u-font-upper">View Bag</a>
                <a class="c-btn c-btn-secondary col-12@xs col-6@lg flexer-element u-font-upper">Checkout</a>
              </div>
              <div class="separator__inline-text">
                <span>or</span>
              </div>
              <a class="c-btn--block u-font-ta-c">
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
              </a>
            </div>

          </li>
        </ul>
      </div>

    </div>
  </form>
</div>
