<!-- Example Module Markup -->

<div class="module">

  <!-- optional -->
  <div class="module--header"></div>
  <!-- / optional -->

  <div class="module--inner">
    <div class="module--inner--hd">
      <h3>header</h3>
    </div>
    <div class="module--inner--bd">
      <p>body</p>
    </div>
    <div class="module--inner--ft">
      <p>foot</p>
    </div>
  </div>

  <!-- optional -->
  <div class="module--footer"></div>
  <!-- / optional -->

</div>
