<div class="o-mybag">
  <div class="o-mybag--header hidden-lg-up">
    <h2>Shopping Bag</h2>
  </div>
  <div class="o-mybag--inner">
    <ul class="o-mybag--list-contain">
      {{# times 3 }}
      <li class="o-mybag--list o-mybag--list-item u-cf">
        <div class="o-mybag--list-item--image col-xs-3 col-md-2 col-lg-3 u-pad-0">
          <img src="http://placehold.it/60x120">
        </div>
        <div class="o-mybag--list-item--detail col-xs-6 col-md-10 col-lg-6 u-pad-h-small">
          <p class="detail--description u-font-small">Product name to go here on a few lines for space</p>
          <ul class="detail--vars u-font-smaller">
            <li>Color</li>
            <li>Size: val</li>
          </ul>
          <ul class="detail--price u-font-smaller">
            <li>Price: £XX.xx</li>
            <li>Save: £XX.xx</li>
          </ul>
        </div>
        <div class="o-mybag--list-item--control col-xs-3 col-md-4 col-lg-3 col-md-offset-6 col-lg-offset-0 u-pad-0">
          <select class="mybag--control--select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
          <div class="mybag--control--remove">&times; remove</div>
        </div>
      </li>
      {{/ times }}
    </ul>
  </div>
  <div class="o-mybag--footer">
    <ul class="o-mybag--action--contain">
      <li class="separator"></li>
      <li class="o-mybag--list o-mybag--list-total">
        <dl class="deflist-2col">
          <dt>Shipping</dt>
          <dd>£xx.xx</dd>
          <dt>Total Saving</dt>
          <dd>£xx.xx</dd>
          <dt class="u-font-wb u-mar-t-medium">Sub Total</dt>
          <dd class="u-font-wb u-mar-t-medium">£xx.xx</dd>
        </dl>
      </li>
      <li class="separator"></li>
      <li class="o-mybag--list o-mybag--list-checkout">
        <div class="callout u-mar-b-large">
          <p>You are
            <span class="u-font-wb">£xx.xx</span> away from qualifying for
            <span class="u-font-wb">FREE</span> standard home delivery.</p>
          <p>Our click &amp; collect service is
            <span class="u-font-wb">FREE</span> whatever your order value.</p>
        </div>
        <div class="o-mybag--list-actions">
          <div class="flexer">
            <a class="c-btn c-btn-secondary col-xs-6 flexer-element u-mar-r-small">View Bag</a>
            <a class="c-btn c-btn-secondary col-xs-6 flexer-element">Checkout</a>
          </div>
          <div class="sep">or</div>
          <a class="c-btn c-btn-primary">Checkout with Paypal</a>
        </div>
      </li>
    </ul>
  </div>
</div>
