<div class="ui-row">
  <div class="col-sm-12">
    <h2>Breadcrumbs</h2>
    <p>Site navigation and location.</p>
  </div>
  <div class="col-sm-12">
    <h3>Breadcrumbs Bar</h3>
    <hr>
    <ul class="c-breadcrumb-bar">
      <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
    </ul>

    <ul class="c-breadcrumb-bar">
      <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
    </ul>


    <ul class="c-breadcrumb-bar">
      <li class="c-breadcrumb-bar__item has-link hover"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
    </ul>

    <pre>
      <code class="HTML">//breadcrumbs<br />
        &lt;ul class=&quot;c-breadcrumb-bar&quot;&gt;<br />
        &nbsp; &lt;li class=&quot;c-breadcrumb-bar__item has-link&quot;&gt;&lt;a&nbsp;href=&quot;&quot;&gt;Breadcrumb&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;c-breadcrumb-bar__item has-link&quot;&gt;&lt;a&nbsp;href=&quot;&quot;&gt;Breadcrumb&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;c-breadcrumb-bar__item has-link&quot;&gt;&lt;a&nbsp;href=&quot;&quot;&gt;Breadcrumb&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;c-breadcrumb-bar__item no-link&quot;&gt;Breadcrumb&lt;/li&gt;<br />
        &lt;/ul&gt;
      </code>
    </pre>

  </div>
</div>

