<div class="row">
  <div class="col-xs-12">

    <nav class="c-navbar-container" data-app="accessible-navmenu">
      <ul class="accessible-navmenu c-navbar">

        <li class="navbar--header">
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon-location"></i>
            <span>Store</span>
          </a>
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon-user"></i>
            <span>Account</span>
          </a>
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon-ui-plus rotate-icon-45 "></i>
            <span>Close</span>
          </a>
        </li>

        <li class="navbar--top-item">
          <a class="link" href="#">
            Section 0
            <span class="nav-menu-icons u-fr">
              <span><i class="icon-ui-minus"></i></span>
              <span><i class="icon-ui-plus"></i></span>
              <span><i class="icon-ui-gt"></i></span>
            </span>
          </a>
          <div class="sub-nav">
            <h2 class="sub-nav-header">Section Header</h2>
            <div class="sub-nav--group--container">
              {{# times 6}}
              <ul class="sub-nav-group">
                {{# times 2}}
                <li class="sub-nav-title">
                  <a class="link" href="">
                    Category {{this}}
                    <span class="nav-menu-icons u-fr">
                      <span><i class="icon-ui-minus"></i></span>
                      <span><i class="icon-ui-plus"></i></span>
                      <span><i class="icon-ui-gt"></i></span>
                    </span>
                  </a>
                  {{# timesrand 2 6}}
                  <li class="sub-nav-item">
                    <a class="link" href="">
                      Collection {{this}}
                      <span class="nav-menu-icons u-fr">
                        <span><i class="icon-ui-gt"></i></span>
                      </span>
                    </a>
                  </li>
                  {{/ timesrand }}
                </li>
                {{/ times }}
              </ul>
              {{/ times }}
              <ul class="sub-nav-group sub-nav-group__image">
                <li><img src="http://placehold.it/150x350"></li>
              </ul>
            </div>
          </div>
        </li>


        {{# times 10}}
        <li class="navbar--top-item">
          <a class="link" href="#">
            Section {{this}}
            <span class="nav-menu-icons u-fr">
              <span><i class="icon-ui-minus"></i></span>
              <span><i class="icon-ui-plus"></i></span>
              <span><i class="icon-ui-gt"></i></span>
            </span>
          </a>
          <div class="sub-nav">
            <h2 class="sub-nav-header">Section Header</h2>
            <div class="sub-nav--group--container">
              {{# times 6}}
              <ul class="sub-nav-group">
                {{# times 2}}
                <li class="sub-nav-title">
                  <a class="link" href="">
                    Category
                    <span class="nav-menu-icons u-fr">
                      <span><i class="icon-ui-minus"></i></span>
                      <span><i class="icon-ui-plus"></i></span>
                      <span><i class="icon-ui-gt"></i></span>
                    </span>
                  </a>
                  {{# timesrand 2 6}}
                  <li class="sub-nav-item">
                    <a class="link" href="">
                    Collection
                    <span class="nav-menu-icons u-fr">
                      <span><i class="icon-ui-gt"></i></span>
                    </span>
                    </a>
                  </li>
                  {{/ timesrand }}
                  {{/ times }}
                </li>
              </ul>
              {{/ times }}
              <ul class="sub-nav-group sub-nav-group__image">
                <li><img src="http://placehold.it/150x350"></li>
              </ul>
            </div>
          </div>
        </li>
        {{/ times }}

        <li class="navbar--footer">
          <a class="link u-font-ta-c">
            <span>Delivery</span>
          </a>
          <a class="link u-font-ta-c">
            <span>Returns</span>
          </a>
          <a class="link u-font-ta-c">
            <span>Contact</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</div>

<!-- include jquery -->
<script src='//code.jquery.com/jquery-2.1.4.min.js'></script>
<!-- include the jquery-accessibleMegaMenu plugin script -->
<script src="/js/menu-accessible.js"></script>
<script src="/js/off-canvas.js"></script>

