<div class="ui-row">

  <div class="ui-grid-left">
    <h3>Navbar <small>(6-components/_c-navbar.scss)</small></h3>
    <p>Navbars are static (not fixed to the top) and include support for a project name and basic navigation. Place one anywhere within a .container, which sets the width of your site and content.</p>
  </div>

  <div class="ui-grid-right">
    <ul class="c-navbar">
      <li class="navbar--list-item"><a class="" href="">Category 1</a></li>
      <li class="navbar--list-item"><a class="active" href="">Category 2</a></li>
      <li class="navbar--list-item"><a class="" href="">Category 3</a></li>
      <li class="navbar--list-item"><a class="" href="">Category 4</a></li>
      <li class="navbar--list-item"><a class="" href="">Category 5</a></li>
      <li class="navbar--list-item"><a class="" href="">Category 6</a></li>
    </ul>
    <pre>
      <code class="HTML">//Horizontal Navbar<br />
        &lt;ul class=&quot;c-navbar&quot;&gt;<br />
        &nbsp; &lt;li class=&quot;navbar--list-item&quot;&gt;&lt;a&nbsp;class=&quot;&quot;href=&quot;&quot;&gt;Category&nbsp;1&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;navbar--list-item&quot;&gt;&lt;a&nbsp;class=&quot;active&quot;&nbsp;href=&quot;&quot;&gt;Category&nbsp;2&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;navbar--list-item&quot;&gt;&lt;a&nbsp;class=&quot;&quot;&nbsp;href=&quot;&quot;&gt;Category&nbsp;3&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;navbar--list-item&quot;&gt;&lt;a&nbsp;class=&quot;&quot;&nbsp;href=&quot;&quot;&gt;Category&nbsp;4&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;navbar--list-item&quot;&gt;&lt;a&nbsp;class=&quot;&quot;&nbsp;href=&quot;&quot;&gt;Category&nbsp;5&lt;/a&gt;&lt;/li&gt;<br />
        &nbsp; &lt;li class=&quot;navbar--list-item&quot;&gt;&lt;a&nbsp;class=&quot;&quot;&nbsp;href=&quot;&quot;&gt;Category&nbsp;6&lt;/a&gt;&lt;/li&gt;<br />
        &lt;/ul&gt;
      </code>
    </pre>
  </div>

</div>
