<div class="ui-row">
  <div class="col-12@sm">
    <h2>Tabs &amp; Pills<small>(..)</small></h2>
    <p>Tabs and pills are horizontal by default, just add a second class, .nav-stacked, to make them appear vertically stacked.</p>
  </div>
  <div class="col-12@sm">

    <!-- pills horizontal -->
    <h4>Pills Horizontal</h4>
    <div class="c-section c-section__pills c-section__pills__horizontal">
      <ul class="c-section--header">
        <li role="presentation" class="c-section--header--item"><a href="#home" role="tab">Home</a></li>
        <li role="presentation" class="c-section--header--item active"><a href="#profile" role="tab">Profile</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#messages" role="tab">Messages</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#settings" role="tab">Settings</a></li>
      </ul>
      <div class="c-section--content">
        <div role="tabpanel" class="c-section--content__pane" id="home">Pills Horizontal. consectetur adipisicing elit. Reiciendis temporibus dolores at ut maiores.</div>
        <div role="tabpanel" class="c-section--content__pane" id="profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia quibusdam odio iusto alias dolore.</div>
        <div role="tabpanel" class="c-section--content__pane" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil, ducimus quaerat quae, suscipit.</div>
        <div role="tabpanel" class="c-section--content__pane" id="settings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus sed non voluptas placeat.</div>
      </div>
    </div>

    <hr>

    <!-- pills vertical -->
    <h4>Pills Vertical</h4>
    <div class="c-section c-section__pills c-section__pills__vertical">
      <ul class="c-section--header">
        <li role="presentation" class="c-section--header--item"><a href="#home" role="tab">Home</a></li>
        <li role="presentation" class="c-section--header--item active"><a href="#profile" role="tab">Profile</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#messages" role="tab">Messages</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#settings" role="tab">Settings</a></li>
      </ul>
      <div class="c-section--content">
        <div role="tabpanel" class="c-section--content__pane" id="home">Pills Horizontal. consectetur adipisicing elit. Reiciendis temporibus dolores at ut maiores.</div>
        <div role="tabpanel" class="c-section--content__pane" id="profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia quibusdam odio iusto alias dolore.</div>
        <div role="tabpanel" class="c-section--content__pane" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil, ducimus quaerat quae, suscipit.</div>
        <div role="tabpanel" class="c-section--content__pane" id="settings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus sed non voluptas placeat.</div>
      </div>
    </div>

    <hr>

    <!-- tabs horizontal -->
    <h4>Tabs Horizontal</h4>
    <div class="c-section c-section__tab c-section__tab__horizontal">
      <ul class="c-section--header">
        <li role="presentation" class="c-section--header--item"><a href="#home" role="tab">Home</a></li>
        <li role="presentation" class="c-section--header--item active"><a href="#profile" role="tab">Profile</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#messages" role="tab">Messages</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#settings" role="tab">Settings</a></li>
      </ul>
      <div class="c-section--content">
        <div role="tabpanel" class="c-section--content__pane" id="home">Tabs Horizontal. consectetur adipisicing elit. Reiciendis temporibus dolores at ut maiores.</div>
        <div role="tabpanel" class="c-section--content__pane" id="profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia quibusdam odio iusto alias dolore.</div>
        <div role="tabpanel" class="c-section--content__pane" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil, ducimus quaerat quae, suscipit.</div>
        <div role="tabpanel" class="c-section--content__pane" id="settings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus sed non voluptas placeat.</div>
      </div>
    </div>

    <hr>

    <!-- tabs vertical -->
    <h4>Tabs Vertical</h4>
    <div class="c-section c-section__tab c-section__tab__vertical">
      <ul class="c-section--header">
        <li role="presentation" class="c-section--header--item"><a href="#home" role="tab">Home</a></li>
        <li role="presentation" class="c-section--header--item active"><a href="#profile" role="tab">Profile</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#messages" role="tab">Messages</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#settings" role="tab">Settings</a></li>
      </ul>
      <div class="c-section--content">
        <div role="tabpanel" class="c-section--content--pane" id="home">Tabs Vertical. consectetur adipisicing elit. Reiciendis temporibus dolores at ut maiores. </div>
        <div role="tabpanel" class="c-section--content--pane" id="profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia quibusdam odio iusto alias dolore </div>
        <div role="tabpanel" class="c-section--content--pane" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil, ducimus quaerat quae, suscipit </div>
        <div role="tabpanel" class="c-section--content--pane" id="settings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus sed non voluptas placeat </div>
      </div>
    </div>

    <hr>

    <!-- tabs vertical inverted -->
    <h4>Tabs Vertical (inverted)</h4>
    <div class="c-section c-section__tab c-section__tab__vertical">
      <ul class="c-section--header c-section--header__inverted">
        <li role="presentation" class="c-section--header--item"><a href="#home" role="tab">Home</a></li>
        <li role="presentation" class="c-section--header--item active"><a href="#profile" role="tab">Profile</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#messages" role="tab">Messages</a></li>
        <li role="presentation" class="c-section--header--item"><a href="#settings" role="tab">Settings</a></li>
      </ul>
      <div class="c-section--content">
        <div role="tabpanel" class="c-tabs--content--pane" id="home">Tabs vertical inverted. Consectetur adipisicing elit. Reiciendis temporibus dolores at ut maiores. </div>
        <div role="tabpanel" class="c-tabs--content--pane" id="profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia quibusdam odio iusto alias dolore </div>
        <div role="tabpanel" class="c-tabs--content--pane" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil, ducimus quaerat quae, suscipit </div>
        <div role="tabpanel" class="c-tabs--content--pane" id="settings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus sed non voluptas placeat </div>
      </div>
    </div>

  </div>
</div>
