<div class="ui-row">

  <div class="ui-grid-left">
    <h3>Navbar <small>(6-components/_c-navbar.scss)</small></h3>
    <p>Navbars are static (not fixed to the top) and include support for a project name and basic navigation. Place one anywhere within a .container, which sets the width of your site and content.</p>
  </div>

  <div class="ui-grid-right">
    <ul class="c-navbar">
      <li><a class="" href="">Category 1</a></li>
      <li><a class="active" href="">Category 2</a></li>
      <li><a class="" href="">Category 3</a></li>
      <li><a class="" href="">Category 4</a></li>
      <li><a class="" href="">Category 5</a></li>
      <li><a class="" href="">Category 6</a></li>
    </ul>
  </div>

</div>
