<div class="row">
  <div class="col-12@xs">
    <h2>Breadcrumbs</h2>
    <p>Site navigation and location.</p>
  </div>
  <div class="col-12@xs">
    <h3>Breadcrumbs Bar</h3>
    <hr>
    <ul class="c-breadcrumb-bar">
      <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
    </ul>

    <ul class="c-breadcrumb-bar">
      <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
    </ul>


    <ul class="c-breadcrumb-bar">
      <li class="c-breadcrumb-bar__item has-link hover"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item has-link"><a href="">Breadcrumb</a></li>
      <li class="c-breadcrumb-bar__item no-link">Breadcrumb</li>
    </ul>

  </div>
</div>

