<div class="col-xs-12">

  <i class="nav-mobile-button icon-menu"><span>Menu</span></i>

  <nav class="c-navbar-container" data-app="accessible-navmenu">
    <ul class="accessible-navmenu c-navbar">

      <li class="navbar--header">
        <a class="u-fl">
          <i class="nav-mobile-button icon-menu"></i>
        </a>
        <a class="u-fl">
          <i class="nav-mobile-button icon-menu"></i>
        </a>
        <a class="u-fl">
          <i class="nav-mobile-button icon-menu"></i>
        </a>
      </li>

      <li class="navbar--top-item">
        <a class="link" href="#">
          Section 0
          <span class="nav-menu-icons u-fr">
            <span><i class="icon-ui-minus"></i></span>
            <span><i class="icon-ui-plus"></i></span>
            <span><i class="icon-ui-gt"></i></span>
          </span>
        </a>
        <div class="sub-nav">
          <h2 class="sub-nav-header">Section Header</h2>
          <div class="sub-nav--group--container">
            {{# times 6}}
            <ul class="sub-nav-group">
              {{# times 2}}
              <li class="sub-nav-title">
                <a class="link" href="">
                  Category {{this}}
                  <span class="nav-menu-icons u-fr">
                    <span><i class="icon-ui-minus"></i></span>
                    <span><i class="icon-ui-plus"></i></span>
                    <span><i class="icon-ui-gt"></i></span>
                  </span>
                </a>
                {{# timesrand 2 6}}
                <li class="sub-nav-item"><a class="link" href="">Collection {{this}}</a></li>
                {{/ timesrand }}
              </li>
              {{/ times }}
            </ul>
            {{/ times }}
            <ul class="sub-nav-group sub-nav-group__image">
              <li><img src="http://placehold.it/150x350"></li>
            </ul>
          </div>
        </div>
      </li>


      {{# times 10}}
      <li class="navbar--top-item">
        <a class="link" href="#">
          Section {{this}}
          <span class="nav-menu-icons u-fr">
            <span><i class="icon-ui-minus"></i></span>
            <span><i class="icon-ui-plus"></i></span>
            <span><i class="icon-ui-gt"></i></span>
          </span>
        </a>
        <div class="sub-nav">
          <h2 class="sub-nav-header">Section Header</h2>
          <div class="sub-nav--group--container">
            {{# times 6}}
            <ul class="sub-nav-group">
              {{# times 2}}
              <li class="sub-nav-title">
                <a class="link" href="">
                  Category
                  <span class="nav-menu-icons u-fr">
                    <span><i class="icon-ui-minus"></i></span>
                    <span><i class="icon-ui-plus"></i></span>
                    <span><i class="icon-ui-gt"></i></span>
                  </span>
                </a>
                {{# timesrand 2 6}}
                <li class="sub-nav-item"><a class="link" href="">Collection</a></li>
                {{/ timesrand }}
              {{/ times }}
              </li>
            </ul>
            {{/ times }}
            <ul class="sub-nav-group sub-nav-group__image">
              <li><img src="http://placehold.it/150x350"></li>
            </ul>
          </div>
        </div>
      </li>
      {{/ times }}
    </ul>
  </nav>
</div>
<!-- include jquery -->
<script src='//code.jquery.com/jquery-2.1.4.min.js'></script>
<!-- include the jquery-accessibleMegaMenu plugin script -->
<script src="/js/menu-accessible.js"></script>
<!-- initialize a selector as an accessibleMegaMenu -->
<script>
  $("[data-app~=accessible-navmenu]").accessibleMegaMenu({
    /* prefix for generated unique id attributes, which are required to indicate aria-owns, aria-controls and aria-labelledby */
    uuidPrefix: "accessible-menu",
    menuClass: "c-navbar",
    topNavItemClass: "navbar--top-item",
    panelClass: "sub-nav",
    panelGroupClass: "sub-nav-group",
    hoverClass: "hover",
    focusClass: "focus",
    openClass: "open"
  });

  $('nav a').on('click', function(e) {
    e.preventDefault();
  })

  var parentNavMenu = $('[data-app="accessible-navmenu"]')

  parentNavMenu.on('click', '.navbar--top-item > a', function(e){
    e.preventDefault();
    if (!$(this).hasClass('open')) {
      parentNavMenu.find('.open').removeClass('open');
    }
    $(this).toggleClass('open').next('.sub-nav').toggleClass('open');
  })

  parentNavMenu.on('click', '.sub-nav-title', function(e){
    e.preventDefault();
    if (!$(this).hasClass('open')) {
      $(this).closest('.sub-nav').find('.open').removeClass('open');
    }
    $(this).find('.link').toggleClass('open');
    $(this).toggleClass('open').nextUntil('.sub-nav-title').toggleClass('open');
  });

  parentNavMenu.on('click', '.icon-ui-gt', function(e){
    e.stopPropagation();
    console.log($(this).closest('a').attr('href'));
    // alert('target link', $(this).closest('a').attr('href'))
  });

</script>
