<div class="ui-row">

  <div class="col-12@sm">
    <h2>Pagination
      <small>(..)</small>
    </h2>
    <p>Simple pagination inspired by Rdio, great for apps and search results.</p>
    <p>Previous and next links for pagination.</p>
  </div>

  <div class="col-12@sm">

    <div class="c-pagination-bar__wide">
      <div class="c-pagination-bar__prev">
        <a href="" class="c-btn c-btn-paginate__alt">Previous</a>
      </div>
      <div class="c-pagination-bar__list o-btn-group">
        <a href="" class="c-btn c-btn-paginate__alt">&laquo;</a>
        <a href="" class="c-btn c-btn-paginate">1</a>
        <a href="" class="c-btn c-btn-paginate">2</a>
        <a href="" class="c-btn c-btn-paginate hidden@lg-down">3</a>
        <a href="" class="c-btn c-btn-paginate hidden@lg-down">4</a>
        <a href="" class="c-btn c-btn-paginate hidden@lg-down">5</a>
        <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
      </div>
      <div class="c-pagination-bar__next">
        <a href="" class="c-btn c-btn-paginate__alt">Next</a>
      </div>
    </div>

  </div>

</div>
