<div class="ui-row">
  <div class="col-sm-12">
    <h2>Search</h2>
    <p>Sitewide search tool. Selected and de-selected</p>
  </div>

  <div class="col-sm-12">

      <form class="o-form--inline c-search-form">
        <div class="o-form__row">
          <div class="o-form--input-pack o-form__input-contain span-wide-6">
            <div class="input-group--addon unstyled input-group--addon__inset">
              <i class="icon icon-search"></i>
            </div>
            <input type="text"
            class="o-input o-input--textual input-addon--expand input-group--addon__inset-left"
            placeholder="Enter Keyword or Product Code">
            <a href="" class="input-group--addon unstyled c-search__button">Search</a>
          </div>
        </div>
      </form>

      <form class="o-form--inline c-search-form has-focus">
        <div class="o-form__row">
          <div class="o-form--input-pack o-form__input-contain span-wide-6">
            <div class="input-group--addon unstyled input-group--addon__inset">
              <i class="icon icon-search"></i>
            </div>
            <input type="text"
            class="o-input o-input--textual input-addon--expand input-group--addon__inset-left"
            placeholder="Enter Keyword or Product Code">
            <a href="" class="input-group--addon unstyled c-search__button">Search</a>
          </div>
        </div>
      </form>

  </div>
</div>


<div class="ui-row">
  <div class="col-sm-12">
    <h2>Single Line Form</h2>
    <p>Email signup etc</p>
  </div>

  <div class="col-sm-12">

      <form class="o-form--inline">
        <div class="o-form__row">
          <div class="o-form--input-pack o-form__input-contain">
            <input type="text" class="o-input o-input--textual" placeholder="Enter Keyword or Product Code">
            <button href="" class="c-btn">Search</button>
          </div>
        </div>
      </form>

      <form class="o-form--inline c-search-form has-focus">
        <div class="o-form__row">
          <div class="o-form--input-pack o-form__input-contain">
            <div class="input-group--addon unstyled input-group--addon__inset">
              <i class="icon icon-search"></i>
            </div>
            <input type="text"
            class="o-input o-input--textual input-addon--expand input-group--addon__inset-left"
            placeholder="Enter Keyword or Product Code">
            <a href="" class="input-group--addon unstyled c-search__button">Search</a>
          </div>
        </div>
      </form>

  </div>
</div>
