<div class="col-lg-12">
  <h1>Navigation</h1>
</div>

      {{> partials/nav-megamenu }}
      {{> partials/nav-search }}
      {{> partials/nav-breadcrumbs }}
      {{> partials/nav-tabspills }}
      {{> partials/nav-pagination }}