        <div class="c-table c-table--spaced c-table--collapses">
          <ul class="tr hidden@sm-down">
            <li class="th">Date of Order</li>
            <li class="th">Items</li>
            <li class="th">Order Number</li>
            <li class="th">Status</li>
            <li class="th">Total</li>
          </ul>
          <ul class="tr">
            <li class="td"><span class="th--inline hidden@md-up">Date of Order</span>28 July 2015</li>
            <li class="td"><span class="th--inline hidden@md-up">Items</span>3</li>
            <li class="td"><span class="th--inline hidden@md-up">Order Number</span>1234567</li>
            <li class="td"><span class="th--inline hidden@md-up">Status</span>Pending</li>
            <li class="td"><span class="th--inline hidden@md-up">Total</span>&pound;50.00</li>
          </ul>
        </div>

        <div class="separator--larger"></div>

        <div class="c-table c-table--spaced c-table--inverted c-table--collapses">
          <ul class="tr">
            <li class="th">Product Description</li>
            <li class="th hidden@sm-down">Colour</li>
            <li class="th hidden@sm-down">Size</li>
            <li class="th hidden@sm-down">Price</li>
            <li class="th hidden@sm-down">Quantity</li>
            <li class="th hidden@sm-down">Sub Total</li>
          </ul>
          <ul class="tr collapse--inline">
            <li class="td">Mens Grey Tee</li>
            <li class="td hidden@sm-down">Grey</li>
            <li class="td hidden@sm-down">Size</li>
            <li class="td hidden@sm-down">&pound;10.00</li>
            <li class="td hidden@sm-down">1</li>
            <li class="td">&pound;10.00</li>
          </ul>
          <ul class="tr collapse--inline">
            <li class="td">Mens Black Hoodie</li>
            <li class="td hidden@sm-down">Grey</li>
            <li class="td hidden@sm-down">Size</li>
            <li class="td hidden@sm-down">&pound;10.00</li>
            <li class="td hidden@sm-down">1</li>
            <li class="td">&pound;10.00</li>
          </ul>
          <ul class="tr collapse--inline">
            <li class="td">Mens Khaki Chinos</li>
            <li class="td hidden@sm-down">Grey</li>
            <li class="td hidden@sm-down">Size</li>
            <li class="td hidden@sm-down">&pound;10.00</li>
            <li class="td hidden@sm-down">1</li>
            <li class="td">&pound;10.00</li>
          </ul>
        </div>

        <div class="hidden@sm-down">
          <div class="separator--larger"></div>

          <h5 class="u-mar-b-large u-font-wb u-font-upper">Billing Details</h5>
          <ul class="u-mar-b-medium">
            <li>Mr John Doe</li>
            <li>Dow</li>
            <li>0 John Doe Avenue</li>
            <li>United Kingdom</li>
            <li>AB1 CD2</li>
          </ul>
        </div>

        <div class="separator--larger"></div>

        <div class="u-cf">
          <p class="u-fr"><span class="u-font-wb">Total (Including Delivery): </span>&pound;50.00</p>
        </div>
        <button class="c-btn c-btn--secondary c-btn--block u-mar-v-large">Track my Order</button>
