<ul class="c-progress-checkout">

  <li class="completed">
        <span class="c-donut"></span>
        Billing Address
  </li>

  <li class="active">
    <span class="c-donut">2</span>
    Delivery Address
  </li>

  <li>
    <span class="c-donut">3</span>
    Delivery Method
  </li>

  <li>
      <span class="c-donut">4</span>Payment Method
  </li>
  <li>
    <span class="c-donut">5</span>Confirmation
  </li>

</ul>
