<ul class="c-progress-checkout c-progress-checkout__5">

  <li class="completed">
      <a href="checkout1.html">
        <span class="c-donut"></span>
        Billing Address
      </a>
  </li>

  <li class="completed">
    <a href="checkout2.html">
    <span class="c-donut"></span>
    Delivery Address
    </a>
  </li>

  <li class="completed">
    <a href="checkout3.html">
    <span class="c-donut"></span>
    Delivery Method
    </a>
  </li>

  <li class="completed">
    <a href="checkout4.html">
      <span class="c-donut"></span>Payment Method
      </a>
  </li>
  <li class="completed">
    <a href="checkout5.html">
    <span class="c-donut"></span>Confirmation
    </a>
  </li>

</ul>
