<ul class="c-progress-checkout c-progress-checkout__5">

  <li class="completed">
        <span class="c-donut"></span>
        Billing Address
  </li>

  <li class="completed">
    <span class="c-donut"></span>
    Delivery Address
  </li>

  <li class="completed">
    <span class="c-donut"></span>
    Delivery Method
  </li>

  <li class="completed">
      <span class="c-donut"></span>Payment Method
  </li>
  <li class="completed">
    <span class="c-donut"></span>Confirmation
  </li>

</ul>
