<ul class="c-progress-checkout c-progress-checkout--1">

  <li class="c-progress-checkout__item active">
    <span class="c-donut">1</span>
    Billing Address
  </li>

  <li class="c-progress-checkout__item">
    <span class="c-donut">2</span>
    Delivery Address
  </li>

  <li class="c-progress-checkout__item">
    <span class="c-donut">3</span>
    Delivery Method
  </li>

  <li class="c-progress-checkout__item">
    <span class="c-donut">4</span>
    Payment Method
  </li>

  <li class="c-progress-checkout__item">
    <span class="c-donut">5</span>
    Confirmation
  </li>

</ul>
