<ul class="c-progress-checkout c-progress-checkout--5">

  <li class="c-progress-checkout__item completed">
    <span class="c-donut">1</span>
    Billing Address
  </li>

  <li class="c-progress-checkout__item completed">
    <span class="c-donut completed">2</span>
    Delivery Address
  </li>

  <li class="c-progress-checkout__item completed">
    <span class="c-donut completed">3</span>
    Delivery Method
  </li>

  <li class="c-progress-checkout__item completed">
    <span class="c-donut completed">4</span>
    Payment Method
  </li>

  <li class="c-progress-checkout__item active">
    <span class="c-donut active">5</span>
    Confirmation
  </li>

</ul>
