<ul class="c-progress-checkout c-progress-checkout__1">

  <li class="active">
        <span class="c-donut">1</span>
        Billing Address
  </li>

  <li>
    <span class="c-donut">2</span>
    Delivery Address
  </li>

  <li>
    <span class="c-donut">3</span>
    Delivery Method
  </li>

  <li>
      <span class="c-donut">4</span>Payment Method
    </li>
  <li>
    <span class="c-donut">5</span>Confirmation
  </li>

</ul>
