<div class="ui-row">
  <div class="col-sm-12">
    <h3>Star Ratings</h3>
  </div>
  <div class="col-sm-12">

   <div class="o-form-input--contain o-option__block filter--list--checkbox">
     <label class="o-form-label o-form-label__option">
       <input type="checkbox">
       <span></span>
       <div class="rating">
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
       </div>
     </label>
     <label class="o-form-label o-form-label__option">
       <input type="checkbox">
       <span></span>
       <div class="rating">
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star"></i>
       </div>
     </label>
     <label class="o-form-label o-form-label__option">
       <input type="checkbox">
       <span></span>
       <div class="rating">
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
       </div>
     </label>
     <label class="o-form-label o-form-label__option">
       <input type="checkbox">
       <span></span>
       <div class="rating">
         <i class="icon icon-star active"></i>
         <i class="icon icon-star active"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
       </div>
     </label>
     <label class="o-form-label o-form-label__option">
       <input type="checkbox">
       <span></span>
       <div class="rating">
         <i class="icon icon-star active"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
       </div>
     </label>
     <label class="o-form-label o-form-label__option">
       <input type="checkbox">
       <span></span>
       <div class="rating">
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
         <i class="icon icon-star"></i>
       </div>
     </label>
   </div>
    <pre>
      <code class="HTML">//Star Ratings<br />
        &lt;div class=&quot;rating&quot;&gt;<br />
        &nbsp; &lt;span&gt;3 star&lt;/span&gt;<br />
        &nbsp; &lt;i class=&quot;icon-star&quot;&gt;&lt;/i&gt;<br />
        &nbsp; &lt;i class=&quot;icon-star&quot;&gt;&lt;/i&gt;<br />
        &nbsp; &lt;i class=&quot;icon-star&quot;&gt;&lt;/i&gt;<br />
        &nbsp; &lt;i class=&quot;icon-star&quot;&gt;&lt;/i&gt;<br />
        &nbsp; &lt;i class=&quot;icon-star&quot;&gt;&lt;/i&gt;<br />
        &lt;/div&gt;
      </code>
    </pre>
  </div>

</div>
