        <div class="row">
          <div class="col-12@xs col-8@lg">
            <h3 class=" u-mar-v-medium">Account Details</h3>
            <form id="createAccountForm" action="#" name="createAccountForm" class="o-form o-form--default">

              <div class="row">
                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label class="">First Name:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input type="text" class="o-input o-input--textual" value="" placeholder="First name" required/>
                      <span class="input__required">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label class="">Last Name:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input type="text" class="o-input o-input--textual" value="" placeholder="Last name" required/>
                      <span class="input__required">*</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label for="dateEntry" class="">DOB:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input id="dateEntry" type="date" class="o-input o-input--textual" placeholder="Enter date of birthr">

                    </div>
                  </div>
                </div>
                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label for="mobileEntry" class="">Mobile:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input id="mobileEntry" type="number" class="o-input o-input--textual" placeholder="Enter mobile number" required>
                      <span class="input__required">*</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label class="">Email Address:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input type="text" class="o-input o-input--textual" value="" placeholder="Email address" required/>
                      <span class="input__required">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label class="">Confirm Email Address:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input type="text" class="o-input o-input--textual" value="" id="emailConfirm" placeholder="Confirm email address" required/>
                      <span class="input__required">*</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label for="passwordEntry" class="">Password:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input id="passwordEntry" type="password"  data-validation="password" class="o-input o-input--textual" placeholder="Enter new password" required>
                      <span class="input__required">*</span>
                    </div>
                  </div>
                </div>

                <div class="col-12@xs col-6@lg">
                  <div class="o-form__row">
                    <div class="o-form__label-contain">
                      <label for="passwordConfirm" class="">Confirm Password:</label>
                    </div>
                    <div class="o-form__input-contain">
                      <input id="passwordConfirm" type="password" data-validation="password-confirm" class="o-input o-input--textual" placeholder="Confirm new password" required>
                      <span class="input__required">*</span>
                    </div>
                  </div>
                </div>
              </div>

                <div class="o-form__row">
                  <div class="o-form__label-contain">
                    <label class="o-form__label-primary">I would like to receive exclusive offers &amp; style advice from Matalan:</label>
                  </div>
                  <div class="o-form__input-contain o-option--inline">
                    <label class="o-form__label-option">
                      <input type="checkbox" checked>
                      <span class="check-holder"></span>
                      via post
                    </label>
                    <label class="o-form__label-option">
                      <input type="checkbox" checked>
                      <span class="check-holder"></span>
                      via email
                    </label>
                  </div>
                </div>
              <button type="submit" form="createAccountForm" class="c-btn c-btn--secondary c-btn--block">Create Account</button>
            </form>
          </div>
          <div class="col-4@lg hidden@md-down u-mar-t-medium">
            <div class="minibag__wrapper--sidebar minibag__wrapper--checkout">
              {{> partials/minibag-checkout-footer }}
            </div>
          </div>
        </div>
