<div class="ui-row">

  <div class="col-sm-12">
    <h1>Roundels</h1>
    <h2>Product List page</h2>
      Help communicate KSP for products. <br>
      Still requires sizing classes
  </div>
  <div class="ui-col-sm-12">

    <div class="u-cf">
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__pri c-roundel--non-iron"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__pri c-roundel--cabin-case"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__pri c-roundel--100-cotton"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__pri c-roundel--more-prints"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__pri c-roundel--real-leather"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__pri c-roundel--coming-soon"></div></div>
    </div>
    <hr>
    <div class="u-cf">
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--100-cotton"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--adjustable-waist"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--coated-leather"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--easy-iron"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--permanent-pleats"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--real-leather"></div></div>
    </div>
    <div class="u-cf">
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--scuff-resistant"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--shower-proof"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--stain-resistant"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--with-stretch"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--lights-up"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--plays-music"></div></div>
    </div>
    <div class="u-cf">
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--teflon-coated"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--smart-crease"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div class="c-roundel c-roundel__sec c-roundel--free-accessory"></div></div>
    </div>
    <hr>
    <div class="u-cf">
      <div class="col-sm-6 col-md-3 col-lg-2"><div data-content="custom 1" class="c-roundel c-roundel__sec c-roundel--custom"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div data-content="custom 2" class="c-roundel c-roundel__sec c-roundel--custom"></div></div>
      <div class="col-sm-6 col-md-3 col-lg-2"><div data-content="custom 3" class="c-roundel c-roundel__sec c-roundel--custom"></div></div>
    </div>

    <pre>
      <code class="HTML">// Roundels<br />
        &lt;div class=&quot;u-cf&quot;&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__pri&nbsp;c-roundel--non-iron&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__pri&nbsp;c-roundel--cabin-case&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__pri&nbsp;c-roundel--100-cotton&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__pri&nbsp;c-roundel--more-prints&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__pri&nbsp;c-roundel--real-leather&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__pri&nbsp;c-roundel--coming-soon&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &lt;/div&gt;<br />
        &lt;hr&gt;<br />
        &lt;div class=&quot;u-cf&quot;&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--100-cotton&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--adjustable-waist&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--coated-leather&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--easy-iron&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--permanent-pleats&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--real-leather&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &lt;/div&gt;<br />
        &lt;div class=&quot;u-cf&quot;&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--scuff-resistant&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--shower-proof&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--stain-resistant&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--with-stretch&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--lights-up&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--plays-music&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &lt;/div&gt;<br />
        &lt;div class=&quot;u-cf&quot;&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--teflon-coated&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--smart-crease&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--free-accessory&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &lt;/div&gt;<br />
        &lt;hr&gt;<br />
        &lt;div class=&quot;u-cf&quot;&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div data-content=&quot;custom&nbsp;1&quot;&nbsp;class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--custom&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div data-content=&quot;custom&nbsp;2&quot;&nbsp;class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--custom&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &nbsp; &lt;div class=&quot;col-sm-2&quot;&gt;&lt;div data-content=&quot;custom&nbsp;&quot;&nbsp;class=&quot;c-roundelc-roundel__sec&nbsp;c-roundel--custom&quot;&gt;&lt;/div&gt;&lt;/div&gt;<br />
        &lt;/div&gt;
      </code>
    </pre>

  </div>
</div>


