    <div class="search-results__footer u-mar-v-large u-cf">

      <div class="c-pagination-bar hidden@md-down u-fr">
        <div class="c-pagination-bar__list">
          <a href="" class="c-btn c-btn-paginate">View All</a>
          <a href="" class="c-btn c-btn-paginate">1</a>
          <a href="" class="c-btn c-btn-paginate">2</a>
          <a href="" class="c-btn c-btn-paginate">3</a>
          <a href="" class="c-btn c-btn-paginate">4</a>
          <a href="" class="c-btn c-btn-paginate">5</a>
          <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
        </div>
      </div>

      <div class="row pagination--dropdown hidden@lg-up">
        <div class="col-3@xs">
          <a href="" class="c-btn c-btn--block c-btn-primary">
            <i class="icon icon-ui-back"></i>
            <span class="hidden@sm-down">Previous</span>
          </a>
        </div>
        <div class="selectbox__contain-mobile col-6@xs">
          <select id="pager" class="selectbox selectbox-full u-fl" >
            <option selected="selected">Page 1 of 10</option>
            <option value="">Page 2 of 10</option>
            <option value="">Page 3 of 10</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
          </select>
        </div>
        <div class="col-3@xs">
          <a href="" class="c-btn c-btn--block c-btn-primary">
            <span class="hidden@sm-down">Next</span>
            <i class="icon icon-ui-forward"></i>
          </a>
        </div>
      </div>

    </div>
