<div id="searchHeader" class="search-results--header u-cf">
  <div class="row">

    <div class="search--header--products col-6@xs col-2@lg hidden@md-down u-pad-r-0">
      <p class="u-color-grey60 u-pad-t-small">0 - 12 of 36 products</p>
    </div>

    <div class="search--header--pagination col-6@lg hidden@md-down ">
      <div class="c-pagination-bar">
        <div class="c-pagination-bar__list u-fl">
          <a href="" class="c-btn c-btn-paginate">View All</a>
          <a href="" class="c-btn c-btn-paginate">1</a>
          <a href="" class="c-btn c-btn-paginate">2</a>
          <a href="" class="c-btn c-btn-paginate">3</a>
          <a href="" class="c-btn c-btn-paginate">4</a>
          <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
        </div>
        <div class="results-layout">
          <a href="" class="js-results-wide ui-icon u-font-no-underline u-mar-l-medium">
            <i class="icon icon-ui-3-across"></i>
          </a>
          <a href="" class="js-results-tight ui-icon u-font-no-underline u-mar-l-small active">
            <i class="icon icon-ui-4-across"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="search--header--sort col-6@xs col-4@lg u-pad-r-0-lg">
      <div class="row">
        <div class="col-3@lg hidden@md-down u-font-ta-r">
          <label for="sortby" class="u-color-grey60 u-pad-t-small u-dis-ib u-pad-r-0">
            <small>Sort By</small>
          </label>
        </div>
        <div class="col-12@xs col-9@lg">
          <div>
            <select id="sortby" class="selectbox select-full">
              <option selected="selected" disabled="disabled">Sort By</option>
              <option value="">Price, High-Low</option>
              <option value="">Price, Low-High</option>
              <option value="">New Arrivals</option>
              <option value="">Best Sellers</option>
              <option value="">Customer Rating</option>
            </select>
          </div>
        </div>
      </div>
    </div>


    <div class="search--header--filter col-6@xs hidden@lg-up js-filters">
      <a class="selectbox selectbox-fake" data-toggle="modal" data-target="#filters__contain">
        <span class="selectbox-label">Filter By</span>
        <span class="selectbox-arrow"><span class="caret"></span></span>
      </a>
    </div>


  </div>
</div>