<div class="ui-row">
  <h1>Tables</h1>
  <div class="ui-grid-left">
    <h3>Default style</h3>
    <p>For basic styling—light padding and horizonal stripes.</p>
  </div>

  <div class="ui-grid-right">

    <table class="c-table c-table__default c-table__striped">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Gaz</td>
          <td>Battersby</td>
          <td>@iamgaz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gaz</td>
          <td>Battersby</td>
          <td>@iamgaz</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Gaz</td>
          <td>Battersby</td>
          <td>@iamgaz</td>
        </tr>
      </tbody>
    </table>

    <pre>
      <code class="HTML">// Tables<br />
        &lt;table class=&quot;c-table c-table__default c-table__striped&quot;&gt;<br />
        &nbsp; &lt;thead&gt;<br />
        &nbsp; &nbsp; &lt;tr&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;th&gt;#&lt;/th&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;th&gt;First Name&lt;/th&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;th&gt;Last Name&lt;/th&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;th&gt;Username&lt;/th&gt;<br />
        &nbsp; &nbsp; &lt;/tr&gt;<br />
        &nbsp; &lt;/thead&gt;<br />
        &nbsp; &lt;tbody&gt;<br />
        &nbsp; &nbsp; &lt;tr&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;td&gt;1&lt;/td&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;td&gt;Gaz&lt;/td&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;td&gt;Battersby&lt;/td&gt;<br />
        &nbsp; &nbsp; &nbsp; &lt;td&gt;@iamgaz&lt;/td&gt;<br />
        &nbsp; &nbsp; &lt;/tr&gt;<br />
        &nbsp; &lt;/tbody&gt;<br />
        &lt;/table&gt;
      </code>
    </pre>


  </div>

</div>
