<div class="row">

  <div class="col-12@xs">
    <h2>Tables</h2>
    <h3>Default style</h3>
    <p>For basic styling—light padding and horizonal stripes.</p>
  </div>

  <div class="col-12@xs">

    <table class="c-table c-table--default c-table--striped">
      {{> partials/table-content }}
    </table>


  </div>

</div>
