<div class="ui-row">
  <h1>Tables</h1>
  <div class="ui-grid-left">
    <h3>Default style</h3>
    <p>For basic styling—light padding and horizonal stripes.</p>
  </div>

  <div class="ui-grid-right">

    <table class="c-table c-table__default c-table__striped">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Gaz</td>
          <td>Battersby</td>
          <td>@iamgaz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gaz</td>
          <td>Battersby</td>
          <td>@iamgaz</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Gaz</td>
          <td>Battersby</td>
          <td>@iamgaz</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>
