 <div class="ui-row">
  <div class="col-12@sm">
    <h2>Typography</h2>
    <h3>Body Copy</h3>
    <p>Matalan&#39;s global default font-size is 14px, with a line-height of 20px. This is applied to the &lt;body&gt; and all paragraphs. In addition, &lt;p&gt; (paragraphs) receive a bottom margin of half their line-height (10px by default).</p>
    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Ullamco <strong>aliquip et anim commodo tempor</strong> exercitation enim officia <em>fugiat aute veniam amet voluptate</em> qui sit excepteur ullamco enim nostrud laborum in reprehenderit pariatur non mollit in do pariatur reprehenderit fugiat irure ut proident ea fugiat nisi non esse ea adipisicing elit nostrud mollit et esse nulla anim culpa quis exercitation aliquip nisi nostrud quis elit ipsum voluptate labore esse ad fugiat incididunt labore minim eu mollit voluptate dolor aliquip nulla excepteur anim labore exercitation reprehenderit eiusmod mollit id irure incididunt incididunt cillum aliquip ut occaecat eiusmod minim.</p>
  </div>
</div>

<div class="ui-row">
  <div class="col-12@sm col-4@md u-font-pri-alt-1">
    <h3>Primary Font - Alternative</h3>
    <h2>Tex Heros</h2>
    <h4>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
    <h4>abcdefghijklmnopqrstuvwxyz</h4>
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>
  <div class="col-12@sm col-4@md u-font-sec">
    <h3>Secondary Font</h3>
    <h2>Archer</h2>
    <h4>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
    <h4>abcdefghijklmnopqrstuvwxyz</h4>
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>
  <div class="col-12@sm col-4@md u-font-alt-alt-1">
    <h3>Alt Font</h3>
    <h2>Times New Roman</h2>
    <h4>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
    <h4>abcdefghijklmnopqrstuvwxyz</h4>
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>
</div>

<!-- <div class="ui-row">
  <div class="col-12@sm col-4@md u-font-pri">
    <h3>Primary Font - Alternative</h3>
    <h2>Helvetica Neue</h2>
    <h4>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
    <h4>abcdefghijklmnopqrstuvwxyz</h4>
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>
  <div class="col-12@sm col-4@md u-font-sec-alt-1">
    <h3>Secondary Font - Alternative</h3>
    <h2>Gentium</h2>
    <h4>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
    <h4>abcdefghijklmnopqrstuvwxyz</h4>
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>
  <div class="col-12@sm col-4@md u-font-alt">
    <h3>Alt Font</h3>
    <h2>Didot</h2>
    <h4>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h4>
    <h4>abcdefghijklmnopqrstuvwxyz</h4>
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>
</div> -->
