<div class="ui-grid-100">
  <div class="panel__callout island">
    <h4 class="u-color-dgrey">Using the grid..</h4>
    <p class="u-color-dgrey" >Grid units are mobile first - define your grid for the smallest viewport, and append classes referencing a higher breakpoint to override when required.</p>
  </div>
</div>
<div>
  <div class="ui-grid-33">

<!-- ======================================================================== -->
<pre>
<code class="html">
/**
 * Grid Units
 *
 * @object {.col-xs-#  xtra small (0px - 320px)}
 * @object {.col-sm-#  small (321px - 719px)}
 * @object {.col-md-#  medium (720px - 1023px)}
 * @object {.col-lg-#  large (1024px - 1279px)}
 * @object {.col-xl-#  xtra large (1280px +)}
 */

&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-sm-2 col-xl-2&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;col-sm-2 col-xl-2&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;col-sm-2 col-xl-2&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;col-sm-2 col-xl-2&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;col-sm-2 col-xl-2&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;col-sm-2 col-xl-2&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
<!-- ======================================================================== -->

</div>
<div class="ui-grid-33">

<!-- ======================================================================== -->
<pre>
<code class="html">
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-12 col-md-6 col-xl-4&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;col-xs-12 col-md-6 col-xl-4&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;col-xs-12 col-md-6 col-xl-4&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
<!-- ======================================================================== -->

</div>
<div class="ui-grid-33">

<!-- ======================================================================== -->
<pre>
<code class="scss">
/**
 * accessible via a Sass mixin
 *
 */

&lt;div class=&quot;custom-component--wrapper&quot;&gt;
&nbsp; &lt;div class=&quot;custom-component--child&quot;&gt;&lt;/div&gt;
&nbsp; &lt;div class=&quot;custom-component--child&quot;&gt;&lt;/div&gt;
&nbsp; &lt;div class=&quot;custom-component--child&quot;&gt;&lt;/div&gt;
&lt;/div&gt;

.custom-component--wrapper {
  @include row;
}
.custom-component--child {
  @include column(xs: 12, md: 6, xl: 4);
}

</code>
</pre>
<!-- ======================================================================== -->

</div>
</div>