// document this
@mixin tab-focus() {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// and this
@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

// and even this
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}


// @mixin position(top,-1 bottom -1) {

//     position: absolute;
//     top: $val;
//     bottom: $val;
//     left: $val;
//     right: $val;
// }