

html.ie {

  // .modal--custom.modal--minibag {
  //   background-color: #aaa;
  //   pointer-events: none;
  // }

  &.no-flexbox .o-minibag--list-actions .c-btn {
    margin-right: 0;
  }




  @include mq($from: lg) {
    body.modal-open--minibag.modal-open {
      // pos important for ie9 scroll
      position: static !important;
      // pad important for scrollbar jump
      padding-right: 0 !important;
    }
  }

}
