// modal
// overrides default modal behaviour for redesigned minibag modal
// removes darkened background, allows scroll, prevents scrollbar pop
// ie targetted separately

@include mq($from: lg) {
  html:not(.ie) .modal-open--minibag.modal-open {
    // pad important for scrollbar pop
    padding-right: 0 !important;
    position: initial;
  }

  html.ios .modal-open--minibag.modal-open {
    position: fixed;
  }

  .modal-open--minibag {
    .modal-backdrop {
      opacity: 0;
    }

    .o-bag-contain {
      pointer-events: none;

      > * {
        pointer-events: auto;
      }
    }
  }
}