

%u-fr,
.u-fr {
  float: right;
}

%u-fl,
.u-fl {
  float: left;
}

// for light gray text (80% opacity)
%u-fade-el,
.u-fade-el {
  opacity: 0.6;
}



.u-cf {
  @include clearfix;
}

.u-round {
  border-radius: 50%
}

.u-r-0 {
  right: 0;
}

.u-font-c{
  text-align: center;
}

.u-font-r{
  text-align: right;
}