/* Text classes */

.meta {
  // @include font-size(11px, 1.1);
  font-size: 90%;
}

%u-font--small,
.u-font--small {
  font-size: 90%;
}

%u-font--smaller,
.u-font--smaller {
  font-size: 85%;
}

%u-font--smallest,
.u-font--smallest {
  font-size: 75%;
}

%u-font--italic,
.u-font--italic {
  font-style: italic;
}

%u-font-pri,
.u-font-pri {
  font-family: 'texheros', Helvetica, Arial, sans-serif;
}

%u-font-sec,
.u-font-sec {
  font-family: 'Archer', Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 500;
}

%u-font-alt,
.u-font-alt {
  font-family: 'Times New Roman', Georgia, Times, 'Didot', serif;
}

%u-font-pri-alt-1,
.u-font-pri-alt-1 {
  font-family: 'texheros', sans-serif;
}

%u-font-sec-alt-1,
.u-font-sec-alt-1 {
  font-family: 'gentium', Georgia, Times, 'Times New Roman', serif;

  // font-style: italic;
  font-weight: normal;
}

%u-font-alt-alt-1,
.u-font-alt-alt-1 {
  font-family: 'Times New Roman', serif;
}

%u-font-upper,
.u-font-upper {
  text-transform: uppercase;
}

%u-font-strikethrough,
.u-font-strikethrough {
  text-decoration: line-through;
}

// for light gray text (80% opacity)
%u-fade-el,
.u-fade-el {
  opacity: .6;
}

// for bold text - weight bold
%u-font-wb,
.u-font-wb {
  font-weight: 600;
}

// for normal text - weight normal
%u-font-wn,
.u-font-wn {
  font-weight: normal;
}

// for light text - weight light
%u-font-wl,
.u-font-wl {
  font-weight: 300;
}

// for italics text - style italic
// %u-font-si,
// .u-font-si {
//   font-style: italic;
// }

%u-font-underline,
.u-font-underline {
  text-decoration: underline !important;

  &::before,
  &::after {
    text-decoration: underline !important;
  }
}

%u-font-no-underline,
.u-font-no-underline {
  text-decoration: none !important;

  &::before,
  &::after {
    text-decoration: none !important;
  }
}

// text align center
.u-font-ta-c {
  text-align: center;
}

// text align left
.u-font-ta-l {
  text-align: left;
}

// text align right
.u-font-ta-r {
  text-align: right;
}

// non-relative font sizer
.u-font-small {
  font-size: .95rem;
}

.u-font-smaller {
  font-size: .85rem;
}

.u-font-smallest {
  font-size: .715rem;
}

.u-font-large {
  font-size: 1.125rem;
}

.u-font-larger {
  font-size: 1.225rem;
}

.u-font-largest {
  font-size: 1.35rem;
}

// relative font sizer
.u-font-small-rel {
  font-size: .95em;
}

.u-font-smaller-rel {
  font-size: .85em;
}

.u-font-smallest-rel {
  font-size: .715em;
}

.u-font-large-rel {
  font-size: 1.125em;
}

.u-font-larger-rel {
  font-size: 1.225em;
}

.u-font-largest-rel {
  font-size: 1.35em;
}