/*
  Example Output

  .u-pad-medium {
    padding: 7px 14px
  }
  .u-pad-v-medium {
    padding-top: 7px;
    padding-bottom: 7px
  }
  .u-pad-h-medium {
    padding-left: 14px;
    padding-right: 14px
  }
  .u-pad-t-medium {
    padding-top: 7px
  }
  .u-pad-b-medium {
    padding-bottom: 7px
  }
  .u-pad-r-medium {
    padding-right: 14px
  }
  .u-pad-l-medium {
    padding-left: 14px
  }
*/

/*
Sizing Sizes
  tiny
  small
  medium
  large
  huge
*/

@each $key, $val in $sizing-sizes {

  .u-pad-#{$key} {
    padding: halve($val) $val;
  }

  .u-pad-v-#{$key} {
    padding-top: halve($val);
    padding-bottom: halve($val);
  }

  .u-pad-h-#{$key} {
    padding-left: $val;
    padding-right: $val;
  }

  .u-pad-t-#{$key} {
    padding-top: halve($val);
  }

  .u-pad-b-#{$key} {
    padding-bottom: halve($val);
  }

  .u-pad-r-#{$key} {
    padding-right: $val;
  }

  .u-pad-l-#{$key} {
    padding-left: $val;
  }

  .u-mar-#{$key} {
    margin: halve($val) $val;
  }

  .u-mar-v-#{$key} {
    margin-top: halve($val);
    margin-bottom: halve($val);
  }

  .u-mar-h-#{$key} {
    margin-left: $val;
    margin-right: $val;
  }

  .u-mar-t-#{$key} {
    margin-top: halve($val);
  }

  .u-mar-b-#{$key} {
    margin-bottom: halve($val);
  }

  .u-mar-r-#{$key} {
    margin-right: $val;
  }

  .u-mar-l-#{$key} {
    margin-left: $val;
  }
}

.u-pad-0 {
  padding: 0 !important;
}

.u-mar-0 {
  padding: 0 !important;
}