.u-scrollbar {

  &::-webkit-scrollbar{
    width: 5px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: $cool-grey-hover;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:active {
    background-color: $cool-grey;
  }

}
