/*
  Example Output

  .u-pad-medium {
    padding: 7px 14px
  }
  .u-pad-v-medium {
    padding-top: 7px;
    padding-bottom: 7px
  }
  .u-pad-h-medium {
    padding-left: 14px;
    padding-right: 14px
  }
  .u-pad-t-medium {
    padding-top: 7px
  }
  .u-pad-b-medium {
    padding-bottom: 7px
  }
  .u-pad-r-medium {
    padding-right: 14px
  }
  .u-pad-l-medium {
    padding-left: 14px
  }
*/

/*
Sizing Sizes Legend
  tiny:   $base-space--tiny    =  round($base-space / 4)  == 4px;
  small:  $base-space--small   =  round($base-space / 2)  == 7px;
  medium: $base-space--medium  =  $base-space             == 14px;
  large:  $base-space--large   =  round($base-space * 1.5)  == 21px;
  huge:   $base-space--huge    =  round($base-space * 2.6)  == 36px;
*/

@each $key, $val in $sizing-sizes {
  %u-pad-#{$key},
  .u-pad-#{$key} {
    padding: halve($val) $val;
  }

  %u-pad-v-#{$key},
  .u-pad-v-#{$key} {
    padding-top: halve($val);
    padding-bottom: halve($val);
  }

  %u-pad-h-#{$key},
  .u-pad-h-#{$key} {
    padding-left: $val;
    padding-right: $val;
  }

  %u-pad-t-#{$key},
  .u-pad-t-#{$key} {
    padding-top: halve($val);
  }

  %u-pad-b-#{$key},
  .u-pad-b-#{$key} {
    padding-bottom: halve($val);
  }

  %u-pad-r-#{$key},
  .u-pad-r-#{$key} {
    padding-right: $val;
  }

  %u-pad-l-#{$key},
  .u-pad-l-#{$key} {
    padding-left: $val;
  }

  %u-mar-#{$key},
  .u-mar-#{$key} {
    margin: halve($val) $val;
  }
  %u-mar-v-#{$key},
  .u-mar-v-#{$key} {
    margin-top: halve($val);
    margin-bottom: halve($val);
  }

  %u-mar-h-#{$key},
  .u-mar-h-#{$key} {
    margin-left: $val;
    margin-right: $val;
  }

  %u-mar-t-#{$key},
  .u-mar-t-#{$key} {
    margin-top: halve($val);
  }

  %u-mar-b-#{$key},
  .u-mar-b-#{$key} {
    margin-bottom: halve($val);
  }

  %u-mar-r-#{$key},
  .u-mar-r-#{$key} {
    margin-right: $val;
  }

  %u-mar-l-#{$key},
  .u-mar-l-#{$key} {
    margin-left: $val;
  }
}

%u-pad-0,
.u-pad-0 {
  padding: 0 !important;
}

%u-mar-0,
.u-mar-0 {
  margin: 0 !important;
}

%u-mar-t-a,
.u-mar-t-a {
  margin-top: auto;
}
%u-mar-r-a,
.u-mar-r-a {
  margin-right: auto;
}
%u-mar-b-a,
.u-mar-b-a {
  margin-bottom: auto;
}
%u-mar-l-a,
.u-mar-l-a {
  margin-left: auto;
}
%u-mar-v-a,
.u-mar-v-a {
  margin-top: auto;
  margin-bottom: auto;
}
%u-mar-h-a,
.u-mar-h-a {
  margin-left: auto;
  margin-right: auto;
}