/* Text classes */

.meta {
  @extend %u-fade-el;
  font-size: 80%;
}

.u-font-pri {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.u-font-sec {
  font-family: 'Archer', Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 500;
}

.u-font-alt {
  font-family: 'Didot', Georgia, Times, 'Times New Roman', serif;
}

.u-font-pri-alt-1 {
  font-family: 'texheros', sans-serif;
}

.u-font-sec-alt-1 {
  font-family: 'gentium', Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
}

.u-font-alt-alt-1 {
  font-family: 'Times New Roman', serif;
}

// for light gray text (80% opacity)
%u-fade-el,
.u-fade-el {
  opacity: .6;
}

// for bold text - weight bold
%u-font-wb,
.u-font-wb {
  font-weight: 600;
}

// for light text - weight light
%u-font-wl,
.u-font-wl {
  font-weight: 300;
}

// for italics text - style italic
%u-font-si,
.u-font-si {
  font-style: italic;
}

%u-font-no-underline,
.u-font-no-underline {
  text-decoration: none !important;
  &:before,
  &:after {
    text-decoration: none !important;
  }
}

// text align center
.u-font-ta-c {
  text-align: center;
}

// text align left
.u-font-ta-l {
  text-align: left;
}

// text align right
.u-font-ta-r {
  text-align: right;
}

// non-relative font sizer
.u-font-small {
  font-size: .925rem;
}

.u-font-smaller {
  font-size: .85rem;
}

.u-font-smallest {
  font-size: .715rem;
}


// relative font sizer
.u-font-small-rel {
  font-size: .925em;
}

.u-font-smaller-rel {
  font-size: .85em;
}

.u-font-smallest-rel {
  font-size: .715em;
}