/**
 * Matalan UI Kit Color helper classes
 */

// THESE COLOURS SHOULD NOT EXIST
 .u-color-customgrey1-investigate-me {color: $faq-grey-light;}
 .u-color-customgrey2-investigate-me {color: $faq-grey-mid;}
// THESE COLOURS SHOULD NOT EXIST


// Brand Colors
.u-color-pri {color: $primary-color;}
.u-bgcolor-pri {background-color: $primary-color;}

.u-color-midgrey {color: $mid-grey;}
.u-bgcolor-midgrey {background-color: $mid-grey;}

.u-color-dgrey {color: $dark-grey;}
.u-bgcolor-dgrey {background-color: $dark-grey;}

.u-color-cgrey {color: $cool-grey;}
.u-bgcolor-cgrey {background-color: $cool-grey;}

.u-color-lgrey {color: $light-grey;}
.u-bgcolor-lgrey {background-color: $light-grey;}

.u-color-white {color: $white;}
.u-bgcolor-white {background-color: $white;}

// Supporting Colors - requested names tbc
.u-color-gold {color: $supp-gold;}
.u-bgcolor-gold {background-color: $supp-gold;}

.u-color-orange {color: $supp-orange;}
.u-bgcolor-orange {background-color: $supp-orange;}

.u-color-magenta {color: $supp-magenta;}
.u-bgcolor-magenta {background-color: $supp-magenta;}

.u-color-purple {color: $supp-purple;}
.u-bgcolor-purple {background-color: $supp-purple;}


// Web colours
.u-color-pri-hover {color: $primary-lighten-90;}
.u-bgcolor-pri-hover {background-color: $primary-lighten-90;}

.u-color-dgrey-hover {color: $dark-grey-hover;}
.u-bgcolor-dgrey-hover {background-color: $dark-grey-hover;}

.u-color-cgrey-hover {color: $cool-grey-hover;}
.u-bgcolor-cgrey-hover {background-color: $cool-grey-hover;}

.u-color-lgrey-hover {color: $light-grey-hover;}
.u-bgcolor-lgrey-hover {background-color: $light-grey-hover;}

.u-color-keyline {color: $keyline-color;}
.u-bgcolor-keyline {background-color: $keyline-color;}



// ===============
// Fading primary color

.u-color-pri100 {color: $primary-lighten-100;}
.u-bgcolor-pri100 {background-color: $primary-lighten-100;}

.u-color-pri90 {color: $primary-lighten-90;}
.u-bgcolor-pri90 {background-color: $primary-lighten-90;}

.u-color-pri80 {color: $primary-lighten-80;}
.u-bgcolor-pri80 {background-color: $primary-lighten-80;}

.u-color-pri70 {color: $primary-lighten-70;}
.u-bgcolor-pri70 {background-color: $primary-lighten-70;}

.u-color-pri60 {color: $primary-lighten-60;}
.u-bgcolor-pri60 {background-color: $primary-lighten-60;}

.u-color-pri50 {color: $primary-lighten-50;}
.u-bgcolor-pri50 {background-color: $primary-lighten-50;}

.u-color-pri40 {color: $primary-lighten-40;}
.u-bgcolor-pri40 {background-color: $primary-lighten-40;}

.u-color-pri30 {color: $primary-lighten-30;}
.u-bgcolor-pri30 {background-color: $primary-lighten-30;}

.u-color-pri20 {color: $primary-lighten-20;}
.u-bgcolor-pri20 {background-color: $primary-lighten-20;}

.u-color-pri10 {color: $primary-lighten-10;}
.u-bgcolor-pri10 {background-color: $primary-lighten-10;}


// ===============
// Fading dark grey color
.u-color-grey100 {color: $dark-grey-lighten-100;}
.u-bgcolor-grey100 {background-color: $dark-grey-lighten-100;}

.u-color-grey90 {color: $dark-grey-lighten-90;}
.u-bgcolor-grey90 {background-color: $dark-grey-lighten-90;}

.u-color-grey80 {color: $dark-grey-lighten-80;}
.u-bgcolor-grey80 {background-color: $dark-grey-lighten-80;}

.u-color-grey70 {color: $dark-grey-lighten-70;}
.u-bgcolor-grey70 {background-color: $dark-grey-lighten-70;}

.u-color-grey60 {color: $dark-grey-lighten-60;}
.u-bgcolor-grey60 {background-color: $dark-grey-lighten-60;}

.u-color-grey50 {color: $dark-grey-lighten-50;}
.u-bgcolor-grey50 {background-color: $dark-grey-lighten-50;}

.u-color-grey40 {color: $dark-grey-lighten-40;}
.u-bgcolor-grey40 {background-color: $dark-grey-lighten-40;}

.u-color-grey30 {color: $dark-grey-lighten-30;}
.u-bgcolor-grey30 {background-color: $dark-grey-lighten-30;}

.u-color-grey20 {color: $dark-grey-lighten-20;}
.u-bgcolor-grey20 {background-color: $dark-grey-lighten-20;}

.u-color-grey10 {color: $dark-grey-lighten-10;}
.u-bgcolor-grey10 {background-color: $dark-grey-lighten-10;}


