// clearfixes
.u-cf {
  @include clearfix;
}
.u-cr {
  clear: right;
}
.u-cl {
  clear: left;
}
.u-cb {
  clear: both;
}
// clearfixes end


.u-dis-b {
  display: block;
}
.u-dis-ib {
  display: inline-block;
}
.u-dis-i {
  display: inline;
}




%u-fr,
.u-fr {
  float: right;
}

%u-fl,
.u-fl {
  float: left;
}

// for light gray text (80% opacity)
%u-fade-el,
.u-fade-el {
  opacity: 0.6;
}

.u-round {
  border-radius: 50%
}

.u-r-0 {
  right: 0;
}

.rotate-icon-45 {
  transform: rotate(45deg);
}
