$mq-classgen-directions: ( t: top, r: right, b: bottom, l: left);
$mq-classgen-models: (pad: padding, mar: margin);
/*
Sizing Sizes Legend
  tiny:   $base-space--tiny    =  round($base-space / 4)  == 4px;
  small:  $base-space--small   =  round($base-space / 2)  == 7px;
  medium: $base-space--medium  =  $base-space             == 14px;
  large:  $base-space--large   =  round($base-space * 1.5)  == 21px;
  huge:   $base-space--huge    =  round($base-space * 2.6)  == 36px;
  */


@mixin make-spacer-classes() {

  @each $shortmod, $model in $mq-classgen-models { //each model
    @each $key, $val in $sizing-sizes { // each size

      @each $shortdir, $dir in $mq-classgen-directions { //each dir
        .u-#{$shortmod}-#{$shortdir}-#{$key} {
          #{$model}-#{$dir}: #{$val};
        }
      } //each dir

      .u-#{$shortmod}-h-#{$key} {
        #{$model}-left: #{$val};
        #{$model}-right: #{$val};
      }
      .u-#{$shortmod}-v-#{$key} {
        #{$model}-top: #{$val};
        #{$model}-bottom: #{$val};
      }

    } // each size
  } //each model
}

@include make-spacer-classes();



@mixin make-responsive-spacer-classes() {

  @each $mq-breakpoint-name in map-keys($mq-breakpoints) { //each bp
    // ignore on first pass until we build a min max bp
    @if variable-exists(previous-bp) {
      @include mq($from: $previous-bp, $until: $mq-breakpoint-name) { //build bp
        @each $shortmod, $model in $mq-classgen-models { //each model
          @each $key, $val in $sizing-sizes { // each size

            @each $shortdir, $dir in $mq-classgen-directions { //each dir
              .u-#{$shortmod}-#{$shortdir}-#{$key}-#{$previous-bp} {
                #{$model}-#{$dir}: #{$val};
              }
            } //each dir
            .u-#{$shortmod}-h-#{$key}-#{$previous-bp} {
              #{$model}-left: #{$val};
              #{$model}-right: #{$val};
            }
            .u-#{$shortmod}-v-#{$key}-#{$previous-bp} {
              #{$model}-top: #{$val};
              #{$model}-bottom: #{$val};
            }

          } // each size
        } //each model
      } // build bp
    }
    $previous-bp: $mq-breakpoint-name;
  } //each bp

}
@include make-responsive-spacer-classes();



/* ============================== *\
    Margin Autos
    \* ============================== */

    %u-mar-t-a,
    .u-mar-t-a {
      margin-top: auto;
    }

    %u-mar-r-a,
    .u-mar-r-a {
      margin-right: auto;
    }

    %u-mar-b-a,
    .u-mar-b-a {
      margin-bottom: auto;
    }

    %u-mar-l-a,
    .u-mar-l-a {
      margin-left: auto;
    }

    %u-mar-v-a,
    .u-mar-v-a {
      margin-top: auto;
      margin-bottom: auto;
    }

    %u-mar-h-a,
    .u-mar-h-a {
      margin-left: auto;
      margin-right: auto;
    }
