.super-header--container {
  padding: 0.5em 0;
  background-color: $dark-grey-lighten-50;
  color: $white;
}

.header--container {
  border-bottom: 2px solid $dark-grey-lighten-10;
}

// bototm border on row
.row-b-b {

}

@mixin same-height() {
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  height: 100%;
}

.header-brand {
  padding: 20px 0;
  max-width: 130px;
  @include mq($until: lg) {
    @include center(xy);
    max-width: 170px;
  }

  img {
    margin-top: 15px;
  }
  @include mq($from: lg) {
    max-width: 240px;
  }
}

.tempHeightClass {
    height: 70px;
    @include mq($from: md) {
      height:90px;
    }
}

.header-button-wrapper {
  @include center(xy);
  a {
      color: $dark-grey-lighten-60;
      text-transform: uppercase;
      font-size: 11px;
  }
}

.header-button-group {
  @include mq($until: lg) {
    margin: 0;
    padding: 0 !important;

  }
}

.header-checkout {
  @include mq($until: lg) {
    margin-bottom:20px;
  }
}

.menu-button {
  // @todo - check me
  position: relative;
  margin-top: -7px;
  display: block;
  cursor: pointer;
  a {
    :hover {
      border-color: $white;
    }
  }
  .c-btn {
    background-color: $white;
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
  }

  i {
    // provides enough width for the icon and some margin
    margin-right: 1em;
    &:before {
      // abs positioning so the doesnt affect button height
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0.25em;
    }
  }
  span {
    position: absolute;
    left: 0.7em;
    display:block;
    color: $dark-grey-lighten-60;
  }
  @include mq($until: md) {
    text-align: left;
  }
}



.o-list-inline-seperated {
  > li {
    display: inline-block;
    padding: 5px 15px;
  }
  li + li {
   border-left: 2px solid #8d8d8d;
  }
}

.auto-width {
  width: auto;
  display: inline-block;
  white-space: nowrap;
  @include clearfix;
}

.va {
  padding: 5px 0;
  margin-bottom: 0;
}

.font-11 {
  font-size: 11px;
}

.header--search-bar {
  @include mq($until: lg) {
    display: none;
  }
  &.active {
    display: inline;
  }
}
