.super-header--container {
  padding: 0.5em 0;
  background-color: $dark-grey-lighten-50;
  color: $white;
}

.header--container {
  .row {
    border-bottom: 2px solid $dark-grey-lighten-10;
  }
}

// bototm border on row
.row-b-b {

}

@mixin same-height() {
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  height: 100%;
}

.header-brand {
  padding: 20px 0;
  max-width: 130px;
  @include center(xy);
  img {
    margin-top: 15px;
  }
  @include mq($from: md) {
    max-width: 170px;
  }
}

.tempHeightClass {
    height: 70px;
    @include mq($from: md) {
      height:90px;
    }
}

.header-button-wrapper {
  @include center(xy);
  a {
      color: $dark-grey-lighten-60;
      text-transform: uppercase;
      font-size: 11px;
  }
}

.header-button-group {
  @include mq($until: lg) {
    margin: 0;
    padding: 0 !important;

  }
}

.header-checkout {
  @include mq($until: lg) {
    margin-bottom:20px;
  }
}

.menu-button {
  @include mq($until: md) {
    text-align: left;
  }
  i {
    line-height: 1.3em;
  }
}



.o-list-inline-seperated {
  > li {
    display: inline-block;
    padding: 5px 15px;
  }
  li + li {
   border-left: 2px solid #8d8d8d;
  }
}

.auto-width {
  width: auto;
  display: inline-block;
  white-space: nowrap;
  @include clearfix;
}

.va {
  padding: 5px 0;
  margin-bottom: 0;
}

.font-11 {
  font-size: 11px;
}
