.o-cards-secure {
  &.o-cards-secure--mybag {
    flex: 1 0;

    @include mq($from: md) {
      text-align: right;
    }


    .svg {
      width: 100%;

      @include mq($until: lg) {
        padding: 0 0.25em;
        height: 2em;
      }


      @include mq($from: lg) {
        padding: 0 0.5em;
        height: 3em;
      }
    }
  }
}

.o-checkout__container {
  @include clearfix;

  // fieldset {
  //   outline: 2px dotted red;

  //   @include clearfix;

  //   position: relative;

  //   &.active,
  //   &.completed {
  //     .o-checkout__content {
  //       display: block;
  //     }

  //     .o-checkout__title {
  //       color: $dark-grey-lighten-100;
  //     }
  //   }
  // }

  .icon-small-tick::before {
    color: $primary-color;
  }
}

.o-checkout__title {
  font-weight: 600;
  cursor: pointer;
  position: relative;
  color: $dark-grey-lighten-40;
}

.o-checkout__content {
  display: none;

  &.active {
    display: block;
  }
}

// .orderlist--item-total {
//   @include mq($until: md) {
//     text-align: right;
//   }
// }

// .orderlist--item-image {
//   @include mq($from: lg) {
//     width: 220px;

//     img {
//       max-width: 80%;
//     }
//   }


//   @include mq($until: lg) {
//     width: 180px;

//     img {
//       max-width: 90%;
//     }
//   }


//   @include mq($until: md) {
//     width: 120px;

//     img {
//       max-width: 100%;
//     }
//   }
// }

@include mq($until: md) {

  .address-picker__block:nth-child(3) {
    font-size: 95%;
    clear: left;
  }
}


@include mq($from: md) {

  .address-picker__block:nth-child(4) {
    clear: left;
  }
}