$filters-border-color: $keyline-color;

// flex end
.o-filters {
  z-index: 1000;
}
// layout begin
@include mq($until: md) {
  .o-filters {
    @include fixed(top 0 right 0 bottom 0 left 0);

    overflow-y: scroll;
  }
}


@include mq($from: md, $until: lg) {
  .o-filters {
    @include fixed(top 1em right 1em bottom 1em left 1em);

    max-width: 580px;
    max-height: 780px;
    margin: auto;
  }
}


// layout end

// small screen specific tweaks to details layout
@include mq($until: lg) {
  .o-filters__list__item {
    position: relative;
  }

  .o-filters {
    padding-top: 1em;
    padding-bottom: 1em;

    .o-filters__header,
    .o-filters__inner,
    .o-filters__footer {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .container .o-filters__contain {
    display: none;
  }
}


// small screen specific tweaks to details layout end

// misc rules

.o-filters {
  background: #fff;
}

.o-filters__contain {
  position: relative;
}

.o-filters__contain.modal--filters {
  @include mq($until: lg) {
    display: none;

    /*     overflow: hidden; */

    @include fixed(top 0 right 0 bottom 0 left 0);

    -webkit-overflow-scrolling: touch;
    outline: 0;
  }


  @include mq($from: lg) {
    display: block;
  }
}

// misc rules end

// separators, borders, and padding begin

// separator within the markup
.o-filters .separator {
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $filters-border-color;
}

// auto separator for the list
.o-filters__list-item:not(:last-child):after {
  content: '';
  display: block;
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $filters-border-color;
}

// separators, borders, and padding end

.filter--title {
  @include font-size(12px, 1.1);

  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 0.5em 0;
  margin-bottom: 0;

  + * {
    margin-top: 1em;
  }
}

.filter--title .icon {
  @include absolute(right 0);

  margin-top: 0.5em;
  color: $cool-grey;

  &::before {
    line-height: 0;
  }
}

.filter__colours {
  .filter__colour {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid $white;
    border-radius: 16px;
  }

  .filter__colour {
    border: 1px solid $light-grey;

    &.active {
      border: 1px solid $cool-grey;
    }
  }

  .filter__colour div {
    width: 24px;
    height: 24px;
    border-radius: 12px;

    @include center(xy);

    background: #000;
  }
}

.container.open .o-filters__contain {
  display: block;
}

@include mq($from: lg) {
  .o-filters {
    padding-top: 0;
  }

  .o-filters__inner {
    padding-left: 0;
    height: auto;
  }

  .filter--list--checkbox label:nth-child(n+9) {
    display: none;
  }

  .filters--show-more {
    float: right;
    display: none;
    text-decoration: none;
    cursor: pointer;
    color: $dark-grey;

    &:nth-child(n+10) {
      display: block;
    }

    .icon {
      float: right;
      margin-top: -3px;
    }
  }

  // custom line height for alignment
  .o-filters__header__title {
    line-height: 36px;
  }

  .filters__clear {
    line-height: 42px;
  }
}


.auto-column__medium {
  -webkit-columns: 3 12em;
}

.icon-plus ~ .collapse,
.icon-minus ~ .expand {
  display: none;
}

.filter--title {
  .meta {
    color: $cool-grey;
    float: right;
  }
}

.filters__clear {
  float: right;
  cursor: pointer;
  color: $dark-grey;
}

.filters--range {
  input {
    display: none;
  }
}

// =============
// New Icon inset Rules
// =============
// currently used for filters lists multi line support
// and increase of tap targets on smaller devices
//
.filter--list--checkbox {
  .o-form__label-option {
    padding-left: 25px;
    position: relative;
    break-inside: avoid;
    display: inline-block;
    width: 100%;

    > .check-holder {
      @include absolute(left 0);
    }

    @include mq($until: lg) {
      padding-left: 28px;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      @include font-size(14px, 1.4);

      > .check-holder {
        width: 22px;
        height: 22px;
        margin-top: -2px;
      }
    }
  }
}

.filter__header__actions--small {
  margin-top: -2px;
  margin-bottom: 7px;

  .filter__header__clear {
    vertical-align: bottom;
  }

  .filter__header__close {
    .icon::before {
      vertical-align: middle;
    }
  }
}