$filters-border-color: $keyline-color;

// flexbox here to allow the inner panel to expand to max allowed size
// flex start ======================================
@include mq($from: md, $until: lg) {
  .o-filters {
    background: $white;
    display: flex;
    flex-direction: column;
    .o-filters__inner {
      flex-grow: 1;
      overflow-y: scroll;
    }
  }
}
// flex end ======================================


// layout begin ======================================
@include mq($until: md) {
  .o-filters {
    @include fixed(top 0 right 0 bottom 0 left 0);
    overflow-y: scroll;
  }
}

@include mq($from: md, $until: lg) {
  .o-filters {
    @include fixed(top 1em right 1em bottom 1em left 1em);
    max-width: 580px;
    max-height: 780px;
    margin: auto;
  }
}

// layout end ======================================


// small screen specific tweaks to details layout ======================================
@include mq($until: lg) {
  .o-filters__list-item-detail {
    .detail--vars {
      clear: both;
      float: left;
    }
    .detail--price {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .o-filters {
    padding-top: 1.5em;
    padding-bottom: 1em;
    .o-filters__header,
    .o-filters__inner,
    .o-filters__footer {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .container .o-filters__contain {
    display: none;
  }
}

// small screen specific tweaks to details layout end ======================================


// misc rules ======================================

.o-filters {
  background: #fff;
}

.o-filters__contain {
  position: relative;
  @include mq($until: lg) {
    // TODO - this is a hack, rewrite JS to fix
    z-index: 4;
  }
}


// misc rules end ======================================

// separators, borders, and padding begin ======================================


// .filter--list--checkbox {
//   padding: 0 !important;
// }



// .o-filters__header {
//   border-bottom: 1px solid $filters-border-color;
// }

// separator within the markup
.o-filters .separator {
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $filters-border-color;
}

// auto separator for the list
.o-filters__list-item:not(:last-child):after {
  content: '';
  display: block;
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $filters-border-color;
}

// separators, borders, and padding end  ======================================

.o-filters__list-total {
  line-height: 1.3;
}


.filter--title {
  @include font-size(12px, 1.1);
  cursor: pointer;
  padding: 0.5em 0;
  margin-bottom: 0;
  + * {
    margin-top: 1em;
  }
}

.filter--title .icon {
  float: right;
  margin-top: -2px; // magic line height fix, pls forgive me
  &:before {
    font-size: 1.5em;
  }
}

.filter--title.collapse + div,
.filter--title.collapse + ul {
  display: none;
}

.filter--colours  {
  li {
    display: inline-block;
    width:30px;
    height:30px;
    border-radius:15px;
    background:#000;
    cursor: pointer;
    border: 4px solid $white;
    // &:hover {
    //   border-style: none;
    // }
  }


}


.container.open .o-filters__contain {
  display: block;
}

// some dev rules for highlights
// .o-filters__list-item-detail {
//   @include mq($until: md) {
//     outline: 1px dotted green;
//   }
//   @include mq($from: md, $until: lg) {
//     outline: 1px dotted red;
//   }
//   @include mq($from: lg) {
//     outline: 1px dotted blue;
//   }
// }

// some dev rules end



@include mq($from: lg) {
  .o-filters {
    padding-top: 0;
  }
  .o-filters__inner {
    padding-left: 0;
    height: auto;
  }

  .filter--list--checkbox label:nth-child(n+9) {
    display:none;
  }

  .filters--show-more {
    float: right;
    display:none;
    text-decoration: none;
    cursor: pointer;
    &:nth-child(n+10) {
      display:block;
    }
    i {
      float: right;
      margin-top: -3px;
    }
  }
}


.auto-column__medium {
  -webkit-columns: 3 12em;
}

.icon-plus ~ .collapse,
.icon-minus ~ .expand  {
  display:none;
}

.icon-minus ~ .meta,
.icon-plus ~ .meta {
  float: right;
}

.clear__filters {
  float: right;
  margin-top: 8px;
  cursor: pointer;
}
