$filters-border-color: $cool-grey;

// flexbox here to allow the inner panel to expand to max allowed size
// flex start ======================================
@include mq($from: md, $until: lg) {
  .o-filters {
    display: flex;
    flex-direction: column;
    .o-filters--inner {
      flex-grow: 1;
      overflow-y: scroll;
    }
  }
}
// flex end ======================================


// layout begin ======================================
@include mq($until: md) {
  .o-filters {
    @include fixed(top 0 right 0 bottom 0 left 0);
    overflow-y: scroll;
  }
}

@include mq($from: md, $until: lg) {
  .o-filters {
    @include fixed(top 1em right 1em bottom 1em left 1em);
    max-width: 580px;
    max-height: 780px;
    margin: auto;
  }
}

// layout end ======================================


// small screen specific tweaks to details layout ======================================
@include mq($until: lg) {
  .o-filters--list-item--detail {
    .detail--vars {
      clear: both;
      float: left;
    }
    .detail--price {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .o-filters {
    padding-top: 1.5em;
    padding-bottom: 1em;
    .o-filters--header,
    .o-filters--inner,
    .o-filters--footer {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .container .o-filters-contain {
    display: none;
  }
}

// small screen specific tweaks to details layout end ======================================


// misc rules ======================================
.o-filters-contain {
  position: relative;
  z-index: 4;
}
.o-filters {
  background: $white;
}

// misc rules end ======================================

// separators, borders, and padding begin ======================================

.o-filters--inner {
  padding-top: 1em;
}

.filter--list--checkbox {
  padding: 0 !important;
  label {
    cursor: pointer;
    margin-bottom: 0.2em !important;
  }
}



// .o-filters--header {
//   border-bottom: 1px solid $filters-border-color;
// }

// separator within the markup
.o-filters .separator {
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $filters-border-color;
}

// auto separator for the list
.o-filters--list-item:not(:last-child):after {
  content: '';
  display: block;
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $filters-border-color;
}

// separators, borders, and padding end  ======================================

.o-filters--list-total {
  line-height: 1.3;
}


.filter--title,
.detail--colours {
  @include font-size(12px, 1.1);
}

.filter--colours  {
  li {
    display: inline-block;
    width:30px;
    height:30px;
    border-radius:15px;
    background:#000;
    cursor: pointer;
  }


}


.container.open .o-filters-contain {
  display: block;
}

// some dev rules for highlights
// .o-filters--list-item--detail {
//   @include mq($until: md) {
//     outline: 1px dotted green;
//   }
//   @include mq($from: md, $until: lg) {
//     outline: 1px dotted red;
//   }
//   @include mq($from: lg) {
//     outline: 1px dotted blue;
//   }
// }

// some dev rules end

// an id!
@include mq($from: lg) {
  #js-clickcatcher-filters {
    background-color: transparent;
  }
}

@include mq($from: lg) {
  .o-filters {
    padding-top: 0;
  }
  .o-filters--inner {
    padding-left: 0;
    height: auto;
  }
}