/* Initial css for header */

// Global message container
.o-super-header--container {
  padding: 0.5em 0;
  background-color: $dark-grey-lighten-50;
  color: $white;
  // overide default padding to keep text center
  p {
    margin-bottom: 0;
  }
}

// main header container coopnsisting of the logo, search bar, checkout
// and bag buttons and off canvass menu button
.o-header--container {
  border-bottom: 1px solid $dark-grey-lighten-10;

  .o-icon-with-addon {
    i:before {
      color: $dark-grey-lighten-60;
    }
    position: relative;
    span {
      color: $white;
      position: absolute;
      background-color: $primary-color;
      min-width: 25px;
      line-height: 1.2em;
      height: 20px;
      top: 12px;
      left: 12px;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 11px;
      font-size: 1em;
    }
  }

  //remove default padding on the search bar
  .o-form-row {
    padding: 0;
  }
  //c ustom button styles for the header icons
  .c-btn {
    border-color: transparent;
    text-transform: uppercase;
    font-size: 0.9em;
    @include mq($until: md) {
      padding-left: 0;
      padding-right: 0;
    }
    &:hover {
      border-color: transparent;
    }
    &.c-btn-header-checkout {
      background-color: $primary-color;
      display: block;
      text-align: center;
      color: $white;
      font-size: 1em;
      font-weight: 500;
    }
  }
}

.o-header--brand {
  max-width: 130px;

  @include mq($from: md) {
    max-width: 155px;
  }

  @include mq($from: lg) {
    max-width: 270px;
  }

  img {
    margin-top: 25px;
    @include mq($from: md) {
      margin-top: 15px;
    }
  }

}

.o-header--search {
  text-align: right;
  @include mq($from: lg) {
    text-align: center;
  }
  i:before {
    color: $dark-grey-lighten-60;
  }
}

.o-header--menu-button {
  // @todo - check me
  position: relative;
  display: block;
  cursor: pointer;
  color: $dark-grey-lighten-60;
  a {
    :hover {
      border-color: $white;
    }
  }

  i {
    // provides enough width for the icon and some margin
    // margin-right: 1em;
    &:before {
      color: $dark-grey-lighten-60;
      // abs positioning so the doesnt affect button height
      // position: absolute;
      // top: 0;
      // bottom: 0;
      // left: 0.25em;
    }
  }
  span {
    color: $dark-grey-lighten-60;
    position: absolute;
    left: 1em;
    display:block;
    font-size: 0.8em;

  }
  @include mq($until: md) {
    text-align: left;
  }
}

.o-list-inline-seperated {
  margin-top: 10px;
  text-align: right;
  font-size: 11px;
  a {
    color: $dark-grey-lighten-60;
  }
  > li {
    display: inline-block;
    padding: 5px 15px;
  }
  li + li {
   border-left: 2px solid $dark-grey-lighten-10;

  }
}

.header--search-bar {
  @include mq($until: lg) {
    display: none;
  }

  &.active {
    display: inline;

    @include mq($until: lg) {
      margin-top: 10px;
    }

    @include mq($until: md) {
      margin-bottom: 20px;
    }
  }
}

//header utility classes

//margin-top-20
.header-mt-20 {
  margin-top: 20px;
  @include mq($until: lg) {
    margin-top: 10px;
  }
}

.header-pb-20 {
  padding-bottom: 0px;
  @include mq($from: md) {
    padding-bottom: 20px;
  }
}

.header-p-0 {
  padding: 0;
}
