.o-hero {
  position: relative;
  overflow: hidden;
}

.o-hero__container {
  position: relative;
  @include make-container();
  max-width: $container-maxwidth;
  min-height: 465px;
}

.o-hero__bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include mq($until: md) {
    background-color: #EEEEF0;
    background-position: 25% 150px;
  }
}

.o-hero__detail-right {
  @include center(x, abs);
  text-align: center;
  @include mq($until: md) {
    width: 100%;
  }

  @include mq($from: md) {
    @include center(y, abs);
    right: 1em;
    text-align: right;
  }

}



.o-hero__detail-title {
    @include font-size(70px, 80px);
    // kerning for large hero title
    letter-spacing: -0.04em;
    color: $primary-color;
}

.o-hero__detail-sub {
  @include font-size(18px, 20px);
}

.o-hero__detail-btn-group {
  .c-btn {
    background-color: $white;
    border-style: 1px solid;
    border-color: $white;
    &:hover {
      background-color: transparent;
      border-color: $white;
      color: $black;
    }
  }
}

.o-hero__ribbon{
  width: 220px;
  background: $white;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  color: $white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.o-hero__bar {
  width: 100%;
  text-align: center;
  color: $white;
  vertical-align: middle;
  padding: 0.1em;
}

.o-hero__ribbon__top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.o-hero__ribbon__red {
  background: $primary-color;
}