.o-hero {
}

.o-hero--container {
  position: relative;
  @include make-container();
  max-width: $container-maxwidth;
  min-height: 465px;
}

.hero--bg {
  background-size: cover;
  background-position: top center;
}

.hero--detail--right {
  @include center(y, abs);
  right: 1em;
  text-align: right;
}

.hero--detail-title {
    @include font-size(18px, 20px);
}