.o-hero {
    position: relative;
    overflow: hidden;
}

.o-hero__container {
    position: relative;
    @include make-container();
    max-width: $container-maxwidth;
    min-height: 465px;
}

.o-hero__container--abbey {
    position: relative;
    @include make-container();
    height: calc(100vh - 59px);
    max-width: $container-maxwidth;
    @include mq($until: lg) {
        height: calc(100vh - 59px);
    }
    @include mq($from: lg) {
        height: calc(100vh - 187px);
    }
}

.o-hero__bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    @include mq($until: md) {
        background-color: #EEEEF0;
        background-position: 25% 150px;
    }
    img {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.o-hero__detail-right {
    @include center(x, abs);
    text-align: center;
    @include mq($until: md) {
        width: 100%;
    }
    @include mq($from: md) {
        @include center(y, abs);
        right: 1em;
        text-align: right;
        left: 30%;
    }
}

.o-hero__detail-center {
    @include center(y, abs);
    text-align: center;
    color: $white;
    width: 70%;
    left: 15%;
    h1 {
        text-transform: uppercase;
        @include font-size(60px);
        @include mq($from: md) {
            @include font-size(78px);
        }
        @include mq($from: lg) {
            @include font-size(110px);
        }
        font-weight: bold;
    }
    h3 {
        font-family: "Times New Roman";
    }
}

.o-hero__detail-center-right {
    @include center(y, abs);
    text-align: center;
    color: $dark-grey;
    width: 50%;
    @include mq($until: md) {
      top: 30%;
      width: 70%;
    }

    right: 0%;
    h1 {
        text-transform: uppercase;
        @include font-size(60px);
        @include mq($from: md) {
            @include font-size(78px);
        }
        @include mq($from: lg) {
            @include font-size(80px);
        }
        font-weight: bold;
    }
    h3 {
        font-family: "Times New Roman";
    }
}

.o-hero__detail--bottom-right {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 80%;
    text-align: left;
    @include mq($from: lg) {
        width: 40%;
    }
    p {
        @include font-size(11px);
    }
}

.o-hero__detail-title {
    @include font-size(48px, 48px);
    // kerning for large hero title
    letter-spacing: -0.04em;
    color: $primary-color;
    @include mq($from: md) {
        @include font-size(70px, 80px);
    }
}

.o-hero__detail-sub {
    @include font-size(18px, 20px);
}

.o-hero__detail-btn-group {
    .c-btn {
        background-color: $white;
        border-style: 1px solid;
        border-color: $white;
        &:hover {
            background-color: transparent;
            border-color: $white;
            color: $black;
        }
    }
}

.o-hero__ribbon {
    width: 220px;
    background: $white;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    color: $white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.o-hero__bar {
    width: 100%;
    text-align: center;
    color: $white;
    vertical-align: middle;
    padding: 0.1em;
}

.o-hero__ribbon__top-right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.o-hero__ribbon__red {
    background: $primary-color;
}
