$minibag-border-color: $keyline-color;
$minibag-desktop-width: 353px;

// double classes for specificty hack - overriding button focus z index
// these are the desktop buttons that open / close the modal
.js-minibag--checkout.js-minibag--checkout,
.js-minibag--view.js-minibag--view {
  z-index: 1050;
  position: relative;
}

// temp
.o-bag--list-item--detail {
  min-height: 110px;

  // magic - min height for avg item - required for slider maths
}

// rules for modal bag height
.o-bag--inner {
  @include mq($from: md, $until: lg) {
    // MAGIC tablet height
    max-height: 380px;
  }


  @include mq($from: md, $until: lg, $and: "(orientation: landscape)") {
    // MAGIC tablet height
    max-height: 245px;
    overflow-x: hidden;
    overflow-y: scroll;
  }


  @include mq($from: md, $until: lg, $and: "(orientation: portrait)") {
    // MAGIC tablet height
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

// layout begin ======================================

@include mq($until: md) {
  .o-bag {
    @include fixed(top 0 left 0 right 0 bottom 0);

    overflow-y: scroll;
  }
}


@include mq($from: md, $until: lg) {
  .o-bag {
    @include fixed(top 1em right 1em bottom 1em left 1em);

    max-width: 580px;
    max-height: 780px;
    margin: auto;
    overflow: hidden;
  }

  .o-bag--list-item--control {
    margin-top: 1em;
  }

  .o-bag--control--select {
    position: absolute;
    right: 0;
  }
}


@include mq($from: lg) {
  .modal-content.o-bag {
    position: absolute;
    width: $minibag-desktop-width;
    right: -1em;
  }
}


// layout end ======================================

// small screen specific tweaks to details layout
@include mq($until: lg) {
  .o-bag--list-item--detail {
    .detail--description {
      float: left;
      max-width: 75%;
    }

    .detail--vars {
      clear: both;
      float: left;
    }

    .detail--price {
      float: right;
      max-width: 25%;
    }
  }
}


// small screen specific tweaks to details layout end

// misc rules ======================================
.o-bag {
  border: 1px solid $light-grey;
  background: $white;
}

.o-bag--list-actions {
  img {
    cursor: pointer;
  }
}

// misc rules end
// ======================================

// separators, borders, and padding begin
// ======================================

.o-bag {
  overflow-x: hidden;
  padding-bottom: 1em;

  .o-bag--header,
  .o-bag--inner,
  .o-bag--footer {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.o-bag--inner {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

// separators, borders, and padding end  ======================================
.o-bag--list-item--image {
  img {
    width: 100%;
  }
}

.o-bag--list-total {
  line-height: 1.3;
}

.detail--description {
  font-size: .9rem;
  line-height: 1.4;
  margin-bottom: 0.5em;
  display: block;
}

.detail--vars,
.detail--price {
  @include font-size(12px, 1em);
}

@include mq($until: lg) {
  .o-bag-list--itemtable {
    .detail--price {
      @include font-size(14px, 2);
    }
  }
}


.o-bag--control--remove {
  @include font-size(10px, 1.2);

  text-transform: uppercase;

  span {
    font-size: 1.5em;
  }

  @include mq($until: md) {
    padding-left: 15px;
  }


  @include mq($until: lg) {
    // need to include these button styles raw, we can't extend into a media query
    .link {
      @include style-variant($color: $dark-grey, $background: $white, $border: $dark-grey);

      @include button-size($button-padding-y, $button-padding-x, 1em, $base-line-height);

      border: 1px solid;
      display: inline-block;

      &.hover,
      &:hover,
      &:focus {
        text-decoration: underline;

        @include style-variant($color: $dark-grey, $background: $white, $border: $dark-grey-hover);
      }
    }
  }


  @include mq($from: lg) {
    margin-top: 1em;
  }
}

.color-swatch__inline {
  width: 1em;
  padding-top: 1em;
  display: inline-block;
  border-radius: 50%;
}

@include mq($from: lg) {
  .body--modal-open {
    .js-minibag--view,
    .js-minibag--checkout {
      position: relative;
      z-index: 5;
    }

    .js-minibag--view {
      background: $white;
    }
  }
}


// auto separator for the list
.modal--minibag,
.o-bag--list-contain {
  .o-bag--list-item:not(:last-child):after {
    content: '';
    display: block;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-bottom: 1px solid $minibag-border-color;
  }
}

// copied for auto separator for the mybag
.o-bag--list-item:not(:last-child):after {
  @include mq($until: lg) {
    content: '';
    display: block;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-bottom: 1px solid $minibag-border-color;
  }
}

// ===================
// desktop slick rules
// ===================

.o-bag--list-contain {
  .o-bag--list-item:focus {
    outline: none;
  }

  .slick-arrow {
    display: block;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .slick-prev {
    margin-bottom: 0.5em;
  }

  .slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}