.o-product-detail {
  @include clearfix();
  fieldset {
    position: relative;
    .icon {
      @include center(y, abs);
      right: 0;
      &:before {
        color: $cool-grey;
      }
    }
  }




}