.o-section {
  @include column( (xs: 12));
  margin: 5px 0;
}

.o-section-department--slick .slick-slide {
  min-height: 150px;
}

.o-section-department--outer {
  // border: 1px solid red;
  min-height: 150px;
  padding: 0.5em;
  position: relative;
  &:focus {
    outline: none;
  }
}

.o-section-department--inner {
  border: 1px solid $cool-grey;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  content: "";
}
.o-section-department--title {
  @include center(x,abs);
  color: $primary-color;
  background-color: $white;
  top: -18px;
  padding: 5px 40px;
  @include font-size(20px, 22px);
}

.o-section-department--link.o-section-department--link {
  border: 1px solid $cool-grey;
  @include center(x,abs);
  background-color: $white;
  bottom: -18px;
  padding: 5px 40px;
  @include font-size(12px, 22px);
  text-transform: uppercase;
  text-decoration: none;
}

.o-section-department--list {
  width: 66%;
  padding: 10px;
  float: left;
  height: 100%;
  ul {
    column-count: 2;
    height: 100%;
  }
}

.o-section-department--image {
  width: 33%;
  height: 100%;
  float: right;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height:130px;
  }
}

.o-section

.o-section--item--full {
  min-height:465px;
}

.o-section--item--half {
  min-height:465px;
}

.o-section--item--third {
  min-height:265px;
}

.o-section--item--quarter {
  min-height:265px;
}


.o-section--bg {
  background-size: cover;
  background-position: top center;
}

.o-section-detail--outer {
  padding: 5px;
  width: 70%;
}

.o-section-detail--outer__border {
  padding: 5px;
  width: 70%;
  border: 1px solid $white;
}

.o-section-detail--outer:after {
  content:"";
  display:table;
  clear:both;
}

.o-section--detail {
  background-color: $white;
  padding: 5px 5px;
  color: $primary-color;
}

.o-section--detail--center {
  @include center(xy,abs);
}

.o-section--detail--top {
  @include center(x,abs);
  top: 1em;
}

.o-section--detail--bottom {
  @include center(x,abs);
  bottom: 1em;
}

.o-section--detail--midright {
  @include center(y,abs);
  right: 1em;
}


.o-section--detail--midleft {
  @include center(y,abs);
  left: 1em;
}

.o-section--detail-title {
  @include font-size(22px, 24px);
  color: $dark-grey;
}

// .o-section--pos__top {

// }
// .o-section--pos__bottom {
//   @include absolute(bottom 1em);
// }
// .o-section--pos__center {

// }
// .o-section--pos__midright {

// }
// .o-section--pos__midleft {

// }
//
.left-box-arrow,
.right-box-arrow {
  background-color: $primary-color;
}
.left-box-arrow {
  @include arrow(bottom, middle, $primary-color);

  @include mq($from: md) {
    @include arrow(left, middle, $primary-color);
  }
}

.right-box-arrow{
  @include arrow(bottom, middle, $primary-color);

  @include mq($from: md) {
    @include arrow(right, middle, $primary-color);
  }
}

.o-section--link {
  @include center(x, abs);
  bottom: 4em;
  @include font-size(20px, 40px);
  color: $white;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $white;
  }
}

.o-section-detail--link {
  text-decoration: underline;
  padding: 1em;
}
