.search-results__side {
  @include column( (xs: 2.5) );
}

.search-results__main {
  @include column( (xs: 12, lg: 9.5) );
}

@include mq($until: lg) {
  .search--header--filter {
    padding-right: 0;
  }
  .search--header--sort {
    padding-left: 0;
  }
}

@include mq($from: lg) {
  .search--header--products {
    padding-left: 0;
  }
  .search--header--sort {
    padding-right: 0;
  }
}



// header grid overrides
// .search-results--header {
//   @include mq($until: lg) {
//     @include clearfix;
//   }
//   @include mq($from: lg) {
//     @include clearfix;
//   }
// }




.search-results--header {
  @include border-tb-default(1px);
  padding: 0.5em 0;
  margin-bottom: 1em;

  // @include mq($from: lg) {
  //   .search--header--products {
  //     // padding-left: 0;
  //   }
  //   .search--header--sort {
  //     // padding-right: 0;
  //   }
  // }
  // @include mq($until: lg) {
  //   .search--header--filter {
  //     // padding-right: 0;
  //   }
  //   .search--header--sort {
  //     // padding-left: 0;
  //   }
  // }
}

.search-results--item {
  .results__image {
    position: relative;
    .img {
      width: 100%;
    }
  }
}

.search--header--products {
  @include font-size(12px);
}

@include mq($from: xs, $until: md) {
  .search-results--item {
    &:nth-child(2n+1) {
      clear: left;
    }
  }
}

@include mq($from: md, $until: lg) {
  .search-results--item {
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}

@include mq($from: lg) {
  .search-results__tight {
    .search-results--item {
      @include column( (lg: 3));
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
  .search-results__wide {
    .search-results--item {
      @include column( (lg: 4));
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}

/* Flexbox display of tiles where supported, allows bottom alignment of buttons */

html.flexbox {
  .search-results--inner {
    display: flex;
    flex-wrap: wrap;
  }
  .search-results--item {
    display: flex;
    flex-direction: column;
    .results__detail {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .c-btn-primary__alt {
      margin-left: auto;
      margin-right: auto;
    }
  }
}


/* Handling for tile width icons */

.js-results-tight {
  margin-left: 1em;
}

.js-results-tight,
.js-results-wide {
  i:before {
    font-size: 2.4em;
  }
}

.js-results-tight {
  .icon-ui-tight {
    display: none;
  }
  &.active {
    .icon-ui-tight-o {
      display: none;
    }
    .icon-ui-tight {
      display: initial;
    }
  }
}

.js-results-wide {
  .icon-ui-wide {
    display: none;
  }
  &.active {
    .icon-ui-wide-o {
      display: none;
    }
    .icon-ui-wide {
      display: initial;
    }
  }
}
