.o-section {
  // @include column( (xs: 12));
  margin: 5px 0;
}

.o-section
.o-section--item--full {
  min-height: 465px;
}

.o-section--item--half {
  min-height: 465px;
}

.o-section--item--third {
  min-height: 265px;
}

.o-section--item--quarter {
  min-height: 265px;
}

.o-section--bg {
  background-size: cover;
  background-position: top center;
}

.o-section-detail--outer {
  padding: 5px;
  width: 70%;
}

.o-section-detail--outer__border {
  padding: 5px;
  width: 70%;
  border: 1px solid $white;
}

.o-section-detail--outer:after {
  content: "";
  display: table;
  clear: both;
}

.o-section__detail {
  background-color: $white;
  padding: 5px 5px;
  color: $primary-color;
}

.o-section__detail--center {
  @include center(xy, abs);
}

.o-section__detail--top {
  @include center(x, abs);

  top: 1em;
}

.o-section__detail--bottom {
  @include center(x, abs);

  bottom: 1em;
}

.o-section__detail--midright {
  @include center(y, abs);

  right: 1em;
}

.o-section__detail--midleft {
  @include center(y, abs);

  left: 1em;
}

.o-section__detail-title {
  @include font-size(25px, 30px);

  color: $dark-grey;
}

// .o-section--pos__top {

// }

// .o-section--pos__bottom {
//   @include absolute(bottom 1em);
// }

// .o-section--pos__center {

// }

// .o-section--pos__midright {

// }

// .o-section--pos__midleft {

// }
//
.left-box-arrow,
.right-box-arrow {
  background-color: $primary-color;
}

.left-box-arrow {
  @include arrow(bottom, middle, $primary-color);

  @include mq($from: md) {
    @include arrow(left, middle, $primary-color);
  }
}

.right-box-arrow {
  @include arrow(bottom, middle, $primary-color);

  @include mq($from: md) {
    @include arrow(right, middle, $primary-color);
  }
}

.o-section--link {
  @include center(x, abs);

  bottom: 4em;

  @include font-size(20px, 40px);

  color: $white;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $white;
  }
}

.o-section__detail-link {
  text-decoration: underline;
  padding: 1em;
}